<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns:j2ee="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
    http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <display-name>eGov Assets</display-name>

    <!-- Context Configuration locations for Spring XML files -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            classpath*:/applicationContext.xml
            /WEB-INF/applicationContext*.xml 
            /WEB-INF/security.xml
        </param-value>
    </context-param>
    
    <!-- ParentContext which loads all beans that are shared across modules -->
    <context-param>
        <param-name>locatorFactorySelector</param-name>
        <param-value>classpath*:org/egov/infstr/beanfactory/erpApplicationContext.xml</param-value>
    </context-param>
    <context-param>
        <param-name>parentContextKey</param-name>
        <param-value>erpApplicationContext</param-value>
    </context-param>
    
    <filter>
	    <filter-name>CacheControlFilter</filter-name>
	    <filter-class>org.egov.infstr.client.filter.CacheControlFilter</filter-class>
		<!--The below init-param is only required if you want to cache your static content more than a  month or less, by default CacheControlFilter is configured for 1 month cache-->
	    <init-param>
		<param-name>expireInSeconds</param-name>
		<param-value>2592000</param-value>
		 </init-param>
    </filter>
    <filter>
        <filter-name>CharacterEncodingFilter</filter-name>
        <filter-class> org.springframework.web.filter.CharacterEncodingFilter </filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>

     <filter-mapping>
	    <filter-name>CacheControlFilter</filter-name>
	    <url-pattern>*.js</url-pattern>
	    <url-pattern>*.css</url-pattern>
	    <url-pattern>*.jpg</url-pattern>
	    <url-pattern>*.png</url-pattern>
	    <url-pattern>*.gif</url-pattern>
	    <url-pattern>*.ico</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CharacterEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- JNDI Session Filter -->
    <filter>
        <filter-name>JSPJNDISession</filter-name>
        <filter-class>
            org.egov.infstr.client.filter.SetThreadLocals
        </filter-class>
    </filter>
    <filter-mapping>
        <filter-name>JSPJNDISession</filter-name>
        <url-pattern>*.do</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>JSPJNDISession</filter-name>
        <url-pattern>*.action</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>JSPJNDISession</filter-name>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>JSPJNDISession</filter-name>
        <url-pattern>/j_security_check</url-pattern>
    </filter-mapping>

    <!-- Hibernate Session Filter -->
    <filter>
        <filter-name>hibernateSession</filter-name>
        <filter-class>
            org.egov.infstr.client.filter.HibSessionServletFilter
        </filter-class>
        <init-param>
            <param-name>singleSession</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>hibernateSession</filter-name>
        <url-pattern>*.do</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>hibernateSession</filter-name>
        <url-pattern>*.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>hibernateSession</filter-name>
        <url-pattern>*.action</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>hibernateSession</filter-name>
        <url-pattern>/j_security_check</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>

    <!-- ACEGI Security Filter -->
    <filter>
		<filter-name>securityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>

    <filter-mapping>
        <filter-name>securityFilterChain</filter-name>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>securityFilterChain</filter-name>
        <url-pattern>*.do</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>securityFilterChain</filter-name>
        <url-pattern>*.action</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>securityFilterChain</filter-name>
        <url-pattern>/j_security_check</url-pattern>
    </filter-mapping>

    <!-- Security Filter -->
    <filter>
        <filter-name>security-filter</filter-name>
        <filter-class>
            org.egov.infstr.client.filter.SetSessionVarFilter
        </filter-class>
    </filter>
    <filter-mapping>
        <filter-name>security-filter</filter-name>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>security-filter</filter-name>
        <url-pattern>*.do</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>security-filter</filter-name>
        <url-pattern>*.action</url-pattern>
        <url-pattern>*.htm</url-pattern>
    </filter-mapping>

    <!-- Enable this filter to prevent from XSS attack -->
    <filter>
        <filter-name>XSSFilter</filter-name>
        <filter-class>org.egov.infstr.security.filter.XSSFilter</filter-class>
    </filter>
    <!-- Enable this filter to prevent from XSS attack -->
    <filter-mapping>
        <filter-name>XSSFilter</filter-name>
        <url-pattern>*.do</url-pattern>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>
    
    <!-- for siteMesh put  sitemesh-2.2.1.jar in WEB_INF/lib-->
    <filter>
        <filter-name>sitemesh</filter-name>
        <filter-class>
            com.opensymphony.module.sitemesh.filter.PageFilter
        </filter-class>
    </filter>
    <filter-mapping>
        <filter-name>sitemesh</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- Response Override Filter-->
    <filter>
        <filter-name>ResponseOverrideFilter</filter-name>
        <filter-class>
            org.displaytag.filter.ResponseOverrideFilter
        </filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ResponseOverrideFilter</filter-name>
        <url-pattern>*.do</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ResponseOverrideFilter</filter-name>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ResponseOverrideFilter</filter-name>
        <url-pattern>*.action</url-pattern>
    </filter-mapping>

    <!-- Listeners -->
    <listener>
        <description>SessionAttributeListener</description>
        <listener-class>
            org.egov.infstr.client.listener.EgovSessionAttributeListener
        </listener-class>
    </listener>
    <listener>
        <listener-class>
            org.springframework.web.context.ContextLoaderListener
        </listener-class>
    </listener>
    <!-- used to track session events (single user session) -->
    <listener>
        <listener-class>
            org.acegisecurity.ui.session.HttpSessionEventPublisher
        </listener-class>
    </listener>

    <!-- Filter Dispatcher for Struts 2 -->
    <filter>
        <filter-name>struts2</filter-name>
        <filter-class>
            org.apache.struts2.dispatcher.FilterDispatcher
        </filter-class>
        <init-param>
            <param-name>actionPackages</param-name>
            <param-value>org.egov.asset.web.action</param-value>
        </init-param>
        <init-param>
            <param-name>struts.codebehind.pathPrefix</param-name>
            <param-value>/WEB-INF/jsp/assets/</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>struts2</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- Welcome Page -->
    <welcome-file-list>
        <welcome-file>eGov.jsp</welcome-file>
    </welcome-file-list>

    <!-- Error Page -->
    <error-page>
        <error-code>500</error-code>
        <location>/error/error.jsp</location>
    </error-page>

    <!-- Tag Library Descriptors -->
    <taglib>
        <taglib-uri>/struts-tags</taglib-uri>
        <taglib-location>/WEB-INF/struts-tags.tld</taglib-location>
    </taglib>
    
    <taglib>
        <taglib-uri>/struts-bean</taglib-uri>
        <taglib-location>/WEB-INF/struts-bean.tld</taglib-location>
    </taglib>
    
    <taglib>
        <taglib-uri>/struts-html</taglib-uri>
        <taglib-location>/WEB-INF/struts-html.tld</taglib-location>
    </taglib>
    
    <taglib>
         <taglib-uri>http://displaytag.sf.net</taglib-uri>
         <taglib-location>/WEB-INF/displaytag.tld</taglib-location>
    </taglib>
    
    <taglib>
        <taglib-uri>/sitemesh-page</taglib-uri>
        <taglib-location>/WEB-INF/sitemesh-page.tld</taglib-location>
    </taglib>
    
    <taglib>
        <taglib-uri>/sitemesh-decorator</taglib-uri>
        <taglib-location>
            /WEB-INF/sitemesh-decorator.tld
        </taglib-location>
    </taglib>

</web-app>
