<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd" default-lazy-init="true">

    <bean id="complaintPersistenceService" parent="persistenceService">
        <property name="type" value="org.egov.pgr.entity.Complaint" />
    </bean>
        
    <bean id="ComplaintWorkflowTypeService" class="org.egov.infra.workflow.inbox.AbstractWorkflowTypeService">
         <constructor-arg index="0" ref="complaintPersistenceService"/>
    </bean>
        
</beans>
