table.its{
	width: 100%;
	}

table.its th {
   height: 28px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-right-style: solid;
  border-bottom-style: solid;
  border-right-color: #84B1AD;
  border-bottom-color: #84B1AD;
  font-family: semibold;
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  padding: 4px;
  background-color: #8CBBB7;
  background-image:none;
  text-align: center;
}


table.its th.sorted a, th.sortable a {
    background-position: right center;
    display: block;
}

table.its th.order1 a {
	background-image: url(/egi/resources/erp2/images/arrow_down.png) !important;
}
table.its th.order2 a {
	background-image: url(/egi/resources/erp2/images/arrow_up.png) !important;
}
table.its th.sorted a, .table th.sortable a {
background-position:right center;
background-repeat:no-repeat;
display:block;
}
table.its tr.even {
background:none repeat scroll 0 0 #EEEEEE;
	height: 30px;
	color: #000000;
    border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #E9E9E9;
	border-bottom-color: #E9E9E9;
}
table.its tr.odd {
background:none repeat scroll 0 0 #FFFFFF;
	height: 30px;
	color: #000000;
  	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #E9E9E9;
	border-bottom-color: #E9E9E9;
}

table.its tr td{
	border: 1px solid #e9e9e9;
	font-size:12px;
    padding: 5px;
}
}

a, a:link a:active {
color:blue;
text-decoration:none;
}

