@charset "utf-8";
/* CSS Document */

body {
	margin: 10px auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 120%;
}
.menu_list {	
	width: 100%;
}
.menu_head {
	padding: 5px 10px;
	cursor: pointer;
	position: relative;
	margin:1px;
	font-weight:bold;
	background-color: #92b4d5;
	background-repeat: no-repeat;
	background-position: right center;
	background-image: url(../image/left.png);
}
.menu_body {
	display:none;
	line-height: 22px;
	font-size: 11px;
	background-color: #FFF;
}
.menu_body a{
  display:block;
  color:#006699;
  background-color:#EFEFEF;
  padding-left:10px;
  font-weight:bold;
  text-decoration:none;
}
.menu_body a:hover{
  color: #000000;
  text-decoration:underline;
  }
