body {
  font-family: 'Times New Roman';
  font-size: 12pt;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  color: Black;
  background-color: White;
  text-transform: none;
}
p {
  padding-top: 0pt;
  padding-right: 0pt;
  padding-bottom: 0pt;
  padding-left: 0pt;
  text-indent: 0pt;
  text-align: left;
  line-height: normal;
  margin: 0px;
}
.ts0 {
  font-family: Arial;
  font-size: 9pt;
}
.ts1 {
  font-family: Verdana;
  font-size: 8pt;
  font-style: italic;
}
.ts2 {
  font-size: 4pt;
}
.ts3 {
  font-size: 24pt;
  font-weight: bold;
}
.ts4 {
  font-family: 'Trebuchet MS';
  font-size: 36pt;
  font-weight: bold;
  color: Black;
}
.ts5 {
  font-family: 'Trebuchet MS';
  font-size: 20pt;
  font-weight: bold;
  color: Black;
}
.ts6 {
  font-family: 'Trebuchet MS';
  font-size: 10pt;
  font-weight: bold;
  color: Gray;
}
.ts7 {
  font-family: Arial;
  font-size: 20pt;
  font-weight: bold;
}
.ts8 {
  font-family: Verdana;
  font-size: 8pt;
}
.ts9 {
  font-family: Verdana;
  font-size: 16pt;
  font-weight: bold;
  color: Black;
}
.ts10 {
  font-weight: bold;
}
.ts11 {
  font-family: Verdana;
  font-size: 10pt;
  font-weight: bold;
  color: Black;
}
.ts12 {
  font-family: Verdana;
  font-size: 10pt;
  color: Black;
}
.ts13 {
  font-family: Verdana;
  font-size: 10pt;
}
.ts14 {
  font-family: Verdana;
  font-size: 16pt;
  font-weight: bold;
}
.ts15 {
  font-family: Verdana;
  font-size: 10pt;
}
.ts16 {
  font-family: Verdana;
  font-weight: bold;
}
.ts17 {
  font-family: Verdana;
  font-size: 16pt;
  color: Black;
}
.ts18 {
  font-family: Arial;
  font-size: 10pt;
}
.ts19 {
  font-family: Verdana;
  font-size: 10pt;
  color: Black;
}
.ts20 {
  font-family: Verdana;
  font-size: 16pt;
}
.ts21 {
  font-family: Verdana;
  font-size: 10pt;
  font-weight: bold;
}
.ts22 {
  font-family: Verdana;
  font-size: 10pt;
  font-weight: bold;
  color: Black;
}
.ts23 {
  font-family: Verdana;
  font-size: 10pt;
}
.ts24 {
  font-family: Verdana;
  font-size: 11pt;
  font-weight: bold;
}
.ts25 {
  font-family: 'Book Antiqua';
  font-size: 10pt;
  font-weight: bold;
  color: Black;
}
.ts26 {
  font-family: Calibri;
  font-size: 11pt;
  font-weight: bold;
  color: Black;
}
.ts27 {
  font-family: Calibri;
  font-size: 11pt;
  color: Black;
}
.ts28 {
  font-family: Calibri;
  font-size: 11pt;
}
.ts29 {
  color: Black;
}
.ts30 {
  font-family: 'Times New Roman Bold';
  font-size: 14pt;
  font-weight: bold;
  color: #1f497d;
}
.ts31 {
  font-family: Verdana;
}
.ts32 {
  font-weight: bold;
}
.ts33 {
  font-family: Verdana;
  font-size: 11pt;
  font-weight: bold;
  color: Black;
}
.ts34 {
  font-family: 'Book Antiqua';
  color: Black;
}
.ts35 {
  font-family: 'Book Antiqua';
  font-size: 10pt;
}
.ts36 {
  font-family: 'Book Antiqua';
  font-size: 10pt;
  color: Black;
}
.ts37 {
  font-family: Verdana;
  font-size: 10pt;
  font-style: italic;
  color: Black;
}
.ts38 {
  font-family: Verdana;
  font-size: 16pt;
  font-weight: bold;
  color: Black;
}
.ts39 {
  font-family: Verdana;
  font-size: 10pt;
  font-weight: bold;
}
.ts40 {
  font-family: Verdana;
  font-size: 11pt;
}
.ts41 {
  font-family: Verdana;
  font-size: 10pt;
  font-style: italic;
}
.ts42 {
  font-family: Verdana;
  font-size: 10pt;
  text-decoration: underline;
  color: Blue;
}
.ts43 {
  font-family: Verdana;
  font-size: 10pt;
}
.ts44 {
  font-family: Verdana;
  font-size: 14pt;
}
.ts45 {
  font-weight: bold;
  color: Black;
}
.ts46 {
  font-family: Verdana;
  font-size: 14pt;
  font-weight: bold;
}
.ts47 {
  font-family: Verdana;
  font-size: 10pt;
  font-weight: bold;
}
.ts48 {
  font-family: Verdana;
  font-size: 14pt;
  font-weight: bold;
  color: Black;
}

.ts50 {
  font-family: 'Courier New';
  font-size: 10pt;
}
.ts51 {
  font-family: Verdana;
  font-size: 10pt;
  color: Red;
}

.ts53 {
  font-family: Verdana;
  font-size: 10pt;
  font-weight: bold;
  font-style: italic;
  color: Black;
}
.hs0 {
  font-family: Verdana;
  font-size: 8pt;
  font-style: italic;
  text-decoration: underline;
  color: Blue;
}
a.hs0:hover {
  color: Red;
}
.hs1 {
  font-family: 'Trebuchet MS';
  font-size: 10pt;
  text-decoration: underline;
  color: Blue;
}
.hs2 {
  font-family: Verdana;
  font-size: 10pt;
  text-decoration: underline;
  color: Blue;
}
.ps0 {
  text-align: right;
}
.ps1 {
  padding-bottom: 1pt;
  text-align: center;
}
.ps2 {
  padding-bottom: 1pt;
}
.ps3 {
  padding-top: 5pt;
  padding-bottom: 5pt;
}
.ps4 {
  padding-left: 2mm;
  text-indent: 2mm;
}
.ps5 {
  padding-left: 11.1125mm;
  text-indent: -6.87916666666667mm;
}
.ps6 {
  text-align: center;
}
.ps7 {
  text-align: justify;
  line-height: 150%;
}
.ps8 {
  line-height: 150%;
}
.ps9 {
  padding-left: 1.27cm;
  text-indent: -0.64cm;
}
.ps10 {
  padding-left: 13.5pt;
  text-indent: -13.5pt;
}
.ps11 {
  text-indent: 0.35pt;
}
.ps12 {
  padding-left: -3.15pt;
  text-indent: -14.85pt;
}
.ps13 {
  padding-left: 28.8pt;
}
.ps14 {
  padding-left: 13.5pt;
}
.ps15 {
  padding-left: 11.1125mm;
  text-indent: -4.23333333333333mm;
}
.ps16 {
  text-indent: -18pt;
}
.ps17 {
  padding-left: 2mm;
  text-indent: 2mm;
  text-align: justify;
  line-height: 150%;
}
.ps18 {
  padding-left: 11.1125mm;
  text-indent: -6.87916666666667mm;
  text-align: justify;
}
.ps19 {
  padding-left: 36pt;
}
.ps20 {
  padding-left: 54pt;
  text-indent: -18pt;
}
.ps21 {
  padding-left: 54pt;
}
.ps22 {
  padding-left: 18pt;
}
.ps23 {
  padding-left: 43.2pt;
}
.ps24 {
  padding-left: 18.35pt;
}
.ps25 {
  padding-left: 11.1125mm;
  text-indent: -6.87916666666667mm;
  text-align: justify;
  line-height: 150%;
}
.ps26 {
  padding-left: 9.525mm;
  text-indent: -5.29166666666667mm;
}
.ps27 {
  padding-top: 5pt;
  padding-bottom: 5pt;
  padding-left: 2mm;
  text-indent: 2mm;
}
.ps28 {
  text-align: center;
  line-height: 150%;
}
.ps29 {
  padding-left: 36pt;
  line-height: 150%;
}
.ps30 {
  padding-left: 2mm;
  text-indent: 2mm;
  line-height: 150%;
}
.ps31 {
  padding-left: 11.1125mm;
  text-indent: -6.87916666666667mm;
  line-height: 150%;
}
.ps32 {
  padding-bottom: 1pt;
  padding-left: 2mm;
  text-indent: 2mm;
}
.ps33 {
  padding-left: 2mm;
  text-indent: 5mm;
}
.ps34 {
  padding-bottom: 1pt;
  padding-left: 2mm;
  text-indent: 5mm;
}
.ps35 {
  padding-left: 11.1125mm;
  text-indent: -3.96875mm;
}
.ps36 {
  padding-left: 2.59291666666667cm;
  text-indent: -0.64cm;
}
.ps37 {
  padding-top: 3.1pt;
  padding-bottom: 3.1pt;
}
.ps38 {
  padding-left: 13.2291666666667mm;
  text-indent: -8.99583333333333mm;
}
.ps39 {
  padding-left: 10.0541666666667mm;
  text-indent: -5.82083333333333mm;
}
.ps40 {
  padding-bottom: 1pt;
  padding-left: 49px;
}
.ps41 {
  padding-bottom: 1pt;
  padding-left: 18px;
  text-indent: -18px;
}
.ps42 {
  padding-bottom: 1pt;
  padding-left: 11.1125mm;
  text-indent: -6.87916666666667mm;
}
.ps43 {
  padding-bottom: 1pt;
  padding-left: 40px;
  text-indent: 25px;
}
.ps44 {
  text-align: justify;
  line-height: 200%;
}
.ps45 {
  padding-left: -2.25pt;
  text-indent: 15.75pt;
}
.ps46 {
  padding-left: -2.25pt;
  text-indent: 15.75pt;
  text-align: center;
}
.ps47 {
  padding-left: 7.9375mm;
  text-indent: -7.14375mm;
}
.ps48 {
  padding-right: 26.25pt;
}
.ps49 {
  padding-right: 26.25pt;
  padding-left: 2mm;
  text-indent: 2mm;
}
.ps50 {
  padding-right: 26.25pt;
  text-indent: 10.31875mm;
}
.ps51 {
  text-indent: 30px;
}
.ps52 {
  padding-right: 26.25pt;
  text-indent: 7.9375mm;
}
.ps53 {
  text-indent: 7.9375mm;
}
.ps54 {
  padding-right: 26.25pt;
  padding-left: 12mm;
  text-indent: 10mm;
}
.ps55 {
  padding-left: 12mm;
  text-indent: 10mm;
}
.ps56 {
  padding-right: 0.93cm;
  padding-left: 12mm;
  text-indent: 10mm;
}
.block0 {
  padding: 0pt 0pt 0pt 4mm;
}
.block1 {
  padding: 0pt 0pt 0pt -2.25pt;
}
.block2 {
  padding: 0pt 0pt 0pt 13.5pt;
}
.block3 {
  padding: 0pt 0pt 0pt 30px;
}