<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd"
	   default-lazy-init="true">
	
	<bean id="statusChangeService" class="org.egov.infstr.services.PersistenceService" parent="persistenceService" scope="prototype">
	    <property name="type" value="org.egov.commons.EgwSatuschange"/>
   </bean>
	 <!--BPA new enhancement changes DEFINITION STARTS -->  
	
	<bean id="bpaCitizenPortalExtnService" class="org.egov.bpa.services.extd.common.BpaCitizenPortalExtnService" scope="prototype" >
	 <property name="portalIntegrationService" ref="portalIntegrationService"/>   
	</bean> 
	
		<bean id="inspectionExtnService" class="org.egov.bpa.services.extd.inspection.InspectionExtnService" parent="persistenceService" scope="prototype" >
		<property name="type" value="org.egov.bpa.models.extd.InspectionExtn"/>
		<property name="persistenceService" ref="persistenceService"/>
	</bean> 
	
	<bean id="feeExtnService" class="org.egov.bpa.services.extd.common.FeeExtnService" parent="persistenceService" scope="prototype">
		<property name="type" value="org.egov.bpa.models.extd.masters.BpaFeeExtn" />
		<property name="persistenceService" ref="persistenceService"/>
	</bean> 
	
<!-- 	<bean id="registrationFeeWorkflowExtnService" class="org.egov.infra.workflow.service.SimpleWorkflowService" scope="prototype">
		<constructor-arg ref="regnFeePersistenceExtnService"/>
		<constructor-arg value="org.egov.bpa.models.extd.RegistrationFeeExtn"/>
	</bean> -->
	<bean id="regnPersistenceExtnService" parent="persistenceService" scope="prototype">
	<property name="type" value="org.egov.bpa.models.extd.RegistrationExtn"/>
	</bean>
		
<!-- 	<bean id="registrationWorkflowExtnService" class="org.egov.infra.workflow.service.SimpleWorkflowService" scope="prototype">
		<constructor-arg ref="regnPersistenceExtnService"/>
		<constructor-arg value="org.egov.bpa.models.extd.RegistrationExtn"/>
	</bean> -->
	
	<bean id="regnFeePersistenceExtnService" parent="persistenceService" scope="prototype">
		<property name="type" value="org.egov.bpa.models.extd.RegistrationFeeExtn"/>
	</bean>
	
	
	<bean id="bpaCommonExtnService" class="org.egov.bpa.services.extd.common.BpaCommonExtnService" scope="prototype">		
		<property name="persistenceService" ref="persistenceService"/>
		<property name="inspectionExtnService" ref="inspectionExtnService"/>
		
		<property name="statusChangeService" ref="statusChangeService"/>
		<property name="feeExtnService" ref="feeExtnService"/>
	<!-- 	<property name="fileManagementService" ref="fileManagementService"/> -->
		<property name="collectionIntegrationService" ref="collectionIntegrationService"/>
	    <property name="regnPersistenceExtnService" ref="regnPersistenceExtnService"/>	    
	   <property name="genericDao" ref="genericDao"/>
	    <property name="reportService" ref="reportService"/>
	   <!--  <property name="bpaCitizenPortalExtnService" ref="bpaCitizenPortalExtnService"/>
	    <property name="bpaSurvayorPortalExtnService" ref="bpaSurvayorPortalExtnService"/> -->
	</bean>
	<bean id="bpaNumberGenerationExtnService" class="org.egov.bpa.services.extd.common.BpaNumberGenerationExtnService" scope="prototype" >		
		<property name="sequenceGenerator" ref="sequenceGenerator"/>
		<property name="bpaCommonExtnService" ref="bpaCommonExtnService"/>  	
		<property name="inspectionExtnService" ref="inspectionExtnService"/>	
	</bean>
	
	<bean id="letterToPartyExtnService" class="org.egov.bpa.services.extd.lettertoparty.LetterToPartyExtnService" parent="persistenceService" scope="prototype">
		<property name="type" value="org.egov.bpa.models.extd.LetterToPartyExtn" />
		<property name="persistenceService" ref="persistenceService"/>
	</bean> 
	<!-- 
	<bean id="utilsExtnService" class="org.egov.bpa.services.extd.common.UtilsExtnService" scope="prototype">		
		<property name="persistenceService" ref="persistenceService"/>
	</bean>
	
	<bean id="bpaSurvayorPortalExtnService" class="org.egov.bpa.services.extd.common.BpaSurvayorPortalExtnService" scope="prototype" >
	 <property name="portalIntegrationService" ref="portalIntegrationService"/>   
	</bean>  -->
	
	</beans>

    