
table.its th {
   background-color:#CED6DE;
}

table.its th.sorted a, th.sortable a {
    background-position: right center;
    display: block;
}

table.its th.order1 a {
	background-image: url(../image/arrow_down.png) !important;
}
table.its th.order2 a {
	background-image: url(../image/arrow_up.png) !important;
}
table.its th.sorted a, .table th.sortable a {
background-position:right center;
background-repeat:no-repeat;
display:block;
}
table.its tr.even {
background:none repeat scroll 0 0 #EEEEEE;
color:#000000;
}
table.its tr.odd {
background:none repeat scroll 0 0 #FFFFFF;
color:#000000;
}
a, a:link a:active {
color:blue;
text-decoration:none;
}

