[project]
	description = eGov SmartCity eGovernance suite of products aim to improve the internal efficiency, transparency, accountability and the service delivery of Municipal Governments. The solution is freely available under the license terms as mentioned below. 
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/raman2806pandey
[access "refs/for/refs/*"]
	read = group user/raman2806pandey
	push = group user/raman2806pandey
	label-Code-Review = -2..+2 group user/raman2806pandey
	label-Verified = -1..+1 group user/raman2806pandey
	rebase = group user/raman2806pandey
	removeReviewer = group user/raman2806pandey
	submit = group user/raman2806pandey
[access "refs/heads/*"]
	read = group user/raman2806pandey
	create = group user/raman2806pandey
	push = +force group user/raman2806pandey
	pushMerge = group user/raman2806pandey
[access "refs/tags/*"]
	push = group user/raman2806pandey
	push = +force group user/raman2806pandey
