<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
	default-lazy-init="true">  
	
	<bean id="pensionHeaderService" class="org.egov.payroll.services.pension.PensionHeaderService" parent="persistenceService" >
		<property name="type" value="org.egov.payroll.model.pension.PensionHeader"/>
	</bean>
		
	<bean id="pensionerHeaderService" class="org.egov.pension.services.PensionerHeaderService" parent="persistenceService" >
		<property name="type" value="org.egov.pension.models.PensionerHeader"/>
	</bean>
	
	<bean id="familyPensionerHeaderService" class="org.egov.pension.services.FamilyPensionerHeaderService" parent="persistenceService" >
		<property name="type" value="org.egov.pension.models.FamilyPensionerHeader"/>
	</bean>
</beans>