<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

	<tx:annotation-driven transaction-manager="transactionManager" proxy-target-class="true"/>
    <bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <constructor-arg ref="sessionFactory"/>
    </bean>  

    <beans profile="production">
        <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
            <property name="dataSource" ref="dataSource"/>
            <property name="configLocations" value="classpath*:hibernate.cfg.xml"/>
            <property name="mappingLocations" value="classpath*:org/egov/**/*.hbm.xml"/>
            <property name="packagesToScan" value="org.egov"/>
        </bean>


        <jee:jndi-lookup id="dataSource" jndi-name="java:/ezgovDatabasePool" expected-type="javax.sql.DataSource"/>
    </beans>
</beans>