<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean name="erpApplicationContext" class="org.springframework.context.support.ClassPathXmlApplicationContext">
        <constructor-arg>
            <list>
                <value>classpath*:config/spring/applicationContext-properties.xml</value>
                <value>classpath*:config/spring/applicationContext-messages.xml</value>
                <value>classpath*:config/spring/applicationContext-jms.xml</value>
                <value>classpath*:config/spring/applicationContext-jpa.xml</value>
                <value>classpath*:config/spring/applicationContext-egi.xml</value>
                <value>classpath*:config/spring/applicationContext-eis.xml</value>
                <value>classpath*:config/spring/applicationContext-search-queues.xml</value>
                <value>classpath*:config/spring/applicationContext-search.xml</value>
                <value>classpath*:config/spring/applicationContext-security.xml</value>
                <value>classpath*:config/spring/applicationContext-quartz.xml</value>
                <value>classpath*:config/spring/applicationContext-*-global-services.xml</value>
            </list>
        </constructor-arg>
    </bean>
</beans>
