<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="egovErpProperties"
          class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="locations">
            <list>
                <value>classpath*:config/egov-erp.properties</value>
                <value>classpath*:config/egov-erp-override.properties</value>
                <value>classpath*:config/egov-erp-${user.name}.properties</value>
            </list>
        </property>

        <property name="ignoreResourceNotFound" value="true"/>
    </bean>

    <bean id="globalPropertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="properties" ref="egovErpProperties"/>
        <property name="ignoreUnresolvablePlaceholders" value="true"/>
    </bean>

    <bean class="org.egov.config.ApplicationConfig">
        <constructor-arg ref="egovErpProperties" />
    </bean>

</beans>
