<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ eGov suite of products aim to improve the internal efficiency,transparency,
  ~    accountability and the service delivery of the government  organizations.
  ~
  ~     Copyright (C) <2015>  eGovernments Foundation
  ~
  ~     The updated version of eGov suite of products as by eGovernments Foundation
  ~     is available at http://www.egovernments.org
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU General Public License for more details.
  ~
  ~     You should have received a copy of the GNU General Public License
  ~     along with this program. If not, see http://www.gnu.org/licenses/ or
  ~     http://www.gnu.org/licenses/gpl.html .
  ~
  ~     In addition to the terms of the GPL license to be adhered to in using this
  ~     program, the following additional terms are to be complied with:
  ~
  ~         1) All versions of this program, verbatim or modified must carry this
  ~            Legal Notice.
  ~
  ~         2) Any misrepresentation of the origin of the material is prohibited. It
  ~            is required that all modified versions of this material be marked in
  ~            reasonable ways as different from the original version.
  ~
  ~         3) This license does not grant any rights to any user of the program
  ~            with regards to rights under trademark law for use of the trade names
  ~            or trademarks of eGovernments Foundation.
  ~
  ~   In case of any queries, you can reach eGovernments Foundation at contact@egovernments.org.
  -->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"> 
	 
   	<bean id="jobFactory" class="org.egov.infra.scheduler.quartz.QuartzJobAwareBeanFactory" scope="prototype"/>

	<bean id="taskExecutor" class="org.springframework.scheduling.quartz.SimpleThreadPoolTaskExecutor" destroy-method="destroy" scope="prototype">
		<property name="instanceId" value="AUTO"/>
		<property name="instanceName" value="eGovScheduler"/>
		<property name="threadCount" value="10"/>
		<property name="threadNamePrefix" value="QRTZ"/>
		<property name="threadPriority" value="5"/>
		<property name="threadsInheritContextClassLoaderOfInitializingThread" value="true"/>
		<property name="threadsInheritGroupOfInitializingThread" value="true"/>
		<property name="waitForJobsToCompleteOnShutdown" value="true"/>
	</bean>
		
    <bean name="egovSchedular" id="egovSchedular" class="org.springframework.scheduling.quartz.SchedulerFactoryBean" abstract="true" destroy-method="destroy">
     	<property name="overwriteExistingJobs" value="true"/>
        <property name="autoStartup" value="false" />   
        <property name="exposeSchedulerInRepository" value="true"/>
        <property name="jobFactory" ref="jobFactory"/>
        <property name="taskExecutor" ref="taskExecutor" />
        <property name="waitForJobsToCompleteOnShutdown" value="false"/>
        <property name="startupDelay" value="1500"/>
        <property name="quartzProperties">
        	<props>
        		<!-- Scheduler Properties -->
        		<prop key="org.quartz.scheduler.instanceId">AUTO</prop>
            	<prop key="org.quartz.scheduler.instanceName">eGovScheduler</prop>
            	<prop key="org.quartz.scheduler.wrapJobExecutionInUserTransaction">false</prop>
        		<prop key="org.quartz.scheduler.skipUpdateCheck">true</prop>
        		<prop key="org.quartz.scheduler.threadsInheritContextClassLoaderOfInitializer">true</prop>
        		
        		<!-- Job Store and Clustering Properties -->
        		<prop key="org.quartz.jobStore.isClustered">true</prop>
        		<prop key="org.quartz.jobStore.clusterCheckinInterval">60000</prop>
        		<prop key="org.quartz.jobStore.acquireTriggersWithinLock">false</prop>
        		<prop key="org.quartz.jobStore.txIsolationLevelReadCommitted">true</prop>
        		<prop key="org.quartz.jobStore.misfireThreshold">60000</prop>
           		<prop key="org.quartz.jobStore.driverDelegateClass">org.quartz.impl.jdbcjobstore.PostgreSQLDelegate</prop>
        		<prop key="org.quartz.jobStore.useProperties">true</prop>
        		<prop key="org.quartz.jobStore.dataSource">quartzDS</prop>
        		<prop key="org.quartz.jobStore.nonManagedTXDataSource">quartzNoTXDS</prop>
        		<prop key="org.quartz.jobStore.tablePrefix">QRTZ_</prop>
        		<prop key="org.quartz.jobStore.misfireThreshold">60000</prop>
        		<prop key="org.quartz.jobStore.class">org.quartz.impl.jdbcjobstore.JobStoreCMT</prop>
				<prop key="org.quartz.jobStore.dontSetNonManagedTXConnectionAutoCommitFalse">false</prop>        		
				<prop key="org.quartz.jobStore.dontSetAutoCommitFalse">true</prop>
        		
        		<!-- Datasource Properties -->
        		<prop key="org.quartz.dataSource.quartzDS.jndiURL">${default.jdbc.jndi.datasource}</prop>
        		<prop key="org.quartz.dataSource.quartzNoTXDS.jndiURL">${default.jdbc.jndi.quartz.datasource}</prop>
        		
        		<!-- Logger Plugin Properties -->       		
           		<prop key="org.quartz.plugin.jobHistory.class">org.quartz.plugins.history.LoggingJobHistoryPlugin</prop>        		
        		<prop key="org.quartz.plugin.jobHistory.jobToBeFiredMessage">Job [{1}.{0}] to be fired by trigger [{4}.{3}], re-fire: {7}</prop>
        		<prop key="org.quartz.plugin.jobHistory.jobSuccessMessage">Job [{1}.{0}] execution complete and reports: {8}</prop>
        		<prop key="org.quartz.plugin.jobHistory.jobFailedMessage">Job [{1}.{0}] execution failed with exception: {8}</prop>
        		<prop key="org.quartz.plugin.jobHistory.jobWasVetoedMessage">Job [{1}.{0}] was vetoed. It was to be fired by trigger [{4}.{3}] at: {2, date, dd-MM-yyyy HH:mm:ss.SSS}</prop>
           		<prop key="org.quartz.plugin.triggerHistory.class">org.quartz.plugins.history.LoggingTriggerHistoryPlugin</prop>
        		<prop key="org.quartz.plugin.triggerHistory.triggerFiredMessage">Trigger [{1}.{0}] fired job [{6}.{5}] scheduled at: {2, date, dd-MM-yyyy HH:mm:ss.SSS}, next scheduled at: {3, date, dd-MM-yyyy HH:mm:ss.SSS}</prop>
        		<prop key="org.quartz.plugin.triggerHistory.triggerCompleteMessage">Trigger [{1}.{0}] completed firing job [{6}.{5}] with resulting trigger instruction code: {9}. Next scheduled at: {3, date, dd-MM-yyyy HH:mm:ss.SSS}</prop>
        		<prop key="org.quartz.plugin.triggerHistory.triggerMisfiredMessage">Trigger [{1}.{0}] misfired job [{6}.{5}]. Should have fired at: {3, date, dd-MM-yyyy HH:mm:ss.SSS}</prop>
	       		
	       		<!-- Scheduler Shutdown Hook Plugin Properties-->
	       		<prop key="org.quartz.plugin.shutdownHook.class">org.quartz.plugins.management.ShutdownHookPlugin</prop>
        		<prop key="org.quartz.plugin.shutdownHook.cleanShutdown">true</prop>
        	</props>
        </property>
	</bean>     
</beans>
