<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ eGov suite of products aim to improve the internal efficiency,transparency,
  ~    accountability and the service delivery of the government  organizations.
  ~
  ~     Copyright (C) <2015>  eGovernments Foundation
  ~
  ~     The updated version of eGov suite of products as by eGovernments Foundation
  ~     is available at http://www.egovernments.org
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU General Public License for more details.
  ~
  ~     You should have received a copy of the GNU General Public License
  ~     along with this program. If not, see http://www.gnu.org/licenses/ or
  ~     http://www.gnu.org/licenses/gpl.html .
  ~
  ~     In addition to the terms of the GPL license to be adhered to in using this
  ~     program, the following additional terms are to be complied with:
  ~
  ~         1) All versions of this program, verbatim or modified must carry this
  ~            Legal Notice.
  ~
  ~         2) Any misrepresentation of the origin of the material is prohibited. It
  ~            is required that all modified versions of this material be marked in
  ~            reasonable ways as different from the original version.
  ~
  ~         3) This license does not grant any rights to any user of the program
  ~            with regards to rights under trademark law for use of the trade names
  ~            or trademarks of eGovernments Foundation.
  ~
  ~   In case of any queries, you can reach eGovernments Foundation at contact@egovernments.org.
  -->
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
	   default-lazy-init="false">
		
	<context:component-scan base-package="org.egov.infra, org.egov.infstr"/>

	<bean id="masterDataCache" class="org.egov.infstr.utils.EgovMasterDataCaching" lazy-init="false"/>
	
	<bean id="persistenceService" class="org.egov.infstr.services.PersistenceService" scope="prototype"/>

	<!-- Bean for report service. constructor arguments: arg0 => Report Template
		Cache minimum size arg1 => Report Template Cache maximum size -->
	<bean id="reportService" class="org.egov.infra.reporting.engine.jasper.JasperReportService" lazy-init="false">
		<constructor-arg value="10" />
		<constructor-arg value="30" />
	</bean>

	<bean id="userPersistenceService" parent="persistenceService">
		<property name="type" value="org.egov.infra.admin.master.entity.User"/>
	</bean>

	<bean id="customizedWorkFlowService" class="org.egov.infra.workflow.matrix.service.CustomizedWorkFlowService" scope="prototype">
		<property name="persistenceService" ref="persistenceService" />
		<property name="workflowService" ref="workflowService" />
	</bean>


	<bean id="applicationCoreFilter" class="org.egov.infra.web.filter.ApplicationCoreFilter"/>
	
	<bean id="applicationTenantResolverFilter" class="org.egov.infra.web.filter.ApplicationTenantResolverFilter"/>
	
	<bean id="workFlowMatrixService" class="org.egov.infra.workflow.matrix.service.WorkFlowMatrixService" parent="persistenceService" scope="prototype">
		<property name="type" value="org.egov.infra.workflow.matrix.entity.WorkFlowMatrix"/>
		<property name="persistenceService" ref="persistenceService" />
	</bean>

	<bean id="workFlowAdditionalDetailsService" class="org.egov.infra.workflow.matrix.service.WorkFlowAdditionalDetailsService" parent="persistenceService" scope="prototype">
		<property name="type" value="org.egov.infra.workflow.matrix.entity.WorkFlowAdditionalRule"/>
		<property name="persistenceService" ref="persistenceService" />
	</bean>
	
	<bean id="eisService" class="org.egov.pims.service.EisUtilService" scope="prototype"/>
	
	
	<!-- Use this only for generic hibernate query -->
	<bean id="entityQueryService" class="org.egov.infstr.services.PersistenceService"/>
	
	<!-- NEW WORKFLOW ADDITIONS -->
	
	<bean id="statePersistenceService" parent="persistenceService">
		<property name="type" value="org.egov.infra.workflow.entity.State" />
	</bean>
	
	<bean id="stateAwarePersistenceService" parent="persistenceService">
		<property name="type" value="org.egov.infra.workflow.entity.StateAware" />
	</bean>
	
	<bean id="actionPersistenceService" parent="persistenceService">
		<property name="type" value="org.egov.infra.workflow.entity.WorkflowAction" />
	</bean>
	
	<bean id="workflowTypePersistenceService" parent="persistenceService">
		<property name="type" value="org.egov.infra.workflow.entity.WorkflowTypes" />
	</bean>
	
	<!-- 
		This is a generic bean so do not use this to do transition of your own StateAware objects
		For your own StateAware object transition declare a separate bean definition
		like 
		<bean id="myStateAwareWorkflowService" parent="workflowService">
			<constructor-arg index="0" ref="myStateAwarePersistenceService"/>
		</bean>
	-->
	<bean id="workflowService" class="org.egov.infra.workflow.service.SimpleWorkflowService">
		<constructor-arg index="0" ref="stateAwarePersistenceService" />
		<property name="actionPersistenceService" ref="actionPersistenceService"/>
	</bean>
	
	<bean id="entityValidator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean"/>
	
</beans>
