<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<meta name="description" content="Neon Admin Panel" />
		<meta name="author" content="" />
		
		<title>eGov Urban Portal</title>
		
		<link rel="stylesheet" href="../../../../../../egov-egiweb/src/main/webapp/resources/global/css/bootstrap/bootstrap.css">
		<link rel="stylesheet" href="../../../../../../egov-egiweb/src/main/webapp/resources/global/css/font-icons/entypo/css/entypo.css">
		<link rel="stylesheet" href="../../../../../../egov-egiweb/src/main/webapp/resources/global/css/egov/custom.css">
		<link rel="stylesheet" href="../../../../../../egov-egiweb/src/main/webapp/resources/global/css/egov/header-custom.css">
		<script src="../../../../../../egov-egiweb/src/main/webapp/resources/global/js/jquery/jquery.js"></script>
		
		<!--[if lt IE 9]><script src="assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
		
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
		
		
	</head>
	<body class="page-body">
		<div class="page-container">
			<header class="navbar navbar-fixed-top"><!-- set fixed position by adding class "navbar-fixed-top" -->
				
				<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
					<div class="container-fluid">
						<div class="navbar-header col-md-10 col-xs-10">
							<a class="navbar-brand" href="javascript:void(0);">
								<img src="../../../../../../egov-egiweb/src/main/webapp/resources/global/images/chennai_logo.jpg" height="60">
								<div>
									
									<span class="title2">Complaint Information</span>
								</div>
							</a>
						</div>
						
						<div class="nav-right-menu col-md-2 col-xs-2">
							<ul class="hr-menu text-right">
								<li class="ico-menu">
									<a href="javascript:void(0);">
										<img src="../../../../../../egov-egiweb/src/main/webapp/resources/global/images/logo@2x.png" title="Powered by eGovernments" height="20px">
									</a>
								</li>
								
							</ul>
						</div>
						
					</div>
				</nav>
				
			</header>
			<div class="main-content">
				<div class="row">
					<div class="col-md-12">
						
						<div class="panel panel-primary" data-collapsed="0">
							<div class="panel-heading">
								<div class="panel-title">
									<strong>CRN0823840928</strong>
								</div>
								
							</div>
							<div class="panel-body">
								<div class="row add-border">
									<div class="col-md-3 col-xs-6 add-margin">
										Name 
									</div>
									<div class="col-md-3 col-xs-6 add-margin" id="ct-name">
										Manu Srivastava
									</div>
									<div class="col-md-3 col-xs-6 add-margin">
										Phone Number 
									</div>
									<div class="col-md-3 col-xs-6 add-margin" id="ct-mobno">
										8908908908
									</div>
								</div>
								<div class="row add-border">
									<div class="col-md-3 col-xs-6 add-margin">
										CTN
									</div>
									<div class="col-md-3 col-xs-6 add-margin" id="ct-ctnumber">
										CRN0823840928 
									</div>
									<div class="col-md-3 col-xs-6 add-margin">
										Complaint Date
									</div>
									<div class="col-md-3 col-xs-6 add-margin" id="ct-date">
										2014-12-18 
									</div>
								</div>
								<div class="row add-border">
									<div class="col-md-3 col-xs-6 add-margin">
										Complaint Department
									</div>
									<div class="col-md-3 col-xs-6 add-margin" id="ct-dept">
										Nk-Kodambakkam 
									</div>
									<div class="col-md-3 col-xs-6 add-margin">
										Filed via 
									</div>
									<div class="col-md-3 col-xs-6 add-margin" id="ct-filedvia">
										Internet   
									</div>
								</div>
								
								<div class="row add-border">
									<div class="col-md-3 col-xs-6 add-margin">
										Complaint Type 
									</div>
									<div class="col-md-3 col-xs-6 add-margin" id="ct-type">
										Repairs to the SWD
									</div>
									<div class="col-md-3 col-xs-6 add-margin">
										Priority 
									</div>
									<div class="col-md-3 col-xs-6 add-margin" id="ct-priority">
										Waterlogged road 
									</div>
								</div>
								
								<div class="row add-border">
									<div class="col-md-3 col-xs-6 add-margin">
										Expiration  
									</div>
									<div class="col-md-3 col-xs-6 add-margin" id="ct-exp">
										In 14 days
									</div>
								</div>
								
								<div class="row add-border">
									<div class="col-md-3 col-xs-6 add-margin">
										Complaint Title 
									</div>
									<div class="col-md-9 col-xs-6 add-margin" id="ct-title">
										none
									</div>
								</div>
								<div class="row add-border">
									<div class="col-md-3 col-xs-6 add-margin">
										Complaint Details   
									</div>
									<div class="col-md-9 col-xs-6 add-margin" id="ct-details">
										Road is waterlogged. kids are floating boats in it. People are washing cars in it. Please fix it soon as the mosquito colonies are going to expload soon!
									</div>
								</div>
								<div class="row add-border">
									<div class="col-md-2 col-xs-12 add-margin">
										Photos/ Video 
									</div>
									<div class="col-md-10 col-xs-12 add-margin down-file text-center" id="links">
										<a href="../../../../../../egov-egiweb/src/main/webapp/resources/global/images/burjkhalifa.jpg" data-gallery>
											<img src="../../../../../../egov-egiweb/src/main/webapp/resources/global/images/burjkhalifa.jpg" class="img-width add-margin">
										</a>
										<a href="../../../../../../egov-egiweb/src/main/webapp/resources/global/images/b.jpg" data-gallery>
											<img src="../../../../../../egov-egiweb/src/main/webapp/resources/global/images/b.jpg" class="img-width add-margin" >
										</a>
										<a href="../../../../../../egov-egiweb/src/main/webapp/resources/global/images/c.jpg" data-gallery>
											<img src="../../../../../../egov-egiweb/src/main/webapp/resources/global/images/c.jpg" class="img-width add-margin" >
										</a>
									</div>
								</div>
								<div class="row add-border">
									
									<div class="col-md-3 col-xs-6 add-margin">
										Location  
									</div>
									<div class="col-md-9 col-xs-6 add-margin">
										<span class="map-tool-class btn-secondary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Locate on map" onclick="jQuery('#complaint-locate').modal('show', {backdrop: 'static'});"><i class="entypo-globe"></i></span>
										<span id="address_locate">KIADB, 28, Hoodi Main Road, KEB Colony, Industrial Area, Hoodi, Bengaluru, Karnataka 560048, India</span>
									</div>
								</div>
								<div class="row">
									<div class="col-md-3 col-xs-6 add-margin">
										Landmark 
									</div>
									<div class="col-md-9 col-xs-6 add-margin" id="ct-lanmark">
										N/A
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				
				<div class="row">
					<div class="col-md-12">
						
						<div class="panel panel-primary" data-collapsed="0">
							
							<div class="panel-heading">
								<div class="panel-title">
									<strong>Actions</strong>
								</div>
								
							</div>
							
							<div class="panel-body">
								
								<form role="form" class="form-horizontal form-groups-bordered">
									<div class="form-group">
										<div class="col-md-3 col-xs-6 add-margin">
											Change Status
										</div>
										<div class="col-md-3 col-xs-6 add-margin reopen-status display-hide">
											<input type="checkbox" id="reopen" name="" value="Reopen">
											<label>Reopen</label>
										</div>
										<div class="col-md-3 col-xs-6 add-margin close-status display-hide">
											<input type="checkbox" id="close" name="" value="Close">
											<label>Close</label>
										</div>
									</div>
									
									<div class="form-group">
										<div class="col-md-3 add-margin">
											Include message <span class="mandatory"></span>
										</div>
										<div class="col-md-9 add-margin">
											<textarea class="form-control" id="inc_messge" placeholder="" maxlength="400"></textarea>
										</div>
									</div>
									
									
									
									
									<div class="form-group">
										<div class="text-center">
											<a href="javascript:void(0);" id="btn_submit" class="btn btn-primary">Submit</a>
											<a href="javascript:void(0);" class="btn btn-default">Cancel</a>
										</div>
									</div>
									
								</form>
							</div>
							
						</div>
						
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-12">
						<div class="panel-group">
							
							<div class="panel panel-primary">
								<div class="panel-heading slide-history-menu">
									<div class="panel-title">
										<strong>Complaint History</strong>
									</div>
									<div class="history-icon">
										<i class="entypo-down-open" id="toggle-his-icon"></i>
									</div>
								</div>
								
								<div class="panel-body">
									<div class="row">
										<div class="col-md-3 col-xs-6 add-margin">
											10:14 AM Monday 22 Nov 2014 
										</div>
										<div class="col-md-2 col-xs-6 add-margin">
											Suresh.T.M
										</div>
										<div class="col-md-2 col-xs-6 add-margin">
											Horticulture
										</div>
										<div class="col-md-5 col-xs-6 add-margin">
											I have changed the status of the complaint. Kindly review it. For Further information, you can contact me.
										</div>
									</div>
									<div class="row add-top-border">
										<div class="col-md-3 col-xs-6 add-margin">
											10:14 AM Monday 22 Nov 2014 
										</div>
										<div class="col-md-2 col-xs-6 add-margin">
											Suresh.T.M
										</div>
										<div class="col-md-2 col-xs-6 add-margin">
											Horticulture
										</div>
										<div class="col-md-5 col-xs-6 add-margin">
											I have changed the status of the complaint. Kindly review it. For Further information, you can contact me.
										</div>
									</div>
									<div class="row">
										<div class="col-md-12 col-xs-12 add-margin">
											<a href="javascript:void(0);" id="see-more-link" class="slide-history-menu">See more..</a>
										</div>
									</div>
									<div class="row add-top-border history-slide display-hide">
										<div class="col-md-3 col-xs-6 add-margin">
											10:14 AM Monday 22 Nov 2014 
										</div>
										<div class="col-md-2 col-xs-6 add-margin">
											Suresh.T.M
										</div>
										<div class="col-md-2 col-xs-6 add-margin">
											Horticulture
										</div>
										<div class="col-md-5 col-xs-6 add-margin">
											I have changed the status of the complaint. Kindly review it. For Further information, you can contact me.
										</div>
									</div>
									<div class="row add-top-border history-slide display-hide">
										<div class="col-md-3 col-xs-6 add-margin">
											10:14 AM Monday 22 Nov 2014 
										</div>
										<div class="col-md-2 col-xs-6 add-margin">
											Suresh.T.M
										</div>
										<div class="col-md-2 col-xs-6 add-margin">
											Horticulture
										</div>
										<div class="col-md-5 col-xs-6 add-margin">
											I have changed the status of the complaint. Kindly review it. For Further information, you can contact me.
										</div>
									</div>
								</div>
								
							</div>
							
							
						</div>
						
					</div>
				</div>
				
				<footer class="main">
					
					Powered by <a href="http://eGovernments.org" target="_blank">eGovernments Foundation</a>
					
				</footer>
				
				
			</div>
		</div>
		
		<!-- Modal 6 (Long Modal)-->
		<div class="modal fade" id="complaint-locate">
			<div class="modal-dialog">
				<div class="modal-content">
					
					<div class="modal-body">
						
						<div class="row">
							
							<div class="col-md-12">
								<div class="panel panel-primary" data-collapsed="0"><!-- to apply shadow add class "panel-shadow" -->
									<!-- panel head -->
									<div class="panel-heading">
										<div class="panel-title" id="show_address_in_map">Complaint Location</div>
										
									</div>
									
									<!-- panel body -->
									<div class="panel-body no-padding">
										
										<script src="https://maps.googleapis.com/maps/api/js"></script>
										
										<div id="normal" class="img-prop"></div>
										
									</div>
									
								</div>
							</div>
							
						</div>
						
						
					</div>
					
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
		
		<!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
		<div id="blueimp-gallery" class="blueimp-gallery" data-use-bootstrap-modal="false">
			<!-- The container for the modal slides -->
			<div class="slides"></div>
			<!-- Controls for the borderless lightbox -->
			<h3 class="title"></h3>
			<a class="prev">‹</a>
			<a class="next">›</a>
			<a class="close">×</a>
			<ol class="indicator"></ol>
			<!-- The modal dialog, which will be used to wrap the lightbox content -->
			<div class="modal fade">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" aria-hidden="true">&times;</button>
							<h4 class="modal-title"></h4>
						</div>
						<div class="modal-body next"></div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default pull-left prev">
								<i class="glyphicon glyphicon-chevron-left"></i>
								Previous
							</button>
							<button type="button" class="btn btn-primary next">
								Next
								<i class="glyphicon glyphicon-chevron-right"></i>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<script src="../../../../../../egov-egiweb/src/main/webapp/resources/global/js/bootstrap/bootstrap.js"></script>
		
		<link rel="stylesheet" href="../../../../../../egov-egiweb/src/main/webapp/resources/global/js/image-gallery/css/blueimp-gallery.min.css">
		<link rel="stylesheet" href="../../../../../../egov-egiweb/src/main/webapp/resources/global/js/image-gallery/css/bootstrap-image-gallery.css">
		
		<script src="../../../../../../egov-egiweb/src/main/webapp/resources/global/js/image-gallery/js/jquery.blueimp-gallery.min.js"></script>
		<script src="../../../../../../egov-egiweb/src/main/webapp/resources/global/js/image-gallery/js/bootstrap-image-gallery.js"></script>
		
		<script src="../js/app/complaintview.js"></script>
		<script src="../js/app/complaintviewmap.js"></script>
		<script src="../js/app/citizencomplaintview.js"></script>
	</body>
</html>																														