<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<meta name="description" content="Neon Admin Panel" />
		<meta name="author" content="" />
		
		<title>eGov Urban Portal</title>
		
		<link rel="stylesheet" href="../../../../../../egov-egiweb/src/main/webapp/resources/global/css/bootstrap/bootstrap.css">
		<link rel="stylesheet" href="../../../../../../egov-egiweb/src/main/webapp/resources/global/css/egov/custom.css">
		<link rel="stylesheet" href="../../../../../../egov-egiweb/src/main/webapp/resources/global/css/egov/header-custom.css">
		<script src="../../../../../../egov-egiweb/src/main/webapp/resources/global/js/jquery/jquery.js"></script>
		
		<!--[if lt IE 9]><script src="assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
		
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
		
		
	</head>
	<body class="page-body">
		<div class="page-container">
			
			<header class="navbar navbar-fixed-top"><!-- set fixed position by adding class "navbar-fixed-top" -->
				
				<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
					<div class="container-fluid">
						<div class="navbar-header col-md-10 col-xs-10">
							<a class="navbar-brand" href="javascript:void(0);">
								<img src="../../../../../../egov-egiweb/src/main/webapp/resources/global/images/chennai_logo.jpg" height="60">
								<div>
									
									<span class="title2">Chennai Municipal Corporation</span>
								</div>
							</a>
						</div>
						
						<div class="nav-right-menu col-md-2 col-xs-2">
							<ul class="hr-menu text-right">
								<li class="ico-menu">
									<a href="javascript:void(0);">
										<img src="../../../../../../egov-egiweb/src/main/webapp/resources/global/images/logo@2x.png" title="Powered by eGovernments" height="20px">
									</a>
								</li>
								
							</ul>
						</div>
						
					</div>
				</nav>
				
			</header>
			
			<div class="main-content">
					<div class="row">
						<div class="col-md-12">
							
							<div class="panel panel-primary" data-collapsed="0">
								
								<div class="panel-heading">
									<div class="panel-title text-center no-float">
										Your complaint has been successfully registered
										<div>Complaint number(CTN) : <span id="ctn_no">973XJM</span>. Please use this number for all future references</div>
									</div>
									
								</div>
								
								<div class="panel-body">
									
									<div class="row">
										<div class="col-md-3 col-xs-6 add-margin">
											Complaint Date
										</div>
										<div class="col-md-3 col-xs-6 add-margin" id="ct-date">
											Tue, 23 Dec 2014 04:44PM
										</div>
										<div class="col-md-3 col-xs-6 add-margin">
											Name
										</div>
										<div class="col-md-3 col-xs-6 add-margin" id="ct-name">
											Sundharajan
										</div>
									</div>
									<div class="row">
										<div class="col-md-3 col-xs-6 add-margin">
											Phone Number
										</div>
										<div class="col-md-3 col-xs-6 add-margin" id="ct-mobno">
											987654332
										</div>
										<div class="col-md-3 col-xs-6 add-margin">
											Email
										</div>
										<div class="col-md-3 col-xs-6 add-margin" id="ct-email">
											sundar@google.com
										</div>
									</div>
									<!--div class="row">
										<div class="col-md-3 col-xs-6 add-margin">
										Location
										</div>
										<div class="col-md-3 col-xs-6 add-margin">
										Adayar, Chennai
										</div>
										<div class="col-md-3 col-xs-6 add-margin">
										Pincode
										</div>
										<div class="col-md-3 col-xs-6 add-margin">
										600028
										</div>
									</div-->
									
								</div>
								
							</div>
							
						</div>
					</div>
					
					
					<div class="row">
						<div class="col-md-12">
							
							<div class="panel panel-primary" data-collapsed="0">
								
								<div class="panel-body">
									
									<div class="row">
										<div class="col-md-3 col-xs-6 add-margin">
											Complaint Type
										</div>
										<div class="col-md-3 col-xs-6 add-margin" id="ct-type">
											Removal of garbage
										</div>
										<div class="col-md-3 col-xs-6 add-margin">
											Complaint Title
										</div>
										<div class="col-md-3 col-xs-6 add-margin" id="ct-title">
											Removal of garbage
										</div>
									</div>
									<div class="row">
										<div class="col-md-3 col-xs-6 add-margin">
											Complaint Details
										</div>
										<div class="col-md-9 col-xs-6 add-margin" id="ct-details">
											asd
										</div>
									</div>
									<div class="row">
										<div class="col-md-3 col-xs-12 add-margin">
											Photos/ Video 
										</div>
										<div class="col-md-9 col-xs-12 add-margin down-file text-center" id="links">
											<a href="../../../../../../egov-egiweb/src/main/webapp/resources/global/images/burjkhalifa.jpg" title="Banana" data-gallery>
												<img src="../../../../../../egov-egiweb/src/main/webapp/resources/global/images/burjkhalifa.jpg" class="img-width add-margin">
											</a>
											<a href="../../../../../../egov-egiweb/src/main/webapp/resources/global/images/b.jpg" title="Apple" data-gallery>
												<img src="../../../../../../egov-egiweb/src/main/webapp/resources/global/images/b.jpg" class="img-width add-margin" >
											</a>
											<a href="../../../../../../egov-egiweb/src/main/webapp/resources/global/images/c.jpg" title="Orange" data-gallery>
												<img src="../../../../../../egov-egiweb/src/main/webapp/resources/global/images/c.jpg" class="img-width add-margin" >
											</a>
										</div>
									</div>
									<div class="row">
										
										<div class="col-md-3 col-xs-6 add-margin">
											Location
										</div>
										<div class="col-md-9 col-xs-6 add-margin" id="ct-location">
											Area - 7h Bus Stand/Locality - Mugappair Street - 11th Block Parisalai
										</div>
									</div>
									<div class="row">
										<div class="col-md-3 col-xs-6 add-margin">
											Landmark
										</div>
										<div class="col-md-3 col-xs-6 add-margin" id="ct-landmark">
											N/A
										</div>
									</div>
									
									
								</div>
								
							</div>
							
						</div>
					</div>
					
					
					<div class="row text-center">
						<div class="add-margin">
							<button type="submit" class="btn btn-default">Print</button>
							<a href="javascript:void(0)" class="btn btn-default" onclick="self.close()">Close</a>
						</div>
					</div>
					
					
				</div>
				
				<footer class="main">
					
					Powered by <a href="http://eGovernments.org" target="_blank">eGovernments Foundation</a>
					
				</footer>
				
			</div>
			
			<!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
			<div id="blueimp-gallery" class="blueimp-gallery" data-use-bootstrap-modal="false">
				<!-- The container for the modal slides -->
				<div class="slides"></div>
				<!-- Controls for the borderless lightbox -->
				<h3 class="title"></h3>
				<a class="prev">‹</a>
				<a class="next">›</a>
				<a class="close">×</a>
				<ol class="indicator"></ol>
				<!-- The modal dialog, which will be used to wrap the lightbox content -->
				<div class="modal fade">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" aria-hidden="true">&times;</button>
							<h4 class="modal-title"></h4>
						</div>
						<div class="modal-body next"></div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default pull-left prev">
								<i class="glyphicon glyphicon-chevron-left"></i>
								Previous
							</button>
							<button type="button" class="btn btn-primary next">
								Next
								<i class="glyphicon glyphicon-chevron-right"></i>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		
		<script src="../../../../../../egov-egiweb/src/main/webapp/resources/global/js/bootstrap/bootstrap.js"></script>
		
		<link rel="stylesheet" href="../../../../../../egov-egiweb/src/main/webapp/resources/global/js/image-gallery/css/blueimp-gallery.min.css">
		<link rel="stylesheet" href="../../../../../../egov-egiweb/src/main/webapp/resources/global/js/image-gallery/css/bootstrap-image-gallery.css">
		
		<script src="../../../../../../egov-egiweb/src/main/webapp/resources/global/js/image-gallery/js/jquery.blueimp-gallery.min.js"></script>
		<script src="../../../../../../egov-egiweb/src/main/webapp/resources/global/js/image-gallery/js/bootstrap-image-gallery.js"></script>
		
	</body>
</html>											