<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<meta name="description" content="Neon Admin Panel" />
		<meta name="author" content="" />
		
		<title>eGov Urban Portal</title>
		
		<link rel="stylesheet" href="../css/bootstrap/bootstrap.css">
		<link rel="stylesheet" href="../css/font-icons/entypo/css/entypo.css">
		<link rel="stylesheet" href="../css/egov/custom.css">
		<script src="../js/jquery/jquery.js"></script>
		
		<!--[if lt IE 9]><script src="resources/js/ie8-responsive-file-warning.js"></script><![endif]-->
		
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
		
		
	</head>
	<body class="page-body">
		
		<div class="page-container horizontal-menu">
			
			<header class="navbar navbar-fixed-top border-header"><!-- set fixed position by adding class "navbar-fixed-top" -->
				
				<div class="navbar-inner">
					
					<!-- logo -->
					<div class="navbar-brand">
						<a href="index.html">
							<img src="../images/logo@2x.png" alt="" />
						</a>
					</div>
					
				</div>
				
			</header>
			
			<div class="sidebar-menu">
				
				<div class="sidebar-menu-inner">
					
					<ul id="main-menu" class="main-menu">
						
						<li id="search">
							<form method="get" action="">
								<input type="text" name="" class="search-input" placeholder="Search something..." />
								<button type="submit">
									<i class="entypo-search"></i>
								</button>
							</form>
						</li>
						
						<li>
							<a href="javascript:void(0);">
								<i class="entypo-leaf"></i>
								<span class="title">Recent</span>
							</a>
							<ul>
								<li>
									<a href="javascript:void(0);">
										<span class="title">Complaints</span>
									</a>
								</li>
							</ul>
						</li>
						
						<li>
							<a href="javascript:void(0);">
								<i class="entypo-list"></i>
								<span class="title">Worklist</span>
								<span class="badge badge-secondary">8</span>
							</a>
						</li>
						
						<li>
							<a href="javascript:void(0);">
								<i class="entypo-inbox"></i>
								<span class="title">Drafts</span>
							</a>
						</li>
						
						<li>
							<a href="javascript:void(0);">
								<i class="entypo-bell"></i>
								<span class="title">Notifications</span>
								<span class="badge badge-secondary">8</span>
							</a>
						</li>
						
						<li>
							<a href="javascript:void(0);">
								<i class="entypo-window"></i>
								<span class="title">Applications</span>
							</a>
						</li>
						
						<li>
							<a href="javascript:void(0);">
								<i class="entypo-doc-text"></i>
								<span class="title">Feedback</span>
							</a>
						</li>
						
						
					</ul>
					
				</div>
				
			</div>
			
			<div class="main-content">
				
			</div>
			
		</div>
		
		
		
		<script src="../js/bootstrap/bootstrap.js"></script>
		<script src="../../js/app/homepage.js"></script>
	</body>
	
</html>