<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<meta name="description" content="Neon Admin Panel" />
		<meta name="author" content="" />
		
		<title>eGov Urban Portal</title>
		<link rel="stylesheet" href="../../../../../../egov-egiweb/src/main/webapp/resources/global/css/bootstrap/bootstrap.css">
		<link rel="stylesheet" href="../../../../../../egov-egiweb/src/main/webapp/resources/global/css/egov/custom.css">
		<link rel="stylesheet" href="../../../../../../egov-egiweb/src/main/webapp/resources/global/css/egov/header-custom.css">
		<script src="../../../../../../egov-egiweb/src/main/webapp/resources/global/js/jquery/jquery.js"></script>
		<script src="../js/app/complaintrouting.js"></script>
		
		<!--[if lt IE 9]><script src="resources/js/ie8-responsive-file-warning.js"></script><![endif]-->
		
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
		
		
	</head>
	<body class="page-body">
		
		<div class="page-container">
			
			<header class="navbar navbar-fixed-top"><!-- set fixed position by adding class "navbar-fixed-top" -->
				
				<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
					<div class="container-fluid">
						<div class="navbar-header col-md-10 col-xs-10">
							<a class="navbar-brand" href="javascript:void(0);">
								<img src="../../../../../../egov-egiweb/src/main/webapp/resources/global/images/chennai_logo.jpg" height="60">
								<div>
									
									<span class="title2">Add Complaint Router</span>
								</div>
							</a>
						</div>
						
						<div class="nav-right-menu col-md-2 col-xs-2">
							<ul class="hr-menu text-right">
								<li class="ico-menu">
									<a href="javascript:void(0);">
										<img src="../../../../../../egov-egiweb/src/main/webapp/resources/global/images/logo@2x.png" title="Powered by eGovernments" height="20px">
									</a>
								</li>
								
							</ul>
						</div>
						
					</div>
				</nav>
				
			</header>
			
			<div class="main-content">
			
				
				<div class="row">
					<div class="col-md-12">
						
						<div class="" data-collapsed="0">
							
							<div class="panel-body">
								
								<form action="javascript:void(0);" id="addcomplaint" method="post" class="form-horizontal form-groups-bordered">
									
									<div class="form-group">
										<label class="col-sm-3 control-label">Complaint Type</label>
										<div class="col-sm-6">
											<input id="com_type" type="text" class="form-control typeahead" placeholder=""/>
										</div>
									</div>
									
									<div class="form-group">
										<label class="col-sm-3 control-label">Boundary Type</label>
										<div class="col-sm-6">
											<select name="com_boun_type" id="com_boun_type" class="form-control">
												<option value="">Select</option>
												<option value="1">North Zone</option>
												<option value="2">South Zone</option>
											</select>
										</div>
									</div>
									
									<div class="form-group">
										<label class="col-sm-3 control-label">Boundary</label>
										<div class="col-sm-6">
											<input id="com_boundry" type="text" class="form-control typeahead" placeholder=""/>
										</div>
									</div>
									
									<div class="form-group">
										<label class="col-sm-3 control-label">Position</label>
										<div class="col-sm-6">
											<input id="com_position" type="text" class="form-control typeahead" placeholder=""/>
										</div>
									</div>
									
									<div class="form-group">
										<div class="text-center">
											<button type="submit" class="btn btn-primary">Submit</button>
											<a href="javascript:void(0);" class="btn btn-default">Cancel</a>
										</div>
									</div>
									
								</form>
								
							</div>
							
						</div>
						
					</div>
				</div>
				
				
			</div>
			
			<footer class="main">
					
					Powered by <a href="http://eGovernments.org" target="_blank">eGovernments Foundation</a>
					
				</footer>
			
			
		</div>
		
		<script src="../../../../../../egov-egiweb/src/main/webapp/resources/global/js/bootstrap/bootstrap.js"></script>
		<script src="../../../../../../egov-egiweb/src/main/webapp/resources/global/js/egov/custom.js"></script>
		<script src="../../../../../../egov-egiweb/src/main/webapp/resources/global/js/bootstrap/typeahead.bundle.js"></script>
		<script src="../../../../../../egov-egiweb/src/main/webapp/resources/global/js/jquery/plugins/jquery.validate.min.js"></script>
		
	</body>
</html>