<STYLE TYPE="text/css">
 <!-- /* $WEFT -- Created by: deepak (deepak@egovernments.org) on 1/6/2005 -- */
  @font-face {
    font-family: Mangal;
    font-style:  normal;
    font-weight: normal;
    src: url(../MANGAL3.eot);
  }
  @font-face {
    font-family: Mangal;
    font-style:  oblique;
    font-weight: normal;
    src: url(../MANGAL2.eot);
  }
  @font-face {
    font-family: Mangal;
    font-style:  oblique;
    font-weight: 700;
    src: url(../MANGAL1.eot);
  }
  @font-face {
    font-family: Mangal;
    font-style:  normal;
    font-weight: 700;
    src: url(../MANGAL0.eot);
  }
-->

</STYLE>