<?xml version='1.0' encoding='utf-8'?>

<!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
          "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.cache.use_second_level_cache">true</property>
		<property name="hibernate.cache.use_query_cache">true</property>
		<property name="hibernate.cache.use_minimal_puts">true</property>
		<property name="hibernate.cache.region.factory_class">org.hibernate.cache.infinispan.JndiInfinispanRegionFactory</property>
		<property name="hibernate.cache.infinispan.cachemanager">java:jboss/infinispan/container/hibernate</property>
		<property name="hibernate.search.lucene_version">LUCENE_34</property>
		<!-- For Postgres -->
		<property name="hibernate.dialect">org.hibernate.dialect.PostgresPlusDialect</property>
		<!-- <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>-->
		<property name="hibernate.transaction.jta.platform">org.hibernate.service.jta.platform.internal.JBossAppServerJtaPlatform</property>
		<property name="hibernate.transaction.flush_before_completion">true</property>
		<property name="hibernate.transaction.auto_close_session">true</property>
		<!-- For Postgres -->
		<property name="hibernate.jdbc.use_streams_for_binary">false</property>
		<property name="hibernate.show_sql">true</property>
  </session-factory>
</hibernate-configuration>
