<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
	default-lazy-init="true">
	
	<bean class="org.egov.erpcollection.util.CollectionsNumberGenerator"
		id="collectionsNumberGenerator" scope="prototype">
		<property name="scriptExecutionService" ref="scriptExecutionService" />
		<property name="sequenceGenerator" ref="sequenceNumberGenerator" />
		<property name="collectionsUtil" ref="collectionsUtil" />
	</bean>
	
	<bean class="org.egov.erpcollection.services.ReceiptHeaderService"
		id="receiptHeaderService" parent="persistenceService" scope="prototype">
		<property name="type" value="org.egov.erpcollection.models.ReceiptHeader" />
		<property name="collectionsUtil" ref="collectionsUtil" />
		<property name="financialsUtil" ref="financialsUtil" />
		<property name="collectionsNumberGenerator" ref="collectionsNumberGenerator" />
		<property name="persistenceService" ref="persistenceService" />
		<property name="commonsService" ref="commonsService" />
		<property name="contraWorkflowService" ref="contraWorkflowService" />
	</bean>
	
	<bean class="org.egov.erpcollection.services.ReceiptService" id="receiptPayeeDetailsService"
		parent="persistenceService" scope="prototype">
		<property name="collectionsNumberGenerator" ref="collectionsNumberGenerator" />
		<property name="financialsUtil" ref="financialsUtil" />
		<property name="collectionsUtil" ref="collectionsUtil" />
		<property name="eisService" ref="eisService" />
	</bean>
       
  	<bean id="collectionCommon" class="org.egov.erpcollection.util.CollectionCommon" scope="prototype">
		<property name="persistenceService" ref="persistenceService" />
		<property name="commonsService" ref="commonsService" />
		<property name="boundaryDAO" ref="boundaryDAO" />
		<property name="reportService" ref="reportService" />
		<property name="receiptPayeeDetailsService" ref="receiptPayeeDetailsService" />
		<property name="receiptHeaderService" ref="receiptHeaderService" />
		<property name="collectionsUtil" ref="collectionsUtil" />
		<property name="financialsUtil" ref="financialsUtil" />
		<property name="egovCommon" ref="egovCommon" />
	</bean>
	
	<bean id="collectionsUtil" class="org.egov.erpcollection.util.CollectionsUtil" scope="prototype">
		<property name="persistenceService" ref="persistenceService" />
		<property name="scriptExecutionService" ref="scriptExecutionService" />
		<property name="userService" ref="userService" />
		<property name="genericDao" ref="genericDao" />
		<property name="beanProvider" ref="beanProvider" />
		<property name="eisCommonsService" ref="eisCommonsService" />
		<property name="employeeService" ref="employeeService" />
		<property name="eisService" ref="eisService" />
		<property name="searchPositionService" ref="searchPositionService" />
		<property name="auditEventService" ref="auditEventService" />
	</bean>
	
	<bean id="financialsUtil" class="org.egov.erpcollection.util.FinancialsUtil" scope="prototype">
		<property name="instrumentService" ref="instrumentService" />
		<property name="contraService" ref="contraService" />
		<property name="voucherCreator" ref="voucherCreator" />
	</bean>
	
	<bean id="collectionIntegrationService" 
			class="org.egov.erpcollection.integration.services.CollectionIntegrationServiceImpl" 
			parent="persistenceService" scope="prototype">
		<property name="commonsService" ref="commonsService"/>
		<property name="collectionCommon" ref="collectionCommon"/>
		<property name="persistenceService" ref="persistenceService"/>
		<property name="collectionsUtil" ref="collectionsUtil"/>
		<property name="receiptPayeeDetailsService" ref="receiptPayeeDetailsService"/>
		<property name="receiptHeaderService" ref="receiptHeaderService"/>
	</bean>
	
	<bean id="PTCollectionsInterface" class="org.egov.ptis.service.collection.PropertyTaxCollection" scope="prototype">
		<property name="persistenceService" ref="persistenceService" />
    </bean>
	
	<bean id="TLCollectionsInterface" class="org.egov.license.domain.service.integration.LicenseBillService" scope="prototype">
		<property name="billDao" ref="billDao" />
		<property name="persistenceService" ref="persistenceService" />
	</bean>

	<bean id="HLCollectionsInterface" class="org.egov.license.domain.service.integration.LicenseBillService" scope="prototype">
		<property name="billDao" ref="billDao" />
		<property name="persistenceService" ref="persistenceService" />
	</bean>

	<bean id="HWLCollectionsInterface" class="org.egov.license.domain.service.integration.LicenseBillService" scope="prototype">
		<property name="billDao" ref="billDao" />
		<property name="persistenceService" ref="persistenceService" />
	</bean>

	<bean id="WWLCollectionsInterface"
		class="org.egov.license.domain.service.integration.LicenseBillService"
		scope="prototype">
		<property name="billDao" ref="billDao" />
		<property name="persistenceService" ref="persistenceService" />
	</bean>

	<bean id="VETLCollectionsInterface"
		class="org.egov.license.domain.service.integration.LicenseBillService"
		scope="prototype">
		<property name="billDao" ref="billDao" />
		<property name="persistenceService" ref="persistenceService" />
	</bean>

	<bean id="PWDCollectionsInterface"
		class="org.egov.license.pwdcontractor.domain.service.PwdContractorLicenseBillService"
		scope="prototype">
		<property name="billDao" ref="billDao" />
		<property name="persistenceService" ref="persistenceService" />
	</bean>
	
	<bean id="ECLCollectionsInterface"
		class="org.egov.license.electricalcontractor.domain.service.ElectricalContractorLicenseBillService"
		scope="prototype">
		<property name="billDao" ref="billDao" />
		<property name="persistenceService" ref="persistenceService" />
	</bean>
	
	
	<bean id="SCBPCollectionsInterface" class="com.t4.sc.DAO.SCBPCollectionsInterface" scope="prototype" >
		<property name="stadiumReservationDtlsDAO" ref="stadiumReservationDtlsDAO" />
	</bean>
	
	<bean id="stadiumReservationDtlsDAO" class="com.t4.sc.DAOImpl.StadiumReservationDtlsDAOImpl" scope="prototype">
    	<property name="stadResvWorkflowService" ref="stadResvWorkflowService" />
        <property name="eisService" ref="eisService" />
        <property name="employeeDAO" ref="employeeDAO" />
    </bean>
    
    <bean id="stadResvWorkflowService" class="org.egov.infstr.workflow.SimpleWorkflowService" lazy-init="false" scope="prototype">
    	<constructor-arg ref="persistenceService"/>
    	<constructor-arg value="com.t4.sc.model.StadiumReservationDtls"/>
    </bean>
    
    <bean id="employeeDAO" class="com.t4.sc.DAOImpl.EmployeeDAOImpl" scope="singleton"></bean>
    
    <bean id="OBPCollectionsInterface" class="com.t4.oc.dao.OBPCollectionsInterface" scope="prototype"></bean>
    
    <bean id="MABPCollectionsInterface" class="com.t4.ma.dao.MABPCollectionsInterface" scope="prototype"></bean>
    
    
	<!-- CONFIGURATION FOR LAND AND ESTATE -->
	
		<bean id="monthlyDemandService"
			class="org.egov.landestate.services.demand.LEMonthlyDemandService"
			parent="persistenceService">
			<property name="type" value="org.egov.demand.model.EgDemand" />
			<property name="persistenceService" ref="persistenceService" />
			<property name="installmentService" ref="installmentService" />
			<property name="demandReasonService" ref="demandReasonService" />
			<property name="scriptService" ref="scriptExecutionService" />
			<property name="egDemandReasonMasterService" ref="egDemandReasonMasterService" />
			<property name="demandDetailService" ref="demandDetailService" />
		</bean>
	
		<bean id="quarterlyDemandService"
			class="org.egov.landestate.services.demand.LEQuarterlyDemandService"
			parent="persistenceService">
			<property name="type" value="org.egov.demand.model.EgDemand" />
			<property name="persistenceService" ref="persistenceService" />
			<property name="installmentService" ref="installmentService" />
			<property name="demandReasonService" ref="demandReasonService" />
			<property name="scriptService" ref="scriptExecutionService" />
			<property name="egDemandReasonMasterService" ref="egDemandReasonMasterService" />
			<property name="demandDetailService" ref="demandDetailService" />
		</bean>
		<bean id="yearlyDemandService"
			class="org.egov.landestate.services.demand.LEYearlyDemandService"
			parent="persistenceService">
			<property name="type" value="org.egov.demand.model.EgDemand" />
			<property name="persistenceService" ref="persistenceService" />
			<property name="installmentService" ref="installmentService" />
			<property name="demandReasonService" ref="demandReasonService" />
			<property name="scriptService" ref="scriptExecutionService" />
			<property name="egDemandReasonMasterService" ref="egDemandReasonMasterService" />
			<property name="demandDetailService" ref="demandDetailService" />
		</bean>
	
		<bean id="halfyearlyDemandService"
			class="org.egov.landestate.services.demand.LEHalfYearlyDemandService"
			parent="persistenceService">
			<property name="type" value="org.egov.demand.model.EgDemand" />
			<property name="persistenceService" ref="persistenceService" />
			<property name="installmentService" ref="installmentService" />
			<property name="demandReasonService" ref="demandReasonService" />
			<property name="scriptService" ref="scriptExecutionService" />
			<property name="demandDetailService" ref="demandDetailService" />
		</bean>
	
		<bean id="LECollectionsInterface" class="org.egov.landestate.delegate.UnitRentCollection">
			<property name="actualDemandService" ref="actualDemandService" />
			<property name="scriptService" ref="scriptExecutionService" />
			<property name="persistenceService" ref="persistenceService" />
		</bean>
	
		<bean id="actualDemandService"
			class="org.egov.landestate.services.demand.LandEstateActualDemandService">
			<property name="persistenceService" ref="persistenceService" />
			<property name="demandServiceMap">
				<map>
					<entry>
						<key>
							<value>Monthly</value>
						</key>
						<ref bean="monthlyDemandService" />
					</entry>
					<entry>
						<key>
							<value>Quarterly</value>
						</key>
						<ref bean="quarterlyDemandService" />
					</entry>
					<entry>
						<key>
							<value>Half Yearly</value>
						</key>
						<ref bean="halfyearlyDemandService" />
					</entry>
					<entry>
						<key>
							<value>Yearly</value>
						</key>
						<ref bean="yearlyDemandService" />
					</entry>
				</map>
			</property>
	
		</bean>
	
		<bean id="installmentService" class="org.egov.infstr.services.PersistenceService"
			scope="prototype">
			<property name="type" value="org.egov.commons.Installment" />
			<property name="sessionFactory" ref="egovSessionFactory" />
		</bean>
	
		<bean id="demandReasonService" class="org.egov.infstr.services.PersistenceService"
			scope="prototype">
			<property name="type" value="org.egov.demand.model.EgDemandReason" />
			<property name="sessionFactory" ref="egovSessionFactory" />
		</bean>
	
		<bean id="egDemandReasonMasterService" class="org.egov.infstr.services.PersistenceService"
			scope="prototype">
			<property name="type" value="org.egov.demand.model.EgDemandReasonMaster" />
			<property name="sessionFactory" ref="egovSessionFactory" />
		</bean>
	
		<bean id="demandDetailService" class="org.egov.infstr.services.PersistenceService"
			scope="prototype">
			<property name="type" value="org.egov.demand.model.EgDemandDetails" />
			<property name="sessionFactory" ref="egovSessionFactory" />
		</bean>
	
	
	<!-- END OF CONFIGURATION FOR LANDESTATE -->
	
	<bean id="CLCollectionsInterface"
		class="org.egov.erpcollection.integration.services.BillingIntegrationServiceStub" />
		
	<bean id="TLRCollectionsInterface"
		class="org.egov.erpcollection.integration.services.BillingIntegrationServiceStub" />

	<bean id="BSCollectionsInterface"
		class="org.egov.erpcollection.integration.services.BillingIntegrationServiceStub" />
	
	<bean id="PRFTCollectionsInterface"
		class="org.egov.erpcollection.integration.services.BillingIntegrationServiceStub" />	
		
</beans>