<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
	default-lazy-init="true">  
	
	<bean id="fileMgmtService" class="org.egov.dms.services.FileManagementService" scope="prototype">
		<property name="scriptExecuter" ref="scriptExecutionService"/>
		<property name="sequenceNumberGenerator" ref="sequenceNumberGenerator"/>
		<property name="appConfigValuesDAO" ref="appConfigValuesDAO"/>
		<property name="persistenceService" ref="persistenceService"/>
		<property name="notificationFilePersistenceService" ref="notificationFilePersistenceService"/>
		<property name="notificationPersistenceService" ref="notificationPersistenceService"/>
		<property name="eisService" ref="eisService"/>
	</bean>
	
	<bean id="notificationFilePersistenceService" parent="persistenceService">
		<property name="type" value="org.egov.dms.models.NotificationFile"/>
	</bean>
	
	<bean id="notificationPersistenceService" parent="persistenceService">
		<property name="type" value="org.egov.dms.models.Notification"/>
	</bean>
	
	<bean id="notificationGroupPersistenceService" parent="persistenceService">
		<property name="type" value="org.egov.infstr.workflow.NotificationGroup"/>
	</bean>		
</beans>