@charset "UTF-8";

.TabbedPanels {
	margin: 0px;
	padding: 0px;
	float: left;
	clear: none;
	width: 100%; 
}

.TabbedPanelsTabGroup {
	margin: 0px;
	padding: 0px;
}

.TabbedPanelsTab {
	position: relative;
	top: 1px;
	float: left;
	padding: 5px 15px;
	margin: 0px 1px 0px 0px;
	background-color: #72A3CC;
	list-style: none;
	border-left: solid 1px #72A3CC;
	border-bottom: solid 1px #72A3CC;
	border-top: solid 1px #72A3CC;
	border-right: solid 1px #72A3CC;
	-moz-user-select: none;
	-khtml-user-select: none;
	cursor: pointer;
	font-family: sans-serif;
	font-size: 11px;
	font-weight: bold;
}


.TabbedPanelsTabHover {
	background-color: #FFFFFF;
}

.TabbedPanelsTabSelected {
	background-color: #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
}

.TabbedPanelsTab a {
	color: black;
	text-decoration: none;
}

.TabbedPanelsContentGroup {
	clear: both;
	border-left: solid 1px #72A3CC;
	border-bottom: solid 1px #72A3CC;
	border-top: solid 1px #72A3CC;
	border-right: solid 1px #72A3CC;
	background-color: #FFFFFF;
}

.TabbedPanelsContent {
	padding: 12px;
	background-color: #FFFFFF;
}

.TabbedPanelsContentVisible {
}

.VTabbedPanels .TabbedPanelsTabGroup {
	float: left;
	width: 10em;
	height: 20em;
	background-color: #FFFFFF;
	position: relative;
	border-top: solid 1px #72A3CC;
	border-right: solid 1px #72A3CC;
	border-left: solid 1px #72A3CC;
	border-bottom: solid 1px #72A3CC;
}

.VTabbedPanels .TabbedPanelsTab {
	float: none;
	margin: 0px;
	border-top: none;
	border-left: none;
	border-right: none;
}

.VTabbedPanels .TabbedPanelsTabSelected {
	background-color: #FFFFFF;
	border-bottom: solid 1px #72A3CC;
}

.VTabbedPanels .TabbedPanelsContentGroup {
	clear: none;
	float: left;
	padding: 0px;
	width: 30em;
	height: 20em;
}
