<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
	default-lazy-init="true">

	<!-- Services from egi -->
	<bean id="egovSessionFactory" class="org.egov.infstr.services.SessionFactory">
	</bean>
	<bean id="persistenceService"
		class="org.egov.infstr.services.PersistenceService">
		<property name="sessionFactory" ref="egovSessionFactory" />
	</bean>
	<bean id="genericHibDao"
		class="org.egov.infstr.commons.dao.GenericHibernateDaoFactory"
		scope="prototype" >
	</bean>
	<bean id="scriptService" parent="persistenceService">
	  	<property name="type" value="org.egov.infstr.models.Script"></property>
	</bean>
	<bean id="boundaryService" class="org.egov.lib.admbndry.ejb.server.BoundaryServiceImpl">
		<property name="boundaryDAO" ref="boundaryDAO" />
		<property name="boundaryTypeService" ref="boundaryTypeService" />
		<property name="heirarchyTypeService" ref="heirarchyTypeService"/>
	</bean>
	<bean id="heirarchyTypeService" class="org.egov.lib.admbndry.ejb.server.HeirarchyTypeServiceImpl" >
		<property name="heirarchyTypeDAO" ref="heirarchyTypeDAO"/>
	</bean>
	<bean id="boundaryTypeService" class="org.egov.lib.admbndry.ejb.server.BoundaryTypeServiceImpl" />
	<bean id="boundaryDAO" class="org.egov.lib.admbndry.BoundaryDAO" scope="prototype" />
	<bean id="heirarchyTypeDAO" class="org.egov.lib.admbndry.HeirarchyTypeDAO" scope="prototype" />
	
     <!-- Services for assets -->
	 <bean class="org.egov.assets.service.AppService" id="appService" scope="prototype">
		<property name="genericHibDao" ref="genericHibDao"/>
	</bean>
	<bean class="org.egov.assets.service.CommonAssetsService" id="commonAssetsService" scope="prototype">
		<property name="genericService" ref="persistenceService" />		
		<property name="assetCategoryService" ref="assetCategoryService" />
		<property name="assetService" ref="assetService" />
	</bean>
	<bean class="org.egov.assets.model.AssetCategoryNumberGenrator" id="assetCategoryNumberGenrator">
		<property name="scriptService" ref="scriptService"/>
		<property name="sequenceGenerator" ref="sequenceGenerator"/>
		<property name="scriptExecutionService" ref="scriptExecutionService"/>
	</bean>
	<bean class="org.egov.assets.service.impl.AssetCategoryServiceImpl" id="assetCategoryService" scope="prototype">
		<constructor-arg>
			<bean parent="persistenceService">
				<property name="type" value="org.egov.assets.model.AssetCategory" />
			</bean>
		</constructor-arg>			
		<property name="genericService" ref="persistenceService" />		
		<property name="appService" ref="appService" />
		<property name="assetCategoryNumberGenrator" ref="assetCategoryNumberGenrator"/>
	</bean>
	<bean class="org.egov.assets.model.AssetNumberGenrator" id="assetNumberGenrator">
		<property name="scriptService" ref="scriptService"/>
		<property name="sequenceGenerator" ref="sequenceGenerator"/>
		<property name="scriptExecutionService" ref="scriptExecutionService"/>
	</bean>
	<bean class="org.egov.assets.service.impl.AssetServiceImpl" id="assetService" scope="prototype">
		<constructor-arg>
			<bean parent="persistenceService">
				<property name="type" value="org.egov.assets.model.Asset" />
			</bean>
		</constructor-arg>			
		<property name="genericService" ref="persistenceService" />		
		<property name="appService" ref="appService" />
		<property name="assetNumberGenrator" ref="assetNumberGenrator"/>
	</bean>
	<bean class="org.egov.assets.service.impl.AssetActivitiesImpl" id="assetActivitiesService" scope="prototype">
		<constructor-arg>
			<bean parent="persistenceService">
				<property name="type" value="org.egov.assets.model.AssetActivities" />
			</bean>
		</constructor-arg>
		<property name="genericService" ref="persistenceService" />	
	</bean>
	<bean class="org.egov.assets.service.impl.AssetDepreciationImpl" id="assetDepreciationService" scope="prototype">
		<constructor-arg>
			<bean parent="persistenceService">
				<property name="type" value="org.egov.assets.model.AssetDepreciation" />
			</bean>
		</constructor-arg>
		<property name="genericService" ref="persistenceService" />	
	</bean>
	<bean class="org.egov.assets.service.impl.AssetVoucherHeaderImpl" id="assetVHService" scope="prototype">
		<constructor-arg>
			<bean parent="persistenceService">
				<property name="type" value="org.egov.assets.model.AssetVoucherHeader" />
			</bean>
		</constructor-arg>
		<property name="genericService" ref="persistenceService" />	
	</bean>
	<bean class="org.egov.assets.service.impl.AssetVoucherDetailImpl" id="assetVDService" scope="prototype">
		<constructor-arg>
			<bean parent="persistenceService">
				<property name="type" value="org.egov.assets.model.AssetVoucherDetail" />
			</bean>
		</constructor-arg>
		<property name="genericService" ref="persistenceService" />	
	</bean>
	<bean class="org.egov.assets.service.impl.AssetRevaluationImpl" id="assetRevalService" scope="prototype">
		<constructor-arg>
			<bean parent="persistenceService">
				<property name="type" value="org.egov.assets.model.AssetRevaluation" />
			</bean>
		</constructor-arg>
		<property name="genericService" ref="persistenceService" />	
	</bean>
	
	 <bean id="financingSourceService" class="org.egov.services.financingsource.FinancingSourceService"  parent="persistenceService" >
	 	<property name="type" value="org.egov.commons.Fundsource" />
	 </bean>
	 <bean id="assetRevalWFService" class="org.egov.infstr.workflow.SimpleWorkflowService" scope="prototype">
	 <constructor-arg ref="persistenceService"/>
     <constructor-arg value="org.egov.assets.model.AssetRevaluation"/>
	</bean>
</beans>
