html, body {
	height: 100%;
	width: 100%;
}
*
{
	border:none;
	outline: none;
}

a
{
	text-decoration:none;
	outline: none;
}

a:focus{
	outline:0;
	border:0;
}

.page-container {
	width: 100%;
	display: table;
	height: 100%;
	table-layout: fixed;
}

/*header*/
.page-container.horizontal-menu {
	padding-left: 0;
	padding-top: 62px;
}
.page-container.horizontal-menu header.navbar.navbar-fixed-top {
	position: fixed;
	min-height:63px;
	z-index: 10000;
}

.page-container.horizontal-menu header.navbar.navbar-fixed-top.border-header {
	border-bottom:1px solid #573b1e;
}

.page-container.horizontal-menu header.navbar {
	position: absolute;
	z-index: 8;
	background:#6b4f2c;
	padding: 0;
	margin-bottom: 0;
	border: 0;
	left: 0;
	right: 0;
	top: 0;
	-webkit-border-radius: 0;
	-webkit-background-clip: padding-box;
	-moz-border-radius: 0;
	-moz-background-clip: padding;
	border-radius: 0;
	background-clip: padding-box;
}
.page-container.horizontal-menu header.navbar .navbar-brand {
	padding: 0 20px;
	padding-right: 0;
	padding-top:1px;
	padding-bottom:1px;
	/* padding-bottom: 13px; */
}
.horizontal-page-title, .horizontal-page-title.homepage{
	margin:0;
	color:#fff;
	font-size:25px;
	line-height:2.4;
}

.horizontal-page-title.homepage{
	line-height:2.5;
}

.page-container .main-content {
	position: relative;
	display: table-cell;
	vertical-align: top;
	padding: 20px;
	background: #ffffff;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.error, .login-body .form-group .input-group .form-control.error{
	border-color: red;
}
.error-msg{
	color:rgb(255, 0, 0);
	font-size:13px;
}
.add-margin
{
	margin:3px 0;
}

@media (max-width: 768px)
{
	.horizontal-page-title, .horizontal-page-title.homepage{
		font-size:20px;
		line-height:3.1;
	}
	
	.horizontal-page-title.homepage
	{
		display:none;
	}
}

.inline-elem {
	display: inline-block;
}

.pagination {
	margin:0;
}

table.dataTable tbody tr:hover
{
	background:#f7f7f7;
	cursor:pointer;
}

.apply-background {
	background: #EAEAEA;
	cursor: pointer;
}

@media (max-width: 768px)
{
	table.dataTable{
		display:block;
	}
	
	table.dataTable > thead th{
		position:absolute;
		top:-9990px;
		left:-9990px;
	}
	
	.table-bordered > tbody > tr {
		border-bottom:1px solid #ebebeb;
	}
	
	.table-bordered > tbody > tr > td{
		border:none;
	}
	
	table.dataTable > thead, table.dataTable > thead > th, table.dataTable  > tbody  , table.dataTable > tbody > tr , table.dataTable > tbody > tr > td
	{
		display: block;
	}
	
	
}

.add-border {
	border-bottom: 1px solid #ebebeb;
}

.img-width {
	width: 260px;
	height: 180px;
	vertical-align:top;
}

.table-cell{
	display:table-cell;
}

.display-hide
{
	display:none;
}

.modal
{
	z-index:10001;
}

.img-prop {
	height: 350px;
	width: 100%;
}

.map-tool-class {
	cursor: pointer;
	background-color: #1f232a;
	color: #fff;
	width: 20px;
	padding: 4px;
}

.panel-body.custom-form {
	padding: 15px 0;
}

.form-horizontal .form-group {
	padding-left:15px;
	padding-right:15px;
}

.panel-heading.custom_form_panel_heading {
	background-color: #f2851f;
	color:#fff;
	margin-top: 10px;
	margin-bottom: 10px;
}

table .replace-inputs input {
	display: block;
	width: 100%;
	height: 31px;
	padding: 6px 12px;
	font-size: 12px;
	line-height: 1.42857143;
	color: #555555;
	background-color: #ffffff;
	background-image: none;
	border: 1px solid #CFCFCF;
	border-radius: 3px;
}

.DTTT_button
{
	padding:5px;
	position:relative;
	border:1px solid #ddd;
	cursor:pointer;
}

.dataTables_wrapper table thead tr th.sorting_asc:before, .dataTables_wrapper table thead tr th.sorting_desc:before {
	display: block;
	float: right;
	color: #fff;
	font-family: 'Entypo';
	content: '\e876';
}

.dataTables_wrapper table thead tr th.sorting_desc:before {
	content: '\e873';
}

.map-class
{
	cursor:pointer;background-color: #1f232a;color:#fff;
}

.form-control.low-width {
	width: 99%;
}

/*left navigation bar*/

.page-container .sidebar-menu {
	position: relative;
	display: table-cell;
	vertical-align: top;
	background: #6b4f2c;
	width: 230px;
	z-index: 100;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.page-container .sidebar-menu .sidebar-menu-inner {
	position: relative;
}

.page-container .sidebar-menu #main-menu {
	list-style: none;
	margin: 0;
	padding: 0;
	margin-bottom: 20px;
}

.page-container .sidebar-menu #main-menu li#search {
	background:#f2851f;
	border-bottom-color: rgba(69, 74, 84, 0.5);
	position: relative;
	height: 48px;
	margin: 0;
	font-size: 12px;
	border-bottom: 1px solid rgba(69, 74, 84, 0.7);
}

.page-container .sidebar-menu #main-menu li#search .search-input{
	background: none;
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	padding: 15px 20px;
	padding-right: 45px;
	width: 100%;
	color: #fff;
	z-index: 100;
}

.page-container .sidebar-menu #main-menu li#search button{
	position: absolute;
	right: 0;
	top: 0;
	background: none;
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	color: #aaabae;
	font-size:14px;
	padding: 12px 20px;
}

.page-container .sidebar-menu #main-menu li i {
	position: relative;
	font-size: 15px;
	margin-right: 5px;
}

.page-container .sidebar-menu #main-menu li {
	position: relative;
	margin: 0;
	font-size: 12px;
	border-bottom: 1px solid #573b1e;
}

.page-container .sidebar-menu #main-menu li a {
	position: relative;
	text-decoration: none;
	display: block;
	padding: 10px 20px;
	color: #fff;
	z-index: 2;
	outline:none;
}

.page-container .sidebar-menu #main-menu li a:hover {
	color:#fff;
	background: #f5861f;
}

.page-container .sidebar-menu #main-menu li a .title{
	padding-left: 5px;
}

.page-container .sidebar-menu #main-menu li a .badge {
	position: relative;
	float: right;
	font-size: 11px;
	line-height: 1.3;
	background-color: #f58720;
	border: 1px solid #454a54;
	color: #ffffff;
}

.page-container .sidebar-menu #main-menu li ul {
	position: relative;
	list-style: none;
	padding: 0;
	margin: 0;
	border-top: 1px solid #573b1e;
	display:none;
	overflow: hidden;
	z-index: 1;
}

.page-container .sidebar-menu #main-menu li ul > li > a {
	background-color: #6b4f2c;
	padding-left: 50px;
}

.page-container .sidebar-menu #main-menu li ul li ul li a{
	padding-left:60px;
	background: #6b4f2c;
}

.page-container .sidebar-menu #main-menu li ul > li:last-child {
	border-bottom: 0;
}

.page-container .sidebar-menu #main-menu li.has-sub > a:before {
	position: relative;
	content: '\e879';
	display: inline-block;
	font-family: 'Entypo';
	color: #454a54;
	color: #FFF;
	float: right;
	font-size: 15px;
	top: 0px;
}

.page-container .sidebar-menu #main-menu li.has-sublevel > a:before {
	position: relative;
	content: '\e877';
	display: inline-block;
	font-family: 'Entypo';
	color: #454a54;
	color: #FFF;
	float: right;
	font-size: 15px;
	top: 0px;
}

.page-container.horizontal-menu.with-sidebar .sidebar-user-info {
	border-top: 0;
	border-bottom: 1px solid #454a54;
}

.page-container .sidebar-menu .sidebar-user-info {
	position: relative;
	padding: 25px 20px;
	border-top: 1px solid #454a54;
}

.page-container .sidebar-menu .sidebar-user-info .sui-normal {
	position: relative;
	color: #373e4a;
}

.page-container .sidebar-menu .sidebar-user-info .user-link{
	text-decoration:none;
}

.page-container .sidebar-menu .sidebar-user-info .user-link img, .page-container .sidebar-menu .sidebar-user-info .user-link i {
	float: left;
	margin-right: 15px;
	font-size:26px;
	border: 4px solid rgba(255, 255, 255, 0.11);
	display: block;
	max-width: 100%;
	height: auto;
	width:44px;
	height:44px;
}

.img-circle {
	border-radius: 50%;
}

.page-container .sidebar-menu .sidebar-user-info a{
	text-decoration;none;
	color: #ffffff;
}

.page-container .sidebar-menu .sidebar-user-info a:hover{
	text-decoration;underline;
}


.page-container .sidebar-menu .sidebar-user-info .user-link strong {
	font-size: 18px;
	color: #ffffff;
	display: block;
	font-size: 17px;
	color: #ffffff;
	font-weight: normal;
	line-height: 1.2;
	-webkit-opacity: 1;
	-moz-opacity: 1;
	opacity: 1;
}

.page-container.horizontal-menu header.navbar ul.nav > li {
	float: left;
	border-right:1px solid #573b1e;
}

.page-container.horizontal-menu header.navbar ul.nav > li > a {
	display: block;
	float: left;
	padding: 22px 20px;
	color: #fff;
	font-size: 12px;
	line-height: 1.42857143;
	outline:none;
}

.page-container.horizontal-menu header.navbar ul.nav > li.dropdown > a {
	position: relative;
	display: block;
	padding: 0;
	margin: 10px;
	margin-top: 18px;
	margin-bottom: 16px;
}

.page-container.horizontal-menu header.navbar ul.nav > li.menu-responsive > a:hover, .page-container.horizontal-menu header.navbar .navbar-right > li ul li a:hover{
	color:#fff;
	background-color: #f2851f;
}

.page-container.horizontal-menu header.navbar ul.nav > li.dropdown > a:hover{
	color:#fff;
	background-color: #6b4f2c;
}

.page-container.horizontal-menu header.navbar ul.nav > li.dropdown > a i {
	font-size: 19px;
}

.page-container.horizontal-menu header.navbar ul.nav > li.dropdown > a .badge {
	position: absolute;
	padding: 2px;
	font-size: 10px;
	right: 0px;
	top: -5px;
	min-width: 17px;
	line-height: 12px;
}

.badge.badge-secondary {
	background-color: #f58720;
	color: #ffffff;
}

.page-container.horizontal-menu header.navbar ul.nav > li > a i, .page-container.horizontal-menu header.navbar ul.nav > li > span i {
	margin-right: 5px;
}

.page-container.horizontal-menu header.navbar ul.nav > li .horizontal-mobile-menu a {
	display: inline-block;
	border: 1px solid #573b1e;
	text-align: center;
	padding: 0;
	line-height: 1;
	font-size: 20px;
	font-weight: 300;
	padding: 5px 2px;
	color: #fff;
	margin-top: 15px;
	margin-left: 20px;
	margin-right:15px;
	border-radius: 3px;
	background-clip: padding-box;
	outline:none;
}


@media (max-width: 768px){
	.page-container.horizontal-menu header.navbar ul.nav > li.dropdown > a
	{
		margin: 5px;
		margin-top: 18px;
		margin-bottom: 16px;
	}	
	
	.page-container.horizontal-menu header.navbar ul.nav > li {
		border-right:none;
	}
}
/*dropdown on hover in header*/
.page-container.horizontal-menu header.navbar .navbar-right > li ul {
	position: absolute;
	list-style: none;
	margin: 0;
	padding: 0;
	left: 0;
	top: 60px;
	margin-top: 1px;
	background-color: #6b4f2c;
	min-width: 250px;
	display: none;
}

.page-container.horizontal-menu header.navbar .navbar-right > li ul li {
	position: relative;
}

.page-container.horizontal-menu header.navbar .navbar-right > li ul li a {
	display: block;
	padding: 10px 20px;
	white-space: nowrap;
	font-size: 12px;
	border-bottom: 1px solid #573b1e;
	color: #fff;
	text-decoration:none;
}

.page-container.horizontal-menu header.navbar .navbar-right > li ul li ul.left-ul-overflow {
	position: absolute;
	left: -100%;
	top: -1px;
}

.right-float
{
	position:absolute;
	top:11px;
	right:12px;
}

.page-container.horizontal-menu header.navbar ul.nav > li > a:focus {
	text-decoration: none;
	background:#6b4f2c;
}


/*mobile view port */
@media (max-width: 767px){
	
	.page-container
	{
		display:block;
	}
	
	.page-container .sidebar-menu {
		width:100%;
		display: none;
	}
	
	.page-container .main-content
	{
		width:100%;
		display: block;
	}
	
	.main-content.login-page
	{
		padding-top: 70px;
	}
	
}


/*sidebar collapse*/

.page-container .sidebar-menu .logo-env > div.sidebar-collapse {
	position: absolute;
	top: 30px;
	right: 17px;
	z-index: 100000;
}

.page-container .sidebar-menu .logo-env > div.sidebar-collapse a, .page-container .sidebar-menu .logo-env > div.sidebar-mobile-menu a {
	display: inline-block;
	border: 1px solid #454a54;
	text-align: center;
	padding: 0;
	line-height: 1;
	font-size: 20px;
	font-weight: 300;
	padding: 5px 2px;
	border-radius: 3px;
	color:#e6e6e6;
	text-decoration:none;
}

.page-container .sidebar-menu.collapsed-menu, .page-container .sidebar-menu .sidebar-menu-inner.collapsed-menu {
	width: 65px;
}

.page-container .sidebar-menu  .sidebar-menu-inner .logo-env.collapsed-logo {
	display: block;
	padding: 60px 20px 20px 20px;
}

.page-container .sidebar-menu .sidebar-menu-inner #main-menu > li > a > span.collapsed-span {
	position: absolute;
	top: 0;
	left: 65px;
	margin-top: -1px;
	padding: 12px 10px;
	background:#f5861f;
	border-top: 1px solid #f5861f;
	border-bottom:1px solid #573b1e;
	color:#fff;
	width: 250px;
	visibility: hidden;
	border-radius: 0 3px 3px 0;
}

.page-container .sidebar-menu .sidebar-menu-inner #main-menu > li > ul.collapsed-ul{
	visibility: hidden;
	position: absolute;
	height: auto;
	top: auto;
	left: 65px;
	width: 250px;
	border-radius: 0 0 3px 0;
}

.page-container .sidebar-menu .sidebar-menu-inner #main-menu > li > a span.badge.collapsed-badge {
	position: absolute;
	right: -240px;
	top: 10px;
	display: none;
}

.page-container .sidebar-menu #main-menu.sidebar-collapsed > li#search .search-input {
	position: absolute;
	visibility: hidden;
}

.page-container .sidebar-menu #main-menu.sidebar-collapsed > li#search .search-input.focussed {
	display: block;
	position: absolute;
	visibility: visible;
	top: 0px;
	left: 65px;
	background: #008eb2;
	border: 1px solid #454a54;
	width: 250px;
	border-radius: 0 3px 3px 0;
	border-left: 0;
	padding: 15px 20px;
	padding-bottom: 16px;
	border: 0;
	padding-left: 0;
}

.page-container .sidebar-menu.collapsed-menu .sidebar-user-info.collapsed-ui {
	padding: 9px;
}

.page-container .sidebar-menu .sidebar-user-info .user-link img.collapsed-img
{
	float:none;
	clear:left;
}

.change-menu-normal
{
	position:absolute;
	top:3px;
	right:3px;
	font-size:12px;
	color:#fff;
	
}

.change-menu-normal:hover{
	border:1px solid #fff;
	border-radius:40%;
}

.page-container .sidebar-menu.collapsed-menu .sidebar-user-info .sui-normal{
	padding-top:10px;
}

.panel-primary > .panel-heading
{
	cursor:pointer;
	position: relative;
}

.add-top-border{
	border-top: 1px solid #ebebeb;
}

.history-icon
{
	position:absolute;
	top:10px;
	right:10px;
	font-size:16px;
}

footer.main{
	margin: 10px 0 0 0;
	padding: 15px 0 0 0;
	border-top: 1px solid #ebebeb;
}

.add-padding
{
	padding:0 5px;
}

.table > thead:first-child > tr:first-child > th
{
	background: #f2851f;
	color: #fff;
}
.table > thead:first-child > tr:first-child > th:first-child
{
	border-left: 1px solid transparent;
	border-top-left-radius: 5px;
}

.table > thead:first-child > tr:first-child > th:last-child
{
	border-right: 1px solid transparent;
	border-top-right-radius: 5px;
}

.btn-secondary {
	color: #fff;
	background-color: #3599b2;
	border-color: #3599b2;
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.open > .dropdown-toggle.btn-secondary {
	color: #fff;
	background-color: #f5861f;
	border-color: #f5861f;
}

.btn-secondary:active,
.btn-secondary.active{
	color: #fff;
	background-color: #3599b2;
}

.DTTT_container
{
	margin:5px 0;
}

li#search .search-input, ::-webkit-input-placeholder { /* WebKit browsers */
    color:    #ebebeb;
}
li#search .search-input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color:    #ebebeb;
	opacity:  1;
}
li#search .search-input::-moz-placeholder { /* Mozilla Firefox 19+ */
	color:    #ebebeb;
	opacity:  1;
}
li#search .search-input:-ms-input-placeholder { /* Internet Explorer 10+ */
	color:    #ebebeb;
}

.page-container .sidebar-menu #main-menu li i
{
	color:#ebebeb;
}

.page-container .sidebar-menu .sidebar-menu-inner #main-menu > li > a > span.collapsed-span.change-li-ul-li{
	background-color: #6b4f2c;
	border-top:1px solid #6b4f2c;
}

.change-text-align
{
	text-align:right;
}


@media (max-width : 767px){
	
	.change-text-align
	{
		text-align:left;
	}
	
}

.remove-img
{
	position:absolute;
	top:-11px;
	left:3px;
	font-size:16px;
	cursor:pointer;
}

.remove-img:hover{
	color: #f5861f;
}


.tag-element
{
	margin-top: 4px;
	margin-right: 9px;
}



/******Dinesh*****/

.scrollup, .scrolldown
{
	position: absolute;
	margin: 0;
	padding: 0;
	left: 0;
	top: 60px;
	margin-top: 1px;
	background: #f58720;
	color:white;
	z-index: 9999;
	text-align: center;
	display:none;
	cursor:default;
	font-size:16px;
}

.enable-scroll
{
	overflow-y:hidden;
}

.left-float
{
    position: absolute;
	top: 11px;
	left: 2px;
}

/* disable text color applying for radio button and check box */
label.disable-label, input[type="text"]:disabled  + .input-with-text {
    color: #ccc;
}

/* for mandatory * class indicator */
.mandatory:before
{
	content:' *';
	color:red;
}

/* textbox with end of text */
.input-with-text
{
	background: white;
	border: 0;
}

.text-right-responsive
{
	text-align:right;
}

.btn-margin{
	margin:5px;
}

.display-hidden-lg
{
	visibility:hidden;
}

@media (max-width: 991px)
{
	.col-sm-top
	{
		margin-top:15px;
	}
	
	.display-hidden-lg
	{
		display:none;
	}
}

@media (max-width: 767px)
{
	.col-sm-top
	{
		margin-top:0px;
	}
	
	.text-right-responsive
	{
		text-align:left;
	}
}

/******end of dinesh******/

.table > thead > tr > th:hover{
	cursor:pointer;
}

.table-header{
	line-height: 1.8;
	font-size: 18px;
}

.dynamic-span span , .dynamic-span span label{
	padding:0 5px;
	margin-top:7px;
}

.spinner {
	margin: 0px auto;
	width: 50px;
	height: 30px;
	text-align: center;
	font-size: 10px;
}

.spinner > div {
	background-color: #f5861f;
	height: 100%;
	width: 6px;
	display: inline-block;
	
	-webkit-animation: stretchdelay 1.2s infinite ease-in-out;
	animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
	-webkit-animation-delay: -1.1s;
	animation-delay: -1.1s;
}

.spinner .rect3 {
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s;
}

.spinner .rect4 {
	-webkit-animation-delay: -0.9s;
	animation-delay: -0.9s;
}

.spinner .rect5 {
	-webkit-animation-delay: -0.8s;
	animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
	0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
	20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
	0%, 40%, 100% { 
		transform: scaleY(0.4);
		-webkit-transform: scaleY(0.4);
		}  20% { 
		transform: scaleY(1.0);
		-webkit-transform: scaleY(1.0);
	}
}

.spinner-margin
{
	margin-top:250px;
}

.spinner-text
{
	color:#fff;
}


.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
	background-color: #3599b2;
	border-color: #3599b2;
}

.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
	color: #fff;
	background-color: #f5861f;
	border-color: #f5861f;
}

.page-error-404 {
	color: #303641;
	text-align: center;
}

.page-error-404 .error-text {
	padding-bottom: 25px;
	font-size: 16px;
}

.page-error-404 .error-text h2 {
	font-size: 45px;
}

.page-error-404 .error-text p {
	font-size: 22px;
}


.page-error-404 .error-symbol {
	font-size: 120px;
}

.acolor
{
	color:#333;
}

.clear-left{
	clear:left;
}

.login-page {
	background: #f2f2f2;
}

.login-content {
	position: relative;
	max-width: 450px;
	margin: 5px auto;
	text-align: center;
	border: 1px solid #f2f2f2;
	box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.login-content-margin
{
	margin:4% auto 2% auto;
}

.login-header {
	position: relative;
	background: #6b4f2c;
	padding: 13px 0;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}

.login-body{
	background:#fff;
	padding: 20px;
	padding-bottom: 5px;
}

.login-body .form-group .input-group .input-group-addon {
	background:#6b4f2c;
	border:1px solid #6b4f2c;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.theme-color{
	color:#fff;
} 

.login-body .form-group .input-group .form-control {
	border:1px solid #D0D2D7;
	outline:none;
	box-shadow:none;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

.login-body .form-group .input-group .form-control:focus {
	border:1px solid #fc8326;
}

.header-description
{
	color:#fff;
	text-transform:uppercase;
}

@media (max-width: 991px)
{
	.margin-sm-top{
		margin-top:15px;
	}
}

.margin-reload
{
	margin-top:25px;
}

.set-mandatory
{
	position:absolute;
	top:4px;
	right:7px;
	z-index:10;
}

.span-i-padding{
	padding: 0 5px;
}

.span-i-padding i{
	color:#6e6e6e;
}

.login-a-class, .login-a-class:hover
{
	text-decoration:none;
	color:#7d7d7d;
}

.overflow-section{
	overflow:auto;
}

.login-toggle
{
	background:#e6e6e6;
	font-size: 17px;
    /* overflow: auto; */
	cursor:pointer;
}

.sign{
	padding:15px;
}

.sign-active{
	position: relative;
	background: #f5861f;
	color: #fff;
	font-size: 18px;
}

.sign-notactive{
	color:#6b4f2c;
}

.arrow_box_left , .arrow_box_right{
	position: relative;
}
.arrow_box_left:after, .arrow_box_left:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.arrow_box_right:after, .arrow_box_right:before {
	top: 100%;
	right: 45%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.arrow_box_left:after , .arrow_box_right:after{
	border-color: rgba(245, 134, 31, 0);
	border-top-color: #f5861f;
	border-width: 6px;
	margin-left: -6px;
}
.arrow_box_left:before , .arrow_box_right:before{
	border-color: rgba(245, 134, 31, 0);
	border-top-color: #f5861f;
	border-width: 10px;
	margin-left: -10px;
}

.btn-login{
	padding: 10px 16px;
}

.arrow-padding-top{
	padding-top:3px;
}

.panel-primary {
	border-color: #f2851f;
}

.panel-primary > .panel-heading {
	background-color: #f2851f;
	border-color: #f2851f;
}

.bootcards-summary-item {
	background: #f5f5f5;
	display: block;
	border-radius: 4px;
	padding: 25px 10px;
	text-align: center;
	position: relative;
	height: 160px;
	text-decoration:none; !important;
}

.bootcards-summary-item>i {
	color: #bbb;
	display: block;
	text-align: center;
    font-size: 3em;
	margin-bottom: 5px;
}
.bootcards-summary-item h4 {
	margin: 0 auto;
}
.bootcards-summary-item .badge, .bootcards-summary-item .label {
	position: absolute;
	top: 10px;
	right: 10px;
	background:#f2851f;
}

.add-margin-cards
{
	margin:10px 0
}

.list-group-item i {
	opacity: .3;
	text-align: center;
	font-size:2em;
}

.list-group-item-heading {
	font-size:17px;
	margin-top: 10px;
	margin-bottom: 5px;
}

.list-group-item .row div>.list-group-item-heading:last-child, .list-group-item .row div>.list-group-item-text:last-child {
	margin-bottom: 5px;
}

.list-group-item-text {
	margin-bottom: 5px;
}

.main-content.login-page
{
	background:#f2f2f2;
}

/* main-content start */
.main-content
{
	padding:20px 15px;
}
.search-box {
    position: relative;
}
.search-box input {
    padding-left:35px; 
	border-radius:20px;
}
.search-box i {
    position: absolute;
    padding: 8px 12px;
	color:#d1d1d1;
	font-size:18px;
    pointer-events: none;
}
.padding-tb
{
	padding:10px 0px;
}
.container-msgs
{
	margin-top:10px;
}
.container-msgs section span.span-date{
	display:block;
	padding:10px 5px;
	color:#a2a4a6;
	font-style: italic;
}

.container-msgs section div.msg, section div.msg {
	/* margin-top:10px; */
	margin-bottom:5px;
	overflow:auto;
	position: relative;
}

.msg
{
	background:#fff;
	padding:15px 30px;
	border:1px solid #d5d9db;
	border-radius:5px;
	cursor:pointer;
}

.msg header h3, .msg header a 
{
	margin:0;
	padding:0;
	font-weight:bold;
	display:inline-block;
	word-wrap: break-word;
}
.msg header a 
{
	color: #333;
	text-decoration: none;
}
.msg header i
{
	width:34px;
	font-size: 18px;
	padding: 4px 5px;
	text-align:center;
}
.unread-msg{
	color:#f58522;
}

.read-msg{
	color:#c9c9c9;
}

.msg header span.msg-status
{
	margin:0 15px;
	padding:5px 15px;
	background:#c9c9c9;
	font-size:13px;
	color:#fff;
	border-radius:20px;
	white-space: nowrap;
}
.msg header .msg-info
{
	padding-top:5px;
	padding-left:20px;
	font-style:italic;
	font-size: 14px;
}

.msg header .msg-info .msg-date i{
	font-size: 14px;
	padding: 0;
	width: 15px;
}

.msg a
{
	text-decoration:underline;
	color:#f58522;
	
}
.dot
{
	font-size:15px;
}

.msg-date
{
	color:#a7a9ab;
}

.msg-content > p
{
	margin:15px 20px 0px 20px;
	font-size: 14px;
}

@media (max-width:768px)
{
	.navbar-header > a span {
		font-size: 14px;
	}
	
	.msg header h3
	{
		font-size:18px;
	}
	
	.xs-margin-top-10
	{
		margin-top:10px;
	}
	
	.msg header h3
	{
		font-size:20px;
	}
	
}


.tabs {
	position: relative;
	overflow: hidden;
	margin: 10px auto;
	width: 100%;
	font-weight: 300;
	font-size: 1.25em;
}

.tabs nav {
	text-align: center;
}

.tabs nav ul {
	position: relative;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
	margin: 0 auto;
	padding: 0;
	list-style: none;
}

.tabs nav ul li {
	position: relative;
	z-index: 1;
	display: block;
	margin: 0;
	text-align: center;
	flex: 1;
}

.tabs-style-topline nav li {
	border: 1px solid rgba(40,44,42,0.1);
}

.tabs-style-topline nav li:not(:last-child) {
	border-right: none;
}

.tabs-style-topline nav a {
	padding: 0.65em 0 0.5em;
	background: #f2f2f2;
	color: #6b4f2c;
	line-height: 1;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}

.tabs nav a {
	position: relative;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	line-height: 1.0;
}

.tabs nav a:focus, .tabs nav a:hover{
	text-decoration:none;
	outline:none;
}

.tabs-style-topline nav a span {
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	font-size: 0.5em;
}

.tabs nav a span {
	vertical-align: middle;
}

.tabs nav a div{
	padding:5px;
}

.tabs-style-topline nav li.tab-current-newreq, .tabs-style-topline nav li.tab-current-myacc {
	border-top-color: #f58522;
	border-bottom: none;
}

.tabs-style-topline nav li.tab-current-newreq a, .tabs-style-topline nav li.tab-current-myacc a {
	background: none;
	box-shadow: inset 0 3px 0 #f58522;
	color: #f58522;
	font-size:20px;
}

.content-wrap {
	position: relative;
}

.content-wrap section {
	display: none;
	padding: 1em;
	border: 1px solid rgba(40,44,42,0.1);
	border-top: none;
}

.content-wrap section.content-current-newreq, .content-wrap section.content-current-myacc {
	display: block;
}

.myaccount-actions{
	position:absolute;
	top:15px;
	right:15px;
}

.dynamic-span.capitalize > span > label{
	text-transform: lowercase;
}
.dynamic-span.capitalize > span > label:first-letter{
	text-transform: uppercase;
}

@media (max-width: 485px){
	.myaccount-actions{
		top:30px;
	}
}
.login-body .form-group .input-group .input-group-addon.style-label {
	background: #fff;
	border: none;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}

.style-color{
	color:#6b4f2c;
	font-size: 16px;
}

.login-body .form-group .input-group .form-control.style-form, .form-control.style-form {
	border:0;
	padding-left: 0;
	font-size:15px;
	border-bottom: 1px solid #D0D2D7;
	outline: none;
	box-shadow: none;
	border-radius: 0px;
}


.login-body .form-group .input-group .form-control.style-form:focus, .form-control.style-form:focus{
	border-bottom: 2px solid #2196f3;
}


.input-group .form-control:not(:first-child):not(:last-child) {
  border-radius: 4px;
}
