@charset "utf-8";

body { 
	background:#FFFFFF; 
	margin: 0px; 
	font-family:Arial, Helvetica, sans-serif; 
	font-size:11px; 
	text-align: center;
	}
	   
a:link {
	color: #0066cc;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	}
	
a:visited {
	color: #0066cc;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	}
	
a:hover {
	color: #CC0000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	}

a:active {
	color: #0066cc;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	}

div.topbar {
	background-color: #c6e0f7;
	height: 55px;
	width: 100%;
	border-bottom-width: 3px;
	border-bottom-style: double;
	border-bottom-color: #c6e0f7;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: normal;
	color: #000000;
	padding-top: 5px;
	padding-bottom: 5px;
	vertical-align: middle;
	}
	
div.egov{
	width:55px; 
	text-align:right; 
	float:right;
	margin-right:15px;
	}
	
div.gov{
	width:54px; 
	text-align:right; 
	float:left;
	margin-left:15px;
	}
	
div.mainheading { padding-top:12px;}
	
div.navibar {
	background-color: #eceded;
	margin-bottom: 8px;
	padding-top: 0px;
	padding-right: 15px;
	padding-bottom: 0px;
	padding-left: 15px;
	text-align: left;
	background-image: url(../image/bgtop.gif);
	background-repeat: repeat-x;
	vertical-align: middle;
	height: 26px;
	}

div.formmainbox { 
	margin-top 8px;
	margin-left: 8px; 
	margin-right: 8px;
	}	
	
div.formheading {
	width: 100%;
	height:23px;
	background-image:url(../image/gbluebg.gif);
	background-repeat: repeat-x;
	}
	
div.blueshadow {
	width: 100%;
	height:17px;
	background-image:url(../image/blueshadow.gif);
	background-repeat: repeat-x;
	margin-bottom: 2px;
	}
	
div.buttonbottom {
	margin-bottom: 10px;
	margin-top: 10px;
	padding: 15px;
	background-color:#eff6fd;
	text-align:center;
	}
	
h1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #0099FF;
	margin-bottom: 8px;
	padding: 0px;
	margin-top: 8px;
	}

table.tablebottom {
	border-top-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-left-style: solid;
	border-top-color: #a9cff2;
	border-left-color: #a9cff2;
	}

td.greybox {
	background-color: #f7f7f7;
	font-size: 11px;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 5px;
	padding-left: 5px;
	color: #000000;
	text-align: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	}
	
td.whitebox {
	background-color: #FFFFFF;
	font-size: 11px;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 5px;
	padding-left: 5px;
	color: #000000;
	text-align: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #a9cff2;
	border-bottom-color: #A9CFF2;
	}
	
td.bluebox {
	background-color: #ebf4fc;
	border-bottom: 1px solid white;
	border-top: 1px solid white;
	font-size: 11px;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 5px;
	padding-left: 5px;
	color: #000000;
	text-align: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	}
	
th {
	background-image: url(../image/thbg.gif);
	background-repeat: repeat-x;
	height: 32px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #a9cff2;
	border-bottom-color: #a9cff2;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #121212;
	}

select {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	background-color: #FFFFFF;
	border: 1px solid #7f9db9;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	padding-left: 4px;
	}

input {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	background-color: #FFFFFF;
	border: 1px solid #7f9db9;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	padding-left: 4px;
	}

input.tablerow {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	background-color: #FFFFFF;
	border: 1px solid #7f9db9;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	padding-left: 4px;
	width: 96%;
	}

input.hiddenslno {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	background-color: #eceded;
	border: 1px solid #7f9db9;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	padding-left: 4px;
	text-align: center;
	vertical-align: middle;
	}
input.hiddentext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	background-color: #eceded;
	border: 1px solid #7f9db9;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	padding-left: 4px;
}


input.button {
	width: 133px;
	height: 27px;
	font-family: Arial, Helvetica, sans-serif;
	color: #333333;
	background-image: url(../image/buttonbg.gif);
	text-align: center;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	font-size: 12px;
	font-weight: bold;
	}

input.buttonsubmit {
	width: 133px;
	height: 27px;
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
	background-image: url(../image/submitbg.gif);
	text-align: center;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	font-size: 12px;
	font-weight: bold;
	}
	
.mandatory {
	font-weight: normal;
	color: #cc0000;
	}
.bold {
	font-weight: bold;
}
