<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ eGov suite of products aim to improve the internal efficiency,transparency,
  ~    accountability and the service delivery of the government  organizations.
  ~
  ~     Copyright (C) <2015>  eGovernments Foundation
  ~
  ~     The updated version of eGov suite of products as by eGovernments Foundation
  ~     is available at http://www.egovernments.org
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU General Public License for more details.
  ~
  ~     You should have received a copy of the GNU General Public License
  ~     along with this program. If not, see http://www.gnu.org/licenses/ or
  ~     http://www.gnu.org/licenses/gpl.html .
  ~
  ~     In addition to the terms of the GPL license to be adhered to in using this
  ~     program, the following additional terms are to be complied with:
  ~
  ~         1) All versions of this program, verbatim or modified must carry this
  ~            Legal Notice.
  ~
  ~         2) Any misrepresentation of the origin of the material is prohibited. It
  ~            is required that all modified versions of this material be marked in
  ~            reasonable ways as different from the original version.
  ~
  ~         3) This license does not grant any rights to any user of the program
  ~            with regards to rights under trademark law for use of the trade names
  ~            or trademarks of eGovernments Foundation.
  ~
  ~   In case of any queries, you can reach eGovernments Foundation at contact@egovernments.org.
  -->
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
	   default-lazy-init="true">
	<context:component-scan
		base-package="org.egov.billsaccounting.* , org.egov.dao.* , org.egov.deduction.* , org.egov.egf.* , org.egov.masters.* , org.egov.model.* , org.egov.payment.* , org.egov.services.* , org.egov.utils.* , org.egov.web.* ,org.egov.report.* ,org.egov.commons,com.exilant.*, org.egov.egf.formatters.*" />


	<bean id="instrumentTypeService" class = "org.egov.services.instrument.InstrumentTypeService" >
		<constructor-arg index="0" value="org.egov.model.instrument.InstrumentType" />
	</bean>

	<bean id="bankService" class="org.egov.services.masters.BankService"
		scope="prototype" autowire-candidate="default">
		<property name="type" value="org.egov.commons.Bank" />
	</bean>
	
	<bean id="bankEntriesService" class="org.egov.services.instrument.BankEntriesService"
		scope="prototype" autowire-candidate="default">
		<property name="type" value="org.egov.model.brs.BrsEntries" />
	</bean>
	

	<bean id="instrumentVoucherService" class="org.egov.services.instrument.InstrumentVoucherService" >
		<constructor-arg index="0" value="org.egov.model.instrument.InstrumentVoucher" />
	</bean>

	<bean id="bankReconciliationService" class="org.egov.services.instrument.BankReconciliationService">
		<constructor-arg index="0" value="org.egov.commons.Bankreconciliation" />
	</bean>

	<bean id="instrumentOtherDetailsService" class="org.egov.services.instrument.InstrumentOtherDetailsService" >
		<constructor-arg index="0"  	value="org.egov.model.instrument.InstrumentOtherDetails" />
	</bean>
	
	<bean id="instrumentAccountCodesService" class="org.egov.services.instrument.InstrumentAccountCodesService" >
		<constructor-arg index="0"  	value="org.egov.model.instrument.InstrumentAccountCodes" />
	</bean>
	
	<bean id="instrumentHeaderService" class="org.egov.services.instrument.InstrumentHeaderService">
		<constructor-arg index="0" value="org.egov.model.instrument.InstrumentHeader" />
	</bean>

	<bean id="instrumentService" class="org.egov.services.instrument.InstrumentService"
		scope="prototype">
	</bean>  


	<bean id="contraJournalVoucherService"
		class="org.egov.services.voucher.ContraJournalVoucherService">
		<constructor-arg index="0"
			value="org.egov.model.contra.ContraJournalVoucher" />
	</bean>

	<bean id="contrajournalService" class="org.egov.infstr.services.PersistenceService"
		scope="prototype">
		<property name="type" value="org.egov.model.contra.ContraJournalVoucher" />
	</bean>

	<bean id="bankReconService" class="org.egov.infstr.services.PersistenceService"
		scope="prototype">
		<property name="type" value="org.egov.commons.Bankreconciliation" />
	</bean>

	<bean id="contraService" class="org.egov.services.contra.ContraService"
		parent="persistenceService" scope="prototype">
		<property name="type" value="org.egov.model.contra.ContraJournalVoucher" />
		<property name="persistenceService" ref="persistenceService" />
		<property name="instrumentService" ref="instrumentService" />
		<property name="employeeServiceOld" ref="employeeServiceOld" />
	</bean>

	<bean id="createVoucher" class="org.egov.billsaccounting.services.CreateVoucher"
		scope="prototype">
	</bean>

	<bean id="voucherHeaderPersistenceService" parent="persistenceService">
		<property name="type" value="org.egov.commons.CVoucherHeader" />
	</bean>

	<bean id="CVoucherHeaderInboxRenderService"
		class="org.egov.infra.workflow.inbox.DefaultInboxRenderServiceImpl">
		<constructor-arg index="0"
			ref="voucherHeaderPersistenceService" />
	</bean>

	<bean id="paymentHeaderPersistenceService" parent="persistenceService">
		<property name="type" value="org.egov.model.payment.Paymentheader" />
	</bean>

	<bean id="PaymentheaderInboxRenderService"
		class="org.egov.infra.workflow.inbox.DefaultInboxRenderServiceImpl">
		<constructor-arg index="0"
			ref="paymentHeaderPersistenceService" />
	</bean>

	<bean id="billRegisterPersistenceService" parent="persistenceService">
		<property name="type" value="org.egov.model.bills.EgBillregister" />
	</bean>

	<bean id="EgBillregisterInboxRenderService"
		class="org.egov.infra.workflow.inbox.DefaultInboxRenderServiceImpl">
		<constructor-arg index="0"
			ref="billRegisterPersistenceService" />
	</bean>


	<bean id="financialYearDAO" class="org.egov.commons.dao.FinancialYearHibernateDAO">
	    </bean>
		

	<bean id="egwStatusHibernateDAO" class="org.egov.commons.dao.EgwStatusHibernateDAO"/>

	<bean id="functionaryDAO" class="org.egov.commons.dao.FunctionaryHibernateDAO"/>

	<bean id="fundSourceDAO" class="org.egov.commons.dao.FundSourceHibernateDAO"/>
	<bean id="chartOfAccountsHibernateDAO" class="org.egov.commons.dao.ChartOfAccountsHibernateDAO"/>
	
	<bean id="fiscalPeriodHibernateDAO" class="org.egov.commons.dao.FiscalPeriodHibernateDAO"/>
	<bean id="functionHibernateDAO" class="org.egov.commons.dao.FunctionHibernateDAO"/>
	<bean id="budgetDetailService" class="org.egov.services.budget.BudgetDetailService">
		<constructor-arg index="0"
			value="org.egov.model.budget.BudgetDetail">
		</constructor-arg>
	</bean>
<bean id="budgetUsageService" class="org.egov.services.budget.BudgetUsageService">
		<constructor-arg index="0"
			value="org.egov.model.budget.BudgetUsage">
		</constructor-arg>
	</bean>
	<bean id="budgetService" class="org.egov.services.budget.BudgetService"
		scope="prototype">
		<property name="eisCommonService" ref="eisCommonService" />
		<constructor-arg index="0" value="org.egov.model.budget.Budget" />
	</bean>
	<bean id="budgetGroupService" class="org.egov.services.budget.BudgetGroupService">
		<constructor-arg index="0"
			value="org.egov.model.budget.BudgetGroup" />
	</bean>
	<bean id="budgetDetailsDAO" class="org.egov.dao.budget.BudgetDetailsHibernateDAO"
		scope="prototype">
		<property name="budgetService" ref="budgetService" />
		<property name="persistenceService" ref="persistenceService" />
	</bean>
	<bean id="budgetDetailHelper" class="org.egov.utils.BudgetDetailHelper">
		<property name="budgetDetailsDAO" ref="budgetDetailsDAO" />
		<property name="financialYearDAO" ref="financialYearDAO" />
	</bean>
	<bean id="financialYearService" class="org.egov.commons.service.FinancialYearService">
		<constructor-arg index="0"
			value="org.egov.commons.CFinancialYear" />
	</bean>

	<bean id="budgetDetailConfig" class="org.egov.utils.BudgetDetailConfig"
		scope="prototype">
		<constructor-arg ref="persistenceService" />
	</bean>
	<bean id="voucherHeaderService" class="org.egov.services.voucher.VoucherHeaderService">
		<constructor-arg index="0"
			value="org.egov.commons.CVoucherHeader" />
	</bean>

	<bean id="accountEntityService" class="org.egov.masters.services.AccountEntityService">
		<constructor-arg index="0"
			value="org.egov.masters.model.AccountEntity" />
	</bean>
	<bean id="voucherHibDAO" class="org.egov.dao.voucher.VoucherHibernateDAO"
		scope="prototype">
		<property name="persistenceService" ref="persistenceService" />
	</bean>
	
	<bean id="billsService" class="org.egov.services.bills.BillsService"
		scope="prototype">
	</bean>
	<bean id="voucherHelper" class="org.egov.utils.VoucherHelper"
		scope="prototype">
		<property name="persistenceService" ref="persistenceService" />
		<property name="eisCommonService" ref="eisCommonService" />
		<property name="eGovernCommon" ref="eGovernCommon" />
		<property name="fiscalPeriodHibernateDAO" ref="fiscalPeriodHibernateDAO" />
	</bean>
	<bean id="eGovernCommon" class="com.exilant.eGov.src.common.EGovernCommon"
		scope="prototype">
		<property name="persistenceService" ref="persistenceService" />
	</bean>
	<bean id="chartOfAccounts" class="com.exilant.GLEngine.ChartOfAccounts">
	</bean>

	<bean id="chartOfAccountsService" class="org.egov.commons.service.ChartOfAccountsService">
		<constructor-arg index="0"
			value="org.egov.commons.CChartOfAccounts" />
	</bean>
	<bean id="chartOfAccountDetailService" class="org.egov.commons.service.ChartOfAccountDetailService">
		<constructor-arg index="0"
			value="org.egov.commons.CChartOfAccountDetail" />
	</bean>

	<bean id="scriptService" class="org.egov.infra.script.service.ScriptService" />
	<bean id="contraBean" class="org.egov.model.contra.ContraBean"
		scope="prototype" />
	<bean id="voucherTypeBean" class="org.egov.model.voucher.VoucherTypeBean"
		scope="prototype" />
	<bean id="contraVoucher" class="org.egov.model.contra.ContraJournalVoucher"
		scope="prototype" />
	<bean id="egovCommon" class="org.egov.egf.commons.EgovCommon"
		scope="prototype">
		<property name="persistenceService" ref="persistenceService" />
		<property name="fundFlowService" ref="fundFlowService" />
	</bean>

	<bean id="commonBean" class="org.egov.model.voucher.CommonBean"
		scope="prototype" />
	<bean id="voucherSearchUtil" class="org.egov.egf.commons.VoucherSearchUtil"
		scope="prototype">
		<property name="persistenceService" ref="persistenceService" />
		<property name="financialYearDAO" ref="financialYearDAO" />
	</bean>
	<bean id="commonMethodsImpl" class="com.exilant.eGov.src.transactions.CommonMethodsImpl"
		scope="prototype" />
	<bean id="baseForm" class="org.egov.infra.web.struts.actions.BaseFormAction">
		<property name="persistenceService" ref="persistenceService" />
	</bean>
	<bean id="financingSourceService"
		class="org.egov.services.financingsource.FinancingSourceService">
		<constructor-arg index="0" value="org.egov.commons.Fundsource" />
	</bean>
	<bean id="fundFlowService" class="org.egov.services.report.FundFlowService" />
	<bean id="accountdetailkeyService" class="org.egov.services.masters.AccountdetailkeyService">
		<property name="type" value="org.egov.commons.Accountdetailkey" />
		<property name="persistenceService" ref="persistenceService" />
	</bean>
	<bean id="generalLedgerService" class = "org.egov.services.voucher.GeneralLedgerService" >
               <constructor-arg index="0" value="org.egov.commons.CGeneralLedger" />
    </bean>
	<bean id="generalLedgerDetailService" class = "org.egov.services.voucher.GeneralLedgerDetailService" >
               <constructor-arg index="0" value="org.egov.commons.CGeneralLedgerDetail" />
    </bean>
</beans>