<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~    eGov  SmartCity eGovernance suite aims to improve the internal efficiency,transparency,
  ~    accountability and the service delivery of the government  organizations.
  ~
  ~     Copyright (C) 2017  eGovernments Foundation
  ~
  ~     The updated version of eGov suite of products as by eGovernments Foundation
  ~     is available at http://www.egovernments.org
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU General Public License for more details.
  ~
  ~     You should have received a copy of the GNU General Public License
  ~     along with this program. If not, see http://www.gnu.org/licenses/ or
  ~     http://www.gnu.org/licenses/gpl.html .
  ~
  ~     In addition to the terms of the GPL license to be adhered to in using this
  ~     program, the following additional terms are to be complied with:
  ~
  ~         1) All versions of this program, verbatim or modified must carry this
  ~            Legal Notice.
  ~            Further, all user interfaces, including but not limited to citizen facing interfaces,
  ~            Urban Local Bodies interfaces, dashboards, mobile applications, of the program and any
  ~            derived works should carry eGovernments Foundation logo on the top right corner.
  ~
  ~            For the logo, please refer http://egovernments.org/html/logo/egov_logo.png.
  ~            For any further queries on attribution, including queries on brand guidelines,
  ~            please contact contact@egovernments.org
  ~
  ~         2) Any misrepresentation of the origin of the material is prohibited. It
  ~            is required that all modified versions of this material be marked in
  ~            reasonable ways as different from the original version.
  ~
  ~         3) This license does not grant any rights to any user of the program
  ~            with regards to rights under trademark law for use of the trade names
  ~            or trademarks of eGovernments Foundation.
  ~
  ~   In case of any queries, you can reach eGovernments Foundation at contact@egovernments.org.
  ~
  -->

<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
	   default-lazy-init="true">

	<context:component-scan base-package="org.egov.egf, org.egov.dao, org.egov.model, org.egov.billsaccounting, org.egov.deduction, org.egov.masters, org.egov.payment, org.egov.services, org.egov.utils, com.exilant"/>

	<bean id="balanceSheetScheduleService" class="org.egov.services.report.BalanceSheetScheduleService"
		  scope="prototype">
		<property name="balanceSheetService" ref="balanceSheetService" />
	</bean>

	<bean id="incomeExpenditureScheduleService"
		  class="org.egov.services.report.IncomeExpenditureScheduleService">
		<property name="incomeExpenditureService" ref="incomeExpenditureService" />
	</bean>
	<bean id="finDishonorChequeService" class="org.egov.services.instrument.DishonorChequeService">
		<property name="eisService" ref="eisService" />
	</bean>

	<bean id="instrumentTypeService" class = "org.egov.services.instrument.InstrumentTypeService" >
		<constructor-arg name="type" value="org.egov.model.instrument.InstrumentType" />
	</bean>

	<bean id="bankEntriesService" class="org.egov.services.instrument.BankEntriesService"   autowire-candidate="default">
	</bean>
	

	<bean id="instrumentVoucherService" class="org.egov.services.instrument.InstrumentVoucherService" >
		<constructor-arg name="type" value="org.egov.model.instrument.InstrumentVoucher" />
	</bean>

	<bean id="bankReconciliationService" class="org.egov.services.instrument.BankReconciliationService">
		<constructor-arg name="type" value="org.egov.commons.Bankreconciliation" />
	</bean>

	<bean id="instrumentOtherDetailsService" class="org.egov.services.instrument.InstrumentOtherDetailsService" >
		<constructor-arg name="type" value="org.egov.model.instrument.InstrumentOtherDetails" />
	</bean>
	
	<bean id="instrumentAccountCodesService" class="org.egov.services.instrument.InstrumentAccountCodesService" >
		<constructor-arg name="type" value="org.egov.model.instrument.InstrumentAccountCodes" />
	</bean>
	
	<bean id="instrumentHeaderService" class="org.egov.services.instrument.InstrumentHeaderService">
		<constructor-arg name="type" value="org.egov.model.instrument.InstrumentHeader" />
	</bean>

	<bean id="instrumentService" class="org.egov.services.instrument.InstrumentService"
		 >
	</bean>  


	<bean id="contraJournalVoucherService"
		class="org.egov.services.voucher.ContraJournalVoucherService">
		<constructor-arg name="type" value="org.egov.model.contra.ContraJournalVoucher" />
	</bean>

	<bean id="bankAccountService" class="org.egov.commons.service.BankAccountService">
		<constructor-arg name="type" value="org.egov.commons.Bankaccount" />
	</bean>

	<bean id="bankReconService" class="org.egov.infstr.services.PersistenceService"  >
		<constructor-arg name="type" value="org.egov.commons.Bankreconciliation" />
	</bean>

    <bean id="recordStatusPersistenceService" class="org.egov.infstr.services.PersistenceService">
        <constructor-arg name="type" value="org.egov.commons.EgfRecordStatus" />
    </bean>

	<bean id="contraService" class="org.egov.services.contra.ContraService"  >
		<property name="persistenceService" ref="persistenceService" />
		<property name="instrumentService" ref="instrumentService" />
		<property name="employeeServiceOld" ref="employeeServiceOld" />
	</bean>
	
	<bean id="voucherHeaderPersistenceService" parent="abstractPersistenceService">
        <constructor-arg name="type" value="org.egov.commons.CVoucherHeader" />
	</bean>

	<bean id="CVoucherHeaderInboxRenderService"
		class="org.egov.infra.workflow.inbox.DefaultInboxRenderServiceImpl">
		<constructor-arg index="0"
			ref="voucherHeaderPersistenceService" />
	</bean>

	<bean id="paymentHeaderPersistenceService" parent="abstractPersistenceService">
        <constructor-arg name="type" value="org.egov.model.payment.Paymentheader" />
	</bean>

	<bean id="PaymentheaderInboxRenderService"
		class="org.egov.infra.workflow.inbox.DefaultInboxRenderServiceImpl">
		<constructor-arg index="0"
			ref="paymentHeaderPersistenceService" />
	</bean>

    <bean id="budgetDetailHeaderPersistenceService" parent="abstractPersistenceService">
        <constructor-arg name="type" value="org.egov.model.budget.BudgetDetail" />
	</bean>


	<bean id="BudgetDetailInboxRenderService"
		class="org.egov.egf.workflow.renderer.BudgetDetailRenderService">
		<constructor-arg index="0"
			ref="budgetDetailHeaderPersistenceService" />
	</bean>
	
	<bean id="billRegisterPersistenceService" parent="abstractPersistenceService">
        <constructor-arg name="type" value="org.egov.model.bills.EgBillregister" />
	</bean>

	<bean id="EgBillregisterInboxRenderService"
		class="org.egov.infra.workflow.inbox.DefaultInboxRenderServiceImpl">
		<constructor-arg index="0"
			ref="billRegisterPersistenceService" />
	</bean>

	<bean id="budgetDetailService" class="org.egov.services.budget.BudgetDetailService">
		<constructor-arg name="type" value="org.egov.model.budget.BudgetDetail"/>
	</bean>
    <bean id="budgetUsageService" class="org.egov.services.budget.BudgetUsageService">
		<constructor-arg name="type" value="org.egov.model.budget.BudgetUsage"/>
	</bean>
	<bean id="budgetService" class="org.egov.services.budget.BudgetService" >
		<constructor-arg name="type" value="org.egov.model.budget.Budget" />
	</bean>
	<bean id="budgetGroupService" class="org.egov.services.budget.BudgetGroupService">
		<constructor-arg name="type" value="org.egov.model.budget.BudgetGroup" />
	</bean>
	<bean id="budgetDetailsDAO" class="org.egov.dao.budget.BudgetDetailsHibernateDAO"
		>
		<property name="budgetService" ref="budgetService" />
		<property name="persistenceService" ref="persistenceService" />
	</bean>
	<bean id="budgetDetailHelper" class="org.egov.utils.BudgetDetailHelper">
		
	</bean>
	<bean id="financialYearService" class="org.egov.commons.service.FinancialYearService">
		<constructor-arg name="type" value="org.egov.commons.CFinancialYear" />
	</bean>

	<bean id="budgetDetailConfig" class="org.egov.utils.BudgetDetailConfig" scope="prototype">
	</bean>
	<bean id="voucherHeaderService" class="org.egov.services.voucher.VoucherHeaderService">
		<constructor-arg name="type" value="org.egov.commons.CVoucherHeader" />
	</bean>

	<bean id="voucherHibDAO" class="org.egov.dao.voucher.VoucherHibernateDAO"
		>
		<property name="persistenceService" ref="persistenceService" />
	</bean>
	
	<bean id="billsService" class="org.egov.services.bills.BillsService"
		>
	</bean>
	<bean id="voucherHelper" class="org.egov.utils.VoucherHelper"
		>
		<property name="persistenceService" ref="persistenceService" />
	</bean>
	
	

	<bean id="chartOfAccountsService" class="org.egov.commons.service.ChartOfAccountsService">
		<constructor-arg name="type" value="org.egov.commons.CChartOfAccounts" />
	</bean>
	

	<bean id="contraBean" class="org.egov.model.contra.ContraBean"
		scope="prototype" />
	<bean id="voucherTypeBean" class="org.egov.model.voucher.VoucherTypeBean"
		scope="prototype" />
	<bean id="contraVoucher" class="org.egov.model.contra.ContraJournalVoucher"
		scope="prototype" />
	<bean id="egovCommon" class="org.egov.egf.commons.EgovCommon"
		scope="prototype">
		<property name="persistenceService" ref="persistenceService" />
		<property name="fundFlowService" ref="fundFlowService" />
	</bean>

	<bean id="commonBean" class="org.egov.model.voucher.CommonBean"
		scope="prototype" />
	<bean id="voucherSearchUtil" class="org.egov.egf.commons.VoucherSearchUtil"
		scope="prototype">
		<property name="persistenceService" ref="persistenceService" />
	</bean>
	<!-- <bean id="financialYearDAO" class="org.egov.commons.dao.FinancialYearHibernateDAO">
	    </bean> -->
	<bean id="commonMethodsImpl" class="com.exilant.eGov.src.transactions.CommonMethodsImpl"
		scope="prototype" />
	 
	<bean id="financingSourceService"
		class="org.egov.services.financingsource.FinancingSourceService">
		<constructor-arg name="type" value="org.egov.commons.Fundsource" />
	</bean>
	<bean id="fundFlowService" class="org.egov.services.report.FundFlowService" />
	<bean id="accountdetailkeyService" class="org.egov.services.masters.AccountdetailkeyService">
		<constructor-arg name="type" value="org.egov.commons.Accountdetailkey" />
		<property name="persistenceService" ref="persistenceService" />
	</bean>
	<bean id="generalLedgerService" class = "org.egov.services.voucher.GeneralLedgerService" >
               <constructor-arg name="type" value="org.egov.commons.CGeneralLedger" />
    </bean>
	<bean id="generalLedgerDetailService" class = "org.egov.services.voucher.GeneralLedgerDetailService" >
               <constructor-arg name="type" value="org.egov.commons.CGeneralLedgerDetail" />
    </bean>
    
    <bean id="balanceSheetService" class="org.egov.services.report.BalanceSheetService" />
	 

	<bean id="incomeExpenditureService" class="org.egov.services.report.IncomeExpenditureService" />
 

	<bean id="functionwiseIEService" class="org.egov.services.report.FunctionwiseIEService"
		scope="prototype" />

	<bean id="budgetReAppropriationMiscService"
		class="org.egov.services.budget.BudgetReAppropriationMiscService">
		<constructor-arg name="type" value="org.egov.model.budget.BudgetReAppropriationMisc" />
	</bean>

	<bean id="budgetReAppropriationService" class="org.egov.services.budget.BudgetReAppropriationService" >
		<constructor-arg name="type" value="org.egov.model.budget.BudgetReAppropriation" />
	</bean>
	<bean id="budgetAppropriationService" class="org.egov.services.budget.BudgetAppropriationService">
		<property name="budgetDetailsDAO" ref="budgetDetailsDAO" />
	</bean>
	<bean id="reportHelper" class="org.egov.utils.ReportHelper" />
	<bean id="egDeductionDetHibernateDao" class="org.egov.dao.recoveries.EgDeductionDetailsHibernateDAO">
	</bean>

	<bean id="paymentService" class="org.egov.services.payment.PaymentService"
		scope="prototype">
		<constructor-arg name="type" value="org.egov.model.payment.Paymentheader" />
		<property name="chequeService" ref="chequeService" />
		<property name="chequeAssignmentService" ref="chequeAssignmentService" />
		<property name="fundFlowService" ref="fundFlowService" />
		<property name="voucherService" ref="voucherService" />
	</bean>

	<bean id="chequeAssignmentService" class="org.egov.services.cheque.ChequeAssignmentService"
		scope="prototype">
		<constructor-arg name="type" value="org.egov.model.payment.Paymentheader" />
	</bean>

	<bean id="billsAccountingService"
		class="org.egov.billsaccounting.services.BillsAccountingService"
		 >
	</bean>

	<bean id="receiptService" class="org.egov.services.receipt.ReceiptService">
		<constructor-arg name="type" value="org.egov.model.receipt.ReceiptVoucher" />
		<property name="employeeServiceOld" ref="employeeServiceOld" />
		<property name="persistenceService" ref="persistenceService" />
	</bean>

	<bean id="chequeService" class="org.egov.services.cheque.ChequeService">
		<constructor-arg name="type" value="org.egov.model.cheque.AccountCheques" />
	</bean>

	<bean id="sharedFundSourceService" class="org.egov.commons.service.SharedFundSourceService">
		<constructor-arg name="type" value="org.egov.commons.SharedFundSource" />
	</bean>

	<bean id="accountChequesService" class="org.egov.services.cheque.AccountChequesService">
		<constructor-arg name="type" value="org.egov.model.cheque.AccountCheques" />
	</bean>

	<bean id="chequeDeptMappingService" class="org.egov.services.cheque.ChequeDeptMappingService" />

	<bean id="remitRecoveryService" class="org.egov.services.deduction.RemitRecoveryService">
		<property name="persistenceService" ref="persistenceService" />
		<property name="voucherHibDAO" ref="voucherHibDAO" />
	</bean>

	<bean id="lgService" class="org.egov.services.report.LoanGrantService">
	</bean>
	<bean id="rpService" class="org.egov.services.report.RPService">
	</bean>
	<bean id="departmentExpenditureService" class="org.egov.services.report.DEReportService">
		<property name="persistenceService" ref="persistenceService" />
	</bean>
	
	<bean id="transferClosingBalanceService" class="org.egov.services.pea.TransferClosingBalanceService">
	</bean>
	
	<bean id="bankService" class="org.egov.services.masters.BankService">
		<constructor-arg name="type" value="org.egov.commons.Bank" />
	</bean>

	<bean id="bankBranchService" class="org.egov.commons.service.BankBranchService">
		<constructor-arg name="type" value="org.egov.commons.Bankbranch" />
	</bean>
	<bean id="egPartyTypeService" class="org.egov.services.masters.EgPartyTypeService">
		<constructor-arg name="type" value="org.egov.commons.EgPartytype" />
	</bean>
	<bean id="remittanceGeneralLedgerDetailService"
		class="org.egov.services.deduction.RemittanceGeneralLedgerDetailService">
		<constructor-arg name="type" value="org.egov.deduction.model.EgRemittanceGldtl" />
	</bean>

	<bean id="remittanceSchedulerLogService"
		class="org.egov.services.deduction.RemittanceSchedulerLogService">
		<constructor-arg name="type" value="org.egov.model.recoveries.RemittanceSchedulerLog" />
	</bean>

	<bean id="remittancePersistenceService" class="org.egov.services.deduction.RemittancePersistenceService"/>

	<bean id="scheduledRemittanceService" class="org.egov.services.deduction.ScheduledRemittanceService" scope="prototype">
		<property name="remittancePersistenceService" ref="remittancePersistenceService" />
		<property name="paymentService" ref="paymentService" />
		<property name="remittanceSchedulerLogService" ref="remittanceSchedulerLogService" />
		<property name="egRemittancegldtlService" ref="egRemittancegldtlService" />
		<property name="paymentWorkflowService" ref="paymentWorkflowService" />
	</bean>

	<bean id="schemeService" class="org.egov.services.masters.SchemeService">
		<constructor-arg name="type" value="org.egov.commons.Scheme" />
	</bean>

	<bean id="subSchemeService" class="org.egov.services.masters.SubSchemeService">
		<constructor-arg name="type" value="org.egov.commons.SubScheme" />
	</bean>

</beans>