@charset "utf-8";
/* CSS Document */

body {
	margin: 0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	text-align: center;
	background-color: #FFFFFF;
	}
	   
a:link {
	color: #003366;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	}
	
a:visited {
	color: #003366;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	}
	
a:hover {
	color: #FFAD01;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	}

a:active {
	color: #CCCCCC;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	}

#tabmenu {
	z-index: 1;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 6px;
	padding-bottom: 6px;
	text-decoration: none;
	}

#tabmenu li {
	display: inline;
	overflow: hidden;
	list-style-type: none;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
	}

#tabmenu a  {
	color: #FFFFFF;
	margin: 0px;
	text-decoration: none;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	position: static;
	padding: 6px 10px;
	}
	
#tabmenu a.active {
	text-decoration: none;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	padding: 7px 10px;
	color: #000000;
	}

#tabmenu a.active {
	background-color: #FFFFFF;
	text-decoration: none;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CCCCCC;
	border-right-width: 1px;
	border-bottom-width: 0px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
	color: #000000;
	}

#tabmenu a:hover {
	color: #000000;
	padding-right: 10px;
	padding-left: 10px;
	text-decoration: none;
	padding-top: 7px;
	}

#tabmenu a:visited {
	color: #FFFFFF;
	padding-right: 10px;
	padding-left: 10px;
	text-decoration: none;
	}

#tabmenu a.active:hover {
	color:#000000;
	padding-right: 10px;
	padding-left: 10px;
	text-decoration: none;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CCCCCC;
	border-right-width: 1px;
	border-bottom-width: 0px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
	}
	
div.egov{
	width:55px; 
	text-align:right; 
	float:right;
	margin-right:15px;
	}
	
div.gov{
	width:54px; 
	text-align:right; 
	float:left;
	margin-left:15px;
	}
	
div.navibar {
	background-color: #eceded;
	margin-bottom: 8px;
	padding-top: 0px;
	padding-right: 15px;
	padding-bottom: 0px;
	padding-left: 15px;
	text-align: left;
	background-image: url(../image/bgtop.gif);
	background-repeat: repeat-x;
	vertical-align: middle;
	height: 26px;
	}

div.mainheading { 
	padding-top:25px;
	}
	
div.formmainbox {
	margin-left: 8px;
	margin-right: 8px;
	margin-top: 8px;
	}	

td.greybox {
	background-color: #f7f7f7;
	font-size: 11px;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 5px;
	padding-left: 5px;
	color: #000000;
	text-align: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	}
	
#select {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	background-color: #FFFFFF;
	border: 1px solid #7f9db9;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	padding-left: 4px;
	}
	
textarea {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	padding-left: 4px;
	}


input {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	padding-left: 4px;
	}
	
input.amount {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	padding-left: 4px;
	text-align: right;
	}

input.tablerow {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	padding-left: 4px;
	width: 95%;
	}

input.hiddenslno {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	background-color: #eceded;
	border: 1px solid #CCCCCC;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	padding-left: 4px;
	text-align: center;
	vertical-align: middle;
	}
	
input.hiddentext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	background-color: #eceded;
	border: 1px solid #CCCCCC;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	padding-left: 4px;
	}

input.button {
	width: 133px;
	height: 27px;
	font-family: Arial, Helvetica, sans-serif;
	color: #333333;
	background-image: url(../image/buttonbg.gif);
	text-align: center;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	font-size: 12px;
	font-weight: bold;
	}

input.buttonsubmit {
	width: 133px;
	height: 27px;
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
	background-image: url(../image/submitbg.gif);
	text-align: center;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	font-size: 12px;
	font-weight: bold;
	}
	
.mandatory {
	font-weight: normal;
	color: #cc0000;
	}
.bold {
	font-weight: bold;
	}
	
div.buttonbottom {
	margin-top: 8px;
	padding: 15px;
	background-color:#E4E4E4;
	}
