div.gm-style-iw{
  			overflow:hidden!important;
  			margin:0px;
		}
		
		html { height: 100% }
  		body { height: 100%; margin: 0px; padding: 0px }
  		#performanceGIS { height: 100%;margin-top:5px }
  		#slaGIS{ height: 100%;margin-top:5px }
		body{
			padding-top: 67px;
			background: url(/dashboard/resources/images/bg_white.jpg) no-repeat bottom center scroll;
		  	-webkit-background-size: cover;
			-moz-background-size: cover;
			background-size: cover;
			-o-background-size: cover;
	
		}
		.cover{position:fixed;top:0;left:0;bottom:0;right:0;background:#727678;z-index:20001}
		.preloader-container{position:fixed;left:50%;top:50%;z-index:20001}
		.preloader-logo{position:absolute;left:-45px;top:-60px;color:#fff;width:100px;white-space:nowrap; font:bold 13px tohoma,arial,helvetica; padding:10px; margin:0; height:auto;}
		.panel-green {
    border-color: #5cb85c;
}

.panel-green .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green a {
    color: #5cb85c;
}

.panel-green a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red a {
    color: #d9534f;
}

.panel-red a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow a {
    color: #f0ad4e;
}

.panel-yellow a:hover {
    color: #df8a13;
}
@media(max-width: 380px) {
  .title {
    font-size: small;
  }
}
@media(max-width: 300px) {
  .title {
    font-size: x-small;
  }
}
.gm-style {
font-family: Roboto,Arial,sans-serif;
font-size: 11px;
font-weight: 400;
text-decoration: none;
}

.gm-style-big {
font-family: Roboto,Arial,sans-serif;
font-size: 14px;
font-weight: 400;
text-decoration: none;
}

table > thead > tr > th {
text-align: center;
}
.red-text{
	background-color: red;
}
.green-text{
	background-color: green;
}
table.dataTable tbody tr td {
	text-align:right;
}
table.dataTable tbody tr td:first-child {
	text-align:left;
}

.btn-circle-xs {
width: 20px;
height: 20px;
padding: 0px;
border-radius: 10px;
}
.red-txt{
	color: red;
}

.green-txt{
	color: green;
}

td.details{
	background-color:khaki;
}

.table-hover>tbody>tr.details>td {
	background-color:khaki;
}

.table-hover>tbody>tr.details:hover>td {
	background-color:khaki;
}
.nav>li>a {
padding: 15px 7.5px;
}

.bs-callout {
	padding: 5px;
	margin: 5px 0;
	border: 1px solid #eee;
	border-left-width: 5px;
	border-radius: 3px
}

.bs-callout h4 {
	margin-top: 0;
	margin-bottom: 5px
}

.bs-callout p:last-child {
	margin-bottom: 0
}

.bs-callout code {
	border-radius: 3px
}

.bs-callout+.bs-callout {
	margin-top: -5px
}

.bs-callout-danger {
	border-left-color: #d9534f
}

.bs-callout-danger h4 {
	color: #d9534f
}

.bs-callout-warning {
	border-left-color: #f0ad4e
}

.bs-callout-warning h4 {
	color: #f0ad4e
}

.bs-callout-info {
	border-left-color: #5bc0de
}

.bs-callout-info h4 {
	color: #5bc0de
}

.color-swatches {
	margin: 0 -5px;
	overflow: hidden
}

.navbar-inverse {
	background-image: -webkit-linear-gradient(top,#6B502F 0,#6B502F 100%);
	background-image: -o-linear-gradient(top,#6B502F 0,#6B502F 100%);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#6B502F),to(#6B502F));
	background-image: linear-gradient(to bottom,#6B502F 0,#6B502F 100%);
	border-bottom: 5px solid #F5861F;
	-webkit-box-shadow: 0px 3px 8px 0px rgba(117, 69, 5, 1);
	-moz-box-shadow:    0px 3px 8px 0px rgba(117, 69, 5, 1);
	box-shadow:         0px 3px 8px 0px rgba(117, 69, 5, 1);
 }


.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
	color: #fff;
	background-color: #F5861F;
	background: rgb(255, 181, 33);
	background: -moz-linear-gradient(90deg, rgb(255, 181, 33) 0%, rgb(245, 134, 31) 70%);
	background: -webkit-linear-gradient(90deg, rgb(255, 181, 33) 0%, rgb(245, 134, 31) 70%);
	background: -o-linear-gradient(90deg, rgb(255, 181, 33) 0%, rgb(245, 134, 31) 70%);
	background: -ms-linear-gradient(90deg, rgb(255, 181, 33) 0%, rgb(245, 134, 31) 70%);
	background: linear-gradient(180deg, rgb(255, 181, 33) 0%, rgb(245, 134, 31) 70%);
}

.navbar-inverse .navbar-nav>li>a {
	color: #FFF;
}

.navbar-inverse .navbar-brand {
 color: #FFF;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
	border-color: #F5861F;
}
.nav-tabs {
	max-height:35px;
	color:#FFF;
	margin-top: -30px;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
	color: #FFF;
	background-color: transparent;
}
.container-win {
	width:97%;
	height:95%;
	margin:0 auto;
	margin-top: 20px;
}
.nav-tabs>li>a {
	padding: 5px 7.5px;
}

/* .btn-primary{
	background-color: transparent;
	border:none;
}

.btn-default{
	background-color: #F5861F;
	border:none;
} */

.header-blue {
	background: rgb(99, 133, 164);
background: -moz-linear-gradient(0deg, rgb(99, 133, 164) 35%, rgb(255, 255, 255) 100%);
background: -webkit-linear-gradient(0deg, rgb(99, 133, 164) 35%, rgb(255, 255, 255) 100%);
background: -o-linear-gradient(0deg, rgb(99, 133, 164) 35%, rgb(255, 255, 255) 100%);
background: -ms-linear-gradient(0deg, rgb(99, 133, 164) 35%, rgb(255, 255, 255) 100%);
background: linear-gradient(90deg, rgb(99, 133, 164) 35%, rgb(255, 255, 255) 100%);
color:white;	
}

.header-green {
	background: rgb(102, 119, 88);
background: -moz-linear-gradient(0deg, rgb(102, 119, 88) 35%, rgb(255, 255, 255) 100%);
background: -webkit-linear-gradient(0deg, rgb(102, 119, 88) 35%, rgb(255, 255, 255) 100%);
background: -o-linear-gradient(0deg, rgb(102, 119, 88) 35%, rgb(255, 255, 255) 100%);
background: -ms-linear-gradient(0deg, rgb(102, 119, 88) 35%, rgb(255, 255, 255) 100%);
background: linear-gradient(90deg, rgb(102, 119, 88) 35%, rgb(255, 255, 255) 100%);
color:white;	
}
.header-red {
	background: rgb(146, 78, 76);
background: -moz-linear-gradient(0deg, rgb(146, 78, 76) 35%, rgb(255, 255, 255) 100%);
background: -webkit-linear-gradient(0deg, rgb(146, 78, 76) 35%, rgb(255, 255, 255) 100%);
background: -o-linear-gradient(0deg, rgb(146, 78, 76) 35%, rgb(255, 255, 255) 100%);
background: -ms-linear-gradient(0deg, rgb(146, 78, 76) 35%, rgb(255, 255, 255) 100%);
background: linear-gradient(90deg, rgb(146, 78, 76) 35%, rgb(255, 255, 255) 100%);
color:white;	
}
.header-violet {
	background: rgb(124, 84, 102);
background: -moz-linear-gradient(0deg, rgb(124, 84, 102) 35%, rgb(255, 255, 255) 100%);
background: -webkit-linear-gradient(0deg, rgb(124, 84, 102) 35%, rgb(255, 255, 255) 100%);
background: -o-linear-gradient(0deg, rgb(124, 84, 102) 35%, rgb(255, 255, 255) 100%);
background: -ms-linear-gradient(0deg, rgb(124, 84, 102) 35%, rgb(255, 255, 255) 100%);
background: linear-gradient(90deg, rgb(124, 84, 102) 35%, rgb(255, 255, 255) 100%);
color:white;	
}
.header-maroon {
	background: rgb(136, 86, 84);
background: -moz-linear-gradient(0deg, rgb(136, 86, 84) 35%, rgb(255, 255, 255) 100%);
background: -webkit-linear-gradient(0deg, rgb(136, 86, 84) 35%, rgb(255, 255, 255) 100%);
background: -o-linear-gradient(0deg, rgb(136, 86, 84) 35%, rgb(255, 255, 255) 100%);
background: -ms-linear-gradient(0deg, rgb(136, 86, 84) 35%, rgb(255, 255, 255) 100%);
background: linear-gradient(90deg, rgb(136, 86, 84) 35%, rgb(255, 255, 255) 100%);
color:white;	
}
.header-olivegreen {
	background: rgb(147, 130, 80);
background: -moz-linear-gradient(0deg, rgb(147, 130, 80) 35%, rgb(255, 255, 255) 100%);
background: -webkit-linear-gradient(0deg, rgb(147, 130, 80) 35%, rgb(255, 255, 255) 100%);
background: -o-linear-gradient(0deg, rgb(147, 130, 80) 35%, rgb(255, 255, 255) 100%);
background: -ms-linear-gradient(0deg, rgb(147, 130, 80) 35%, rgb(255, 255, 255) 100%);
background: linear-gradient(90deg, rgb(147, 130, 80) 35%, rgb(255, 255, 255) 100%);
color:white;	
}
.bs-callout{
 margin:0px;
}

table {
background-color: whitesmoke;
}
.redborder {
	border-color: red;
}
.header-lightblue {
	background: rgb(91, 148, 203);
background: -moz-linear-gradient(0deg, rgb(91, 148, 203) 35%, rgb(255, 255, 255) 100%);
background: -webkit-linear-gradient(0deg, rgb(91, 148, 203) 35%, rgb(255, 255, 255) 100%);
background: -o-linear-gradient(0deg, rgb(91, 148, 203) 35%, rgb(255, 255, 255) 100%);
background: -ms-linear-gradient(0deg, rgb(91, 148, 203) 35%, rgb(255, 255, 255) 100%);
background: linear-gradient(90deg, rgb(91, 148, 203) 35%, rgb(255, 255, 255) 100%);
color:white;	
}

.header-lightyellow {
background: rgb(249, 241, 7);
background: -moz-linear-gradient(0deg, rgb(249, 241, 7) 35%, rgb(255, 255, 255) 100%);
background: -webkit-linear-gradient(0deg, rgb(249, 241, 7) 35%, rgb(255, 255, 255) 100%);
background: -o-linear-gradient(0deg, rgb(249, 241, 7) 35%, rgb(255, 255, 255) 100%);
background: -ms-linear-gradient(0deg, rgb(249, 241, 7) 35%, rgb(255, 255, 255) 100%);
background: linear-gradient(90deg, rgb(249, 241, 7) 35%, rgb(255, 255, 255) 100%);
color:white;	
}

.header-lightgreen{
	background: rgb(106, 198, 87);
background: -moz-linear-gradient(0deg, rgb(106, 198, 87) 35%, rgb(255, 255, 255) 100%);
background: -webkit-linear-gradient(0deg, rgb(106, 198, 87) 35%, rgb(255, 255, 255) 100%);
background: -o-linear-gradient(0deg, rgb(106, 198, 87) 35%, rgb(255, 255, 255) 100%);
background: -ms-linear-gradient(0deg, rgb(106, 198, 87) 35%, rgb(255, 255, 255) 100%);
background: linear-gradient(90deg, rgb(106, 198, 87) 35%, rgb(255, 255, 255) 100%);
color:white;	
}

.header-brown {
	background: rgb(177, 93, 22);
background: -moz-linear-gradient(0deg, rgb(177, 93, 22) 35%, rgb(255, 255, 255) 100%);
background: -webkit-linear-gradient(0deg, rgb(177, 93, 22) 35%, rgb(255, 255, 255) 100%);
background: -o-linear-gradient(0deg, rgb(177, 93, 22) 35%, rgb(255, 255, 255) 100%);
background: -ms-linear-gradient(0deg, rgb(177, 93, 22) 35%, rgb(255, 255, 255) 100%);
background: linear-gradient(90deg, rgb(177, 93, 22) 35%, rgb(255, 255, 255) 100%);
color:white;	
}
.header-darkred{
	background: rgb(192, 0, 0);
background: -moz-linear-gradient(0deg, rgb(192, 0, 0) 35%, rgb(255, 255, 255) 100%);
background: -webkit-linear-gradient(0deg, rgb(192, 0, 0) 35%, rgb(255, 255, 255) 100%);
background: -o-linear-gradient(0deg, rgb(192, 0, 0) 35%, rgb(255, 255, 255) 100%);
background: -ms-linear-gradient(0deg, rgb(192, 0, 0) 35%, rgb(255, 255, 255) 100%);
background: linear-gradient(90deg, rgb(192, 0, 0) 35%, rgb(255, 255, 255) 100%);
color:white;	
}

.customer-logo
{
    margin: 0;
    padding: 0 10px;
}

.customer-logo img
{
    border-radius: 50%;
    margin-top: 2.5px;
}

.nav>li>a, .navbar-brand{
  height: 62px;
  line-height: 62px;
  padding-top: 0;
}