<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd 
            http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd"
       default-lazy-init="true">

	<!-- Custom Node defenition file declaration each cndFiles value must 
 	        correspond to a proper content type value for cndContentTypes -->
 	<util:list id="cndFiles" list-class="java.util.LinkedList">
   		<value>classpath*:docmgmtCnd.cnd</value>
   </util:list>
   <util:list id="cndContentTypes" list-class="java.util.LinkedList">
   		<value>text/x-jcr-cnd</value> 
   </util:list>
   
	<bean id="jackrabbitSessionFactory" class="org.egov.infstr.docmgmt.JackRabbitSessionFactory">
	  <property name="repository" ref="repository"/>
	  <property name="credentials">
	   <bean class="javax.jcr.SimpleCredentials">
		<constructor-arg index="0" value="bogus"/>
		<!-- create the credentials using a bean factory -->
		<constructor-arg index="1">
		 <bean factory-bean="password"
			  factory-method="toCharArray"/>
		</constructor-arg>
	   </bean>
	  </property>
	  <property name="forceNamespacesRegistration" value="false"></property>
		<property name="keepNewNamespaces" value="true"></property>
		<property name="skipExistingNamespaces" value="true"></property>		
		<property name="namespaces">
			<props>
				<prop key="ocm">http://jackrabbit.apache.org/ocm</prop>
             	<prop key="egov">http://www.egovernments.org/egov/1.0</prop>             	
         	</props>			
		</property>
		<property name="contentTypes" ref="cndContentTypes" />
		<property name="nodeDefinitions" ref="cndFiles" /> 
	</bean>

	<util:list id="ocmList">
		<value>org.egov.infstr.docmgmt.DocumentObject</value>
		<value>org.egov.infstr.docmgmt.AssociatedFile</value>
	</util:list>
	
	<bean id="ocmMapper" class="org.apache.jackrabbit.ocm.mapper.impl.annotation.AnnotationMapperImpl">
	    <constructor-arg index="0" ref="ocmList" />
 	</bean>
 
	<bean id="jcrTemplate" class="org.springmodules.jcr.JcrTemplate" >
		<property name="sessionFactory" ref="jackrabbitSessionFactory" />
		<property name="allowCreate" value="true" />
	</bean>


	<!-- create the password to return it as a char[] -->
	<bean id="password" class="java.lang.String">
	  <constructor-arg index="0" value="pass"/>
	</bean>
	
	<bean id="repository" class="org.springmodules.jcr.jackrabbit.RepositoryFactoryBean">
	  <!-- normal factory beans params -->
	  <property name="configuration" value="classpath:jackrabbit-repository.xml"/>
	  <property name="homeDir" value="jcrContentRepo"/>
	</bean>

</beans>