html body {
	margin: 0;
	padding: 0;
	overflow: auto;
}

div.commontopyellowbg {
	background-image: url(/egi/images/commonnewTopbg.jpg);
	background-color: #ffad01;
	background-position: right bottom;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #FFF;
	text-align: center;
	white-space: normal;
	background-repeat: no-repeat;
	padding-top: 12px;
	padding-bottom: 14px;
	font-style: normal;
	display: block;
}

div.commontopbluebg {
	background-image: url(/egi/images/commonnewTop2bg.jpg);
	background-color: #486f9f;
	background-position: right bottom;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #cccccc;
	text-align: left;
	white-space: normal;
	background-repeat: repeat;
	padding-top: 9px;
	padding-bottom: 9px;
	font-style: normal;
	display: block;
	padding-right: 15px;
	padding-left: 15px;
}

div.commontopdate {
	width: 150px;
	float: right;
	text-align: right;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000;
}

div.commontopbreadc {
	background-color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #999;
	text-align: left;
	white-space: normal;
	padding-top: 9px;
	padding-bottom: 9px;
	font-style: normal;
	display: block;
	padding-right: 15px;
	padding-left: 15px;
	background-image: url(/egi/images/commonnewTopbc.jpg);
	background-repeat: repeat;
	background-position: center top;
}

.commonbcarrow {
	font-family: Verdana, Geneva, sans-serif;
	color: #416a9c;
	font-weight: bold;
	font-size: 10px;
	margin-left: 4px;
	margin-right: 4px;
}

.bold {
	font-weight: bold;
}