@import url('egov.css');

div.tbl2-container {
      width: 880px;
      height: 456px;
     overflow: visible;
      
      } 
      
 div.tbl-container {
            width: 880px;
            height: 525px;
            overflow: visible;
          
}

div.exportlinks {
	display:none;
	
}

