body {
  font-family: 'Times New Roman';
  font-size: 12pt;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  color: Black;
  background-color: White;
  text-transform: none;
}
p {
  margin-top: 0pt;
  margin-right: 0pt;
  margin-bottom: 0pt;
  margin-left: 0pt;
  text-indent: 0pt;
  text-align: left;
  line-height: normal;
}
.ts0 {
  font-family: Verdana;
  font-size: 8pt;
  font-style: italic;
}
.ts1 {
  font-size: 4pt;
}
.ts2 {
  font-family: Arial;
  font-size: 16pt;
  color: Black;
}
.ts3 {
  font-family: Verdana;
  font-size: 11pt;
}
.ts4 {
  font-family: Arial;
  font-size: 11pt;
  color: Black;
}
.ts5 {
  font-family: Verdana;
  font-size: 8pt;
}
.ts6 {
  font-family: Verdana;
  font-size: 16pt;
}
.ts7 {
  font-family: Verdana;
  font-size: 10pt;
  font-weight: bold;
}
.ts8 {
  font-family: Verdana;
  font-size: 10pt;
  font-weight: bold;
}
.ts9 {
  font-family: Verdana;
  font-size: 10pt;
  color: Black;
}
.ts10 {
  font-family: Verdana;
  font-size: 10pt;
}
.ts11 {
  font-family: Verdana;
  font-size: 10pt;
  font-weight: bold;
  color: Black;
}
.ts12 {
  font-family: Verdana;
  font-size: 10pt;
}
.ts13 {
  font-family: Verdana;
  font-size: 10pt;
  font-style: italic;
  color: Black;
}
.ts14 {
  font-family: Verdana;
  font-size: 10pt;
  color: Black;
}
.ts15 {
  font-family: Verdana;
  font-size: 10pt;
  font-weight: bold;
  color: Black;
}
.ts16 {
  font-family: Verdana;
  font-size: 10pt;
}
.ts17 {
  color: Black;
}
.ts18 {
  font-family: 'Courier New';
  font-size: 10pt;
}
.hs0 {
  font-family: Verdana;
  font-size: 8pt;
  font-style: italic;
  text-decoration: underline;
  color: Blue;
}
a.hs0:hover {
  color: Red;
}
.hs1 {
  font-family: Verdana;
  font-size: 10pt;
  text-decoration: underline;
  color: Blue;
}
.ps0 {
  text-align: right;
}
.ps1 {
  margin-bottom: 1pt;
  text-align: center;
}
.ps2 {
  margin-bottom: 1pt;
}
.ps3 {
  margin-left: 2mm;
  text-indent: 2mm;
}
.ps4 {
  margin-bottom: 1pt;
  margin-left: 2mm;
  text-indent: 2mm;
}
.ps5 {
  margin-left: 12.9645833333333mm;
  text-indent: 10mm;
}
.ps6 {
  margin-bottom: 1pt;
  margin-left: 11.1125mm;
  text-indent: -6.87916666666667mm;
}
.ps7 {
  margin-bottom: 1pt;
  margin-left: 40px;
  text-indent: 25px;
}
.ps8 {
  margin-left: 11.1125mm;
  text-indent: -6.87916666666667mm;
}
.ps9 {
  text-indent: 10mm;
}
.ps10 {
  margin-bottom: 1pt;
  text-indent: 10mm;
}
.ps11 {
  margin-left: 12mm;
  text-indent: 10mm;
}
.ps12 {
  margin-bottom: 1pt;
  margin-left: 12mm;
  text-indent: 10mm;
}
.ps13 {
  text-align: center;
}
.ps14 {
  margin-top: 1pt;
  margin-left: 12.9645833333333mm;
  text-indent: -5.02708333333333mm;
}
.ps15 {
  margin-left: 12.9645833333333mm;
  text-indent: -5.02708333333333mm;
}
.ps16 {
  margin-top: 1pt;
  margin-bottom: 1pt;
  margin-left: 35px;
  text-indent: -35px;
}
.ps17 {
  margin-bottom: 1pt;
  margin-left: 35px;
  text-indent: -35px;
}
.ps18 {
  margin-left: 12.9645833333333mm;
  text-indent: -2.64583333333333mm;
}
.ps19 {
  margin-bottom: 1pt;
  margin-left: 12.9645833333333mm;
  text-indent: -2.64583333333333mm;
}
.ps20 {
  margin-left: 12.9645833333333mm;
  text-indent: -5.02708333333333mm;
}
.ps21 {
  margin-bottom: 1pt;
  margin-left: 12.9645833333333mm;
  text-indent: -5.02708333333333mm;
}
.ps22 {
  margin-top: 1pt;
  margin-bottom: 1pt;
}
.ps23 {
  margin-left: 9.26041666666667mm;
  text-indent: -5.02708333333333mm;
}
.ps24 {
  margin-top: 1pt;
}
.ps25 {
  margin-top: 1pt;
  margin-left: 2mm;
  text-indent: 2mm;
}
.ps26 {
  margin-bottom: 1pt;
  margin-left: 18px;
}
.ps27 {
  margin-bottom: 1pt;
  margin-left: 18px;
  text-indent: -18px;
}
.ps28 {
  margin-top: 1pt;
  margin-left: 9.525mm;
  text-indent: -5.29166666666667mm;
}
.ps29 {
  margin-top: 1pt;
  margin-bottom: 1pt;
  margin-left: 40px;
  text-indent: -4px;
}
.ps30 {
  margin-left: 9.525mm;
  text-indent: -5.29166666666667mm;
}
.ps31 {
  margin-bottom: 1pt;
  margin-left: 9.525mm;
  text-indent: -5.29166666666667mm;
}
.ps32 {
  margin-bottom: 1pt;
  text-indent: 18px;
}
.ps33 {
  margin-left: 5mm;
  text-indent: 5mm;
}
.ps34 {
  margin-bottom: 1pt;
  margin-left: 5mm;
  text-indent: 5mm;
}
.ps35 {
  margin-top: 1pt;
  margin-left: 10.8479166666667mm;
  text-indent: -6.61458333333333mm;
}
.ps36 {
  margin-left: 10.8479166666667mm;
  text-indent: -6.61458333333333mm;
}
.ps37 {
  margin-left: 23.8125mm;
  text-indent: -8.73125mm;
}
.ps38 {
  margin-top: 1pt;
  margin-bottom: 1pt;
  margin-left: 23.8125mm;
}
.ps39 {
  margin-left: 11.3770833333333mm;
  text-indent: -7.14375mm;
}
.ps40 {
  margin-bottom: 1pt;
  margin-left: 18px;
  text-indent: -21px;
}
.ps41 {
  margin-left: 12.9645833333333mm;
  text-indent: 2mm;
}
.ps42 {
  margin-top: 1pt;
  margin-bottom: 1pt;
  text-indent: 17.4625mm;
}
.ps43 {
  margin-bottom: 1pt;
  margin-left: 12.9645833333333mm;
  text-indent: 2mm;
}
.ps44 {
  margin-top: 1pt;
  margin-left: 7.67291666666667mm;
  text-indent: -3.43958333333333mm;
}
.ps45 {
  margin-left: 7.67291666666667mm;
  text-indent: -3.43958333333333mm;
}
.ps46 {
  margin-left: 12.1708333333333mm;
  text-indent: -7.9375mm;
}
.ps47 {
  margin-bottom: 1pt;
  margin-left: -3px;
  text-indent: 21px;
}
.ps48 {
  margin-left: 12.7mm;
  text-indent: -2.64583333333333mm;
}
.ps49 {
  margin-left: 26.9875mm;
  text-indent: -5.02708333333333mm;
}
.ps50 {
  margin-bottom: 1pt;
  margin-left: 26.9875mm;
  text-indent: -5.02708333333333mm;
}
.ps51 {
  margin-bottom: 1pt;
  margin-left: 12.9645833333333mm;
  text-indent: -8.20208333333333mm;
}
.ps52 {
  margin-left: 7.9375mm;
  text-indent: -3.70416666666667mm;
}
.ps53 {
  margin-left: 10.31875mm;
  text-indent: -6.08541666666667mm;
}