@charset "utf-8";

div.footer {
	margin-top: 8px;
	background-color: #E4E4E4;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: center;
	vertical-align: center;
}

div.topbar {
	background-color: #FFAD01;
	width: 100%;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 30px;
	font-weight: normal;
	color: #333333;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	background-image: url(../image/bg.jpg);
	background-position: right bottom;
	background-repeat: no-repeat;
}

div.formheading {
	width: 100%;
	height: 23px;
	background-color: #3399CC;
	background-image: url(../image/bluebg.gif);
	background-repeat: repeat-x;
	background-position: bottom;
}

div.blueshadow {
	width: 100%;
	height: 17px;
	background-image: url(../image/blueshadow.gif);
	background-repeat: repeat-x;
	margin-bottom: 2px;
}

h1.subhead {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #333333;
	margin-bottom: 6px;
	margin-top: 8px;
}

table.tablebottom {
	border-top-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-left-style: solid;
	border-top-color: #C5C5C5;
	border-left-color: #C5C5C5;
}

td.bluebox {
	background-color: #FFFFFF;
	border-bottom: 1px solid white;
	border-top: 1px solid white;
	font-size: 11px;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 5px;
	padding-left: 5px;
	color: #000000;
	text-align: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

td.blueborderfortd {
	background-color: #FFFFFF;
	font-size: 11px;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 5px;
	padding-left: 5px;
	color: #000000;
	text-align: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #E9E9E9;
	border-bottom-color: #E9E9E9;
}

th.bluebgheadtd {
	height: 32px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #E9E9E9;
	border-bottom-color: #E9E9E9;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	padding-right: 2px;
	padding-left: 2px;
	background-color: #999999;
	text-align: center;
	background-image: url(../image/tablebg.gif);
	background-repeat: repeat-x;
}

td.totalbg {
	background-color: #E4E4E4;
	font-size: 11px;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 5px;
	padding-left: 5px;
	color: #000000;
	text-align: right;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #A9CFF2;
	border-bottom-color: #A9CFF2;
	font-weight: bold;
}

#tab2 {
	z-index: 1;
	padding-top: 12px;
	padding-bottom: 12px;
	text-decoration: none;
	margin: 0px;
	width: 100%;
}

#tab2 li {
	display: block;
	overflow: hidden;
	list-style-type: none;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #121212;
	text-decoration: none;
	font-weight: bold;
	width: 100%;
}

#tab2 a {
	color: #121212;
	margin: 0px;
	text-decoration: none;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	position: static;
	background-color: #C6E0F7;
	padding-top: 12px;
	padding-right: 10px;
	padding-bottom: 12px;
	padding-left: 10px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-left-color: #CCCCCC;
}

#tab2 a.active {
	background-color: #5B9CE3;
	text-decoration: none;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CCCCCC;
	border-right-width: 1px;
	border-bottom-width: 0px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
	color: #FFFFFF;
}

#tab2 a:hover {
	color: #FFFFFF;
	padding-right: 10px;
	padding-left: 10px;
	text-decoration: none;
	padding-top: 12px;
	background-color: #5B9CE3;
	padding-bottom: 12px;
}

#tab2 a.active:hover {
	color: #FFFFFF;
	padding-right: 10px;
	padding-left: 10px;
	text-decoration: none;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CCCCCC;
	border-right-width: 1px;
	border-bottom-width: 0px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
	background-color: #5A9BE2;
	padding-top: 12px;
	padding-bottom: 12px;
}

div.insidecontent {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	background-color: #F3F3F3;
	text-align: left;
	clip: rect(auto, auto, 5px, auto);
	line-height: 18px;
	margin-bottom: 10px;
	padding-top: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
}

.rbroundbox2 {
	background-image: url(../image/nt.gif);
	background-repeat: repeat;
}

.rbtop2 div {
	background: url(../image/tl.gif) no-repeat top left;
}

.rbtop2 {
	background: url(../image/tr.gif) no-repeat top right;
}

.rbbot2 div {
	background: url(../image/bl.gif) no-repeat bottom left;
}

.rbbot2 {
	background: url(../image/br.gif) no-repeat bottom right;
}

.rbtop2 div,.rbtop2,.rbbot2 div,.rbbot2 {
	width: 100%;
	height: 7px;
	font-size: 1px;
}

.rbcontent2 {
	margin-top: 0px;
	margin-right: 7px;
	margin-bottom: 0;
	margin-left: 7px;
	padding-top: 2px;
	padding-right: 12px;
	padding-bottom: 12px;
	padding-left: 12px;
}

.rbroundbox2 {
	width: 100%;
	margin-top: 0em;
	margin-right: auto;
	margin-bottom: 0em;
	margin-left: auto;
}

.rbroundbox3 {
	background-image: url(../image/nt.gif);
	background-repeat: repeat;
}

.rbtop3 div {
	background: url(../image/tl1.gif) no-repeat top left;
}

.rbtop3 {
	background: url(../image/tr1.gif) no-repeat top right;
}

.rbbot3 div {
	background: url(../image/bl1.gif) no-repeat bottom left;
}

.rbbot3 {
	background: url(../image/br1.gif) no-repeat bottom right;
}

.rbtop3 div,.rbtop3,.rbbot3 div,.rbbot3 {
	width: 100%;
	height: 7px;
	font-size: 1px;
}

.rbcontent3 {
	margin-top: 0px;
	margin-right: 7px;
	margin-bottom: 0;
	margin-left: 7px;
	padding-top: 12px;
	padding-right: 12px;
	padding-bottom: 12px;
	padding-left: 12px;
}

.rbroundbox3 {
	width: 100%;
	margin-top: 0em;
	margin-right: auto;
	margin-bottom: 0em;
	margin-left: auto;
}

.welcomestylel {
	color: #000000;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 28px;
	font-weight: normal;
	margin-right: 25px;
	margin-left: 25px;
	line-height: 30px;
}

.welcomestyles {
	color: #333333;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	margin-right: 25px;
	margin-left: 25px;
	margin-top: 25px;
	vertical-align: bottom;
	margin-bottom: 25px;
}

.welcomestylearrow {
	color: #666666;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	margin-right: 25px;
	margin-left: 25px;
	margin-top: 25px;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-right: 8px;
	padding-left: 8px;
	background-color: #E1F8FF;
	border: 1px dotted #B3E7FF;
}

.welcomestylearrow1 {
	color: #333333;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	margin-right: 25px;
	margin-left: 25px;
	background-image: url(../image/arrow.gif);
	background-repeat: no-repeat;
	background-position: left top;
	margin-top: 25px;
	padding-left: 30px;
	height: 72px;
	vertical-align: bottom;
	padding-top: 18px;
}

.loginboxnew1 {
	color: #333333;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	background: #D4EAF5 url(../image/loginbg.gif) no-repeat center fixed;
	height: 193px;
}

.linkcallyour {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #003366;
}

.loginheadingnew2 {
	margin-top: 25px;
	margin-left: 25px;
	width: 424px;
	height: 23px;
	padding-right: 8px;
	padding-left: 8px;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	padding-top: 4px;
	background-color: #416A9C;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	padding-bottom: 4px;
}

div.subheadnew {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	background-color: #CCCCCC;
	padding-top: 5px;
	padding-right: 3px;
	padding-bottom: 5px;
	padding-left: 3px;
	background-image: url(../image/greysmallbg.gif);
	background-repeat: repeat-x;
	background-position: bottom;
	text-align: center;
}

div.subheadsmallnew {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #006699;
	background-color: #E8E8E8;
	padding-top: 5px;
	padding-right: 3px;
	padding-bottom: 5px;
	padding-left: 3px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #FFFFFF;
	text-align: center;
}

input.righttext {
	text-align: right;
}

select {
	font-family: Arial, Helvetica, sans-serif;
	color: #333333;
	font-size: 11px;
	padding-left: 2px;
}

.highlight2 {
	font-size: 9px;
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #FFFFCC;
	line-height: 1.5em;
	padding-top: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
	padding-left: 8px;
}

td.bluebox2 {
	background-color: #F5F5F5;
	font-size: 11px;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 5px;
	padding-left: 5px;
	color: #000000;
	text-align: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.buttongeneral {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #666666;
	text-align: center;
	padding-right: 8px;
	padding-left: 8px;
	border: 1px solid #CCCCCC;
}

div.navibarportal {
	background-color: #416a9c;
	padding-top: 7px;
	padding-right: 15px;
	padding-bottom: 0px;
	padding-left: 15px;
	text-align: left;
	background-image: url(../image/commonnewTop2bg.jpg);
	background-repeat: repeat-x;
	vertical-align: middle;
	height: 26px;
}

div.navibarportal1 {
	background-color: #eceded;
	padding-top: 10px;
	padding-right: 15px;
	padding-bottom: 10px;
	padding-left: 15px;
	text-align: left;
	background-image: url(../image/commonnewTop2bg.jpg);
	background-repeat: repeat-x;
	vertical-align: middle;
}

.loginheadingnew3 {
	color: #FFFFFF;
	font-size: 16px;
	font-weight: bold;
	background-color: #416A9C;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	padding-top: 6px;
	padding-right: 5px;
	padding-bottom: 6px;
	padding-left: 15px;
}

.boxhomemid {
	text-align: left;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 15px;
	margin-left: 15px;
}

.boxhomemid2 {
	font-family: Arial, Helvetica, sans-serif;
	padding: 15px;
}

div.rightbluec {
	margin: 12px;
	width: 196%;
	background-color: #FFFFFF;
	vertical-align: top;
	padding: 12px;
}

.namestyle {
	font-size: 12px;
	font-weight: bold;
	color: #416A9C;
}

.namestyle2 {
	font-size: 11px;
	font-weight: bold;
	color: #660000;
}

div.rightpersonalbox {
	background-color: #FFFFFF;
	margin: 15px;
	padding: 12px;
	text-align: left;
	vertical-align: top;
}

div.rightpersonalboxplain {
	margin: 14px;
	text-align: left;
	vertical-align: top;
}

div.textspacearound {
	margin-top: 5px;
	margin-bottom: 5px;
}

a.ovalbutton {
	background: transparent url(../image/oval-gray-left1.gif) no-repeat top
		left;
	display: block;
	font: normal 11px sans-serif;
	font-variant: normal;
	font-weight: bold;
	line-height: 16px;
	height: 24px;
	padding-left: 10px;
	text-decoration: none;
	width: 182px;
}

a:link .ovalbutton,a:visited .ovalbutton,a:active .ovalbutton {
	color: #494949;
	font: normal 11px sans-serif;
	font-weight: bold;
	width: 182px;
}

a.ovalbutton span {
	background: transparent url(../image/oval-gray-right1.gif) no-repeat top
		right;
	display: block;
	padding: 5px 10px 5px 0;
	font: normal 11px sans-serif;
	font-weight: bold;
}

a.ovalbutton:hover {
	background-position: bottom left;
	font: normal 11px sans-serif;
	font-weight: bold;
}

a.ovalbutton:hover span {
	background-position: bottom right;
	color: #000033;
	font: normal 11px sans-serif;
	font-weight: bold;
}

a.ovalbutton1 {
	background: transparent url(../image/oval-gray-left2.gif) no-repeat top
		left;
	display: block;
	float: left;
	font-weight: bold;
	line-height: 19px;
	height: 27px;
	padding-left: 10px;
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	width: 250px;
}

a:link .ovalbutton1,a:visited .ovalbutton1,a:active .ovalbutton1 {
	color: #494949;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	width: 250px;
}

a.ovalbutton1 span {
	background: transparent url(../image/oval-gray-right2.gif) no-repeat top
		right;
	display: block;
	padding: 4px 35px 4px 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

a.ovalbutton1:hover {
	background-position: bottom left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

a.ovalbutton1:hover span {
	background-position: bottom right;
	color: #000033;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

#externalbutton a:link {
	color: #006699;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
}

#externalbutton a:visited {
	color: #006699;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

#externalbutton a:hover {
	color: #FFAD01;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

#externalbutton a:active {
	color: #CCCCCC;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.buttonwrapper {
	overflow: hidden;
	width: 100%;
}

div.loginboxmain {
	margin-top: 25px;
	background-color: #93C8E9;
	width: 75%;
	margin-bottom: 25px;
	border-right-width: 3px;
	border-bottom-width: 3px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #E6E6E6;
	border-bottom-color: #E6E6E6;
	padding-top: 20px;
	padding-right: 25px;
	padding-bottom: 20px;
	padding-left: 25px;
}

div.loginboxmainleft {
	padding: 20px;
	margin-top: 25px;
	background-color: #93C8E9;
	width: 80%;
	margin-left: 25px;
	float: right;
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-bottom-color: #E6E6E6;
}

div.loginboxmainleft2 {
	width: 80%;
	margin-left: 25px;
	float: right;
	padding: 20px;
}

.buttonhomemain a:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #003366;
	font-size: 12px;
	font-weight: bold;
	text-decoration: underline;
}

.buttonhomemain a:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #FF6600;
	text-decoration: none;
	font-weight: normal;
	font-size: 12px;
}

.buttonhomemain a:active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #FF6600;
	text-decoration: none;
	font-weight: normal;
	font-size: 12px;
}

.buttonhomemain a:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #FF6600;
	text-decoration: none;
	font-weight: normal;
	font-size: 12px;
}

div.inboxblock1 {
	padding: 5px;
	background-color: #93C8E9;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #E6E6E6;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
}

.inboxblocknew1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: underline;
	border-right: #A9A9A9 1px solid;
	border-top: #F3F3F3 1px solid;
	border-left: #F3F3F3 1px solid;
	border-bottom: #A9A9A9 1px solid;
	font-weight: bold;
	background-color: #93C8E9;
	color: #212121;
	background-repeat: no-repeat;
	vertical-align: middle;
	background-position: right center;
	padding-right: 5px;
	padding-top: 5px;
	padding-left: 6px;
	padding-bottom: 5px;
	cursor: pointer;
}

.inboxblocknew2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: underline;
	border-right: #A9A9A9 1px solid;
	border-top: #F3F3F3 1px solid;
	border-left: #F3F3F3 1px solid;
	border-bottom: #A9A9A9 1px solid;
	font-weight: bold;
	background-color: #93C8E9;
	color: #212121;
	background-image: url(../image/sort_arrow.gif);
	background-repeat: no-repeat;
	vertical-align: middle;
	background-position: right center;
	padding-right: 5px;
	padding-top: 5px;
	padding-left: 6px;
	padding-bottom: 5px;
	cursor: pointer;
}

div.inboxmidcontainer3 {
	text-align: left;
	margin-top: 0px;
	margin-right: 5px;
	margin-bottom: 15px;
	margin-left: 15px;
}

div.inboxmidcontainer {
	text-align: left;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	display: block;
	height: 390px;
	overflow-x: hidden;
	overflow-y: scroll;
	x-index: auto;
	padding-bottom: 0px;
}

div.ScrollAutoNew {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	height: auto;
	width: 100%;
	white-space: nowrap;
	overflow-x: scroll;
	overflow-y: hidden;
	y-index: auto;
}

div.changepasswordcontainer {
	text-align: left;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 12px;
	padding-bottom: 0px;
	border-right-color: #E9E9E9;
	border-right-style: solid;
	border-top-width: 1px;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #E9E9E9;
}

div.inboxstrip {
	margin-bottom: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #404040;
	text-align: left;
	border-bottom-style: dotted;
	border-bottom-width: 1px;
	background-color: #F0F0F0;
	border-top-width: 1px;
	border-top-style: dotted;
	border-top-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	padding-top: 3px;
	padding-right: 14px;
	padding-bottom: 3px;
	padding-left: 10px;
}

div.inboxstrip2 {
	margin-bottom: 10px;
	text-align: left;
	border-bottom-style: dotted;
	border-bottom-width: 1px;
	padding-top: 3px;
	padding-right: 5px;
	padding-bottom: 3px;
	padding-left: 5px;
	background-color: #F0F0F0;
	border-top-width: 1px;
	border-top-style: dotted;
	border-top-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
}

div.inboxstrip3 {
	text-align: left;
	padding-top: 3px;
	padding-right: 5px;
	padding-bottom: 3px;
	padding-left: 5px;
	background-color: #e1e1e1;
}

div.inboxstrip4 {
	margin-bottom: 10px;
	text-align: left;
	padding-top: 3px;
	padding-right: 5px;
	padding-bottom: 3px;
	padding-left: 5px;
	background-color: #eeeeee;
}

div.formmainboxnew {
	margin-left: 8px;
	margin-right: 8px;
	margin-top: 8px;
	margin-bottom: 0px;
}

div.logochennai {
	float: left;
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 5px;
	margin-bottom: 5px;
}

div.mainlogo {
	float: right;
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 5px;
	margin-bottom: 5px;
}

td.actionforyou {
	Padding: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}

a.buttonforaccord:link {
	color: #003366;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}

a.buttonforaccord:visited {
	color: #003366;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}

a.buttonforaccord:hover {
	color: #999;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
}

a.buttonforaccord:active {
	color: #CCCCCC;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}

#sellected {
	padding-right: 5px;
	padding-left: 6px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: bold;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	cursor: pointer;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #DADADA;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #DADADA;
}

td.unsellected {
	background-color: #FFFFFF;
	padding-right: 5px;
	padding-left: 6px;
	padding-top: 3px;
	padding-bottom: 3px;
	font-weight: normal;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #E9E9E9;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #E9E9E9;
}

div.inboxotherbuttons {
	width: 400px;
	float: right;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	font-weight: normal;
}

.noBorderCellBorderTop {
	border: none;
	vertical-align: top;
	border-right: #D2D2D2 0px solid;
	border-top: #D2D2D2 3px solid;
	border-left: #D2D2D2 0px solid;
	border-bottom: #D2D2D2 1px solid;
	text-align: center;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 3px;
	padding-left: 5px;
	background-color: #F7F7F7;
}

.normal {
	background-color: #CCCCCC;
}

.highlight {
	background-color: #8888FF;
}

.changepasswordbutton {
	background-color: #CC0000;
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 10px;
	padding-top: -2px;
	padding-right: 4px;
	padding-bottom: -2px;
	padding-left: 4px;
	border: 2px double #990000;
}

.cpasswordcancel {
	background-color: #CCCCCC;
	color: #333333;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 10px;
	padding-top: -2px;
	padding-right: 4px;
	padding-bottom: -2px;
	padding-left: 4px;
	border: 2px double #999999;
}

div.homeiconcontainer {
	float: left;
	width: 80px;
	text-align: left;
	margin-top: 3px;
}

div.signoutbox {
	float: right;
	width: 500px;
	text-align: right;
	margin-top: 2px;
	text-decoration: none;
}

div.mainheadingnew {
	padding-top: 15px;
	padding-bottom: 9px;
}

.menutitle {
	cursor: pointer;
	margin-bottom: 5px;
	background-color: #ECECFF;
	color: #000000;
	width: 140px;
	padding: 2px;
	text-align: center;
	font-weight: bold;
	/*/*/
	border: 1px solid #000000; /* */
}

.submenu {
	margin-bottom: 0.5em;
}

#apDiv1 {
	position: absolute;
	width: 147px;
	height: 80px;
	z-index: 1;
	left: 877px;
	top: 151px;
}

div.footer {
	height: 20px;
	padding: 5px;
	background-color: #E4E4E4;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}

td.inboxbutton {
	padding-right: 10px;
	text-align: right;
}

td.inboxbutton1 {
	padding-left: 9px;
	text-align: left;
}

.iconplacer {
	width: 16px;
	float: right;
}

div.droprightside {
	width: 360px;
	float: right;
	margin-right: 15px;
}

.schemestyle {
	background-color: #f0f0f0;
	border: 1px solid #CCC;
}

a.topnavbutton:link {
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
}

a.topnavbutton:visited {
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
}

a.topnavbutton:hover {
	color: #F90;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
}

a.topnavbutton:active {
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
}

.focus {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	background-color: #92B4D5;
	border: 1px solid #81A6CD;
	color: #FFF;
	font-weight: bold;
	font-size: 11px;
}

div.headrightside {
	width: 520px;
	float: right;
	margin-right: 15px;
	text-align: right;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #000;
	text-decoration: none;
}

div.headleftnavi {
	padding: 5px;
	background-color: #416a9c;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #CCC;
	width: auto;
}

span.fonthome {
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #CCC;
}

a.fonthome:link {
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #CCC;
}

a.fonthome:visited {
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #CCC;
}

a.fonthome:hover {
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #F90;
}

a.fonthome:active {
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #CCC;
}

.dropred {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #000;
	background-color: #F00;
}

.dropyellow {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #000;
	background-color: #FC0;
}

.dropgreen {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #000;
	background-color: #3C0;
}

div.legendbox {
	width: 175px;
	padding: 8px;
	background-color: #FFF;
	text-align: left;
	vertical-align: top;
	border-top-width: 1px;
	border-right-width: 3px;
	border-bottom-width: 3px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #E1E1E1;
	border-right-color: #E1E1E1;
	border-bottom-color: #E1E1E1;
	border-left-color: #E1E1E1;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #333;
	float: right;
	margin-right: auto;
	margin-bottom: auto;
}

td.mobilecontent {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333;
	padding: 20px;
	text-align: left;
	background-color: #FFC
}

div.mobileclose {
	padding: 15px;
	text-align: center;
	background-color: #e4e4e4;
}

div.headmobile {
	margin-right: 15px;
	text-align: left;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #036;
	text-decoration: none;
}

.shadowthin {
	background-image: url(../image/shadowsmall.gif);
	background-repeat: repeat-x;
	height: 7px;
}

.appName {
	padding-left: 5px;
}

.helpmenu {
	display: none;
	position: absolute;
	background-color: white;
	border: 1px activeborder outset;
	min-width: 140px;
	float: left;
	font-size: 8pt;
	padding-left: 0px;
	top: 13px;
}

.helpmenu_div {
	background-color: white;
	text-align: justify;
	margin: 0px;
	padding: 4px;
	border-top: 1px dotted whitesmoke;
	border-left: 1px dotted whitesmoke;
	border-right: 1px dotted whitesmoke;
	cursor: pointer;
}

.helpHigh {
	background-color: whitesmoke;
}

.noline {
	text-decoration: none;
}

.showhide {
	top: 111px;
	position: absolute;
	cursor: pointer;
}

.egovfooter {
	top: 3px;
	position: relative;
}

.feedback {
	width: 500px;
	height: 250px;
	position: absolute;
	top: 102px;
	right: 68px;
	color: white;
	font-weight: bold;
	display: none;
}

.feedmask {
	position: absolute;
	top: 0px;
	left: 1px;
	opacity: 0.2;
	filter: alpha(opacity = 5);
	background-color: black;
	display: none;
	z-index: 100px;
}
