<?xml version="1.0" encoding="UTF-8"?>
<!--
  /*******************************************************************************
   * eGov suite of products aim to improve the internal efficiency,transparency,
   *    accountability and the service delivery of the government  organizations.
   *
   *     Copyright (C) <2015>  eGovernments Foundation
   *
   *     The updated version of eGov suite of products as by eGovernments Foundation
   *     is available at http://www.egovernments.org
   *
   *     This program is free software: you can redistribute it and/or modify
   *     it under the terms of the GNU General Public License as published by
   *     the Free Software Foundation, either version 3 of the License, or
   *     any later version.
   *
   *     This program is distributed in the hope that it will be useful,
   *     but WITHOUT ANY WARRANTY; without even the implied warranty of
   *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   *     GNU General Public License for more details.
   *
   *     You should have received a copy of the GNU General Public License
   *     along with this program. If not, see http://www.gnu.org/licenses/ or
   *     http://www.gnu.org/licenses/gpl.html .
   *
   *     In addition to the terms of the GPL license to be adhered to in using this
   *     program, the following additional terms are to be complied with:
   *
   * 	1) All versions of this program, verbatim or modified must carry this
   * 	   Legal Notice.
   *
   * 	2) Any misrepresentation of the origin of the material is prohibited. It
   * 	   is required that all modified versions of this material be marked in
   * 	   reasonable ways as different from the original version.
   *
   * 	3) This license does not grant any rights to any user of the program
   * 	   with regards to rights under trademark law for use of the trade names
   * 	   or trademarks of eGovernments Foundation.
   *
   *   In case of any queries, you can reach eGovernments Foundation at contact@egovernments.org.
   ******************************************************************************/
-->
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
	   default-lazy-init="true">

	
	
	<!-- END OF SERVICE DECLARATION FOR EGI -->
	
	<bean id="bndCommonService" class="org.egov.bnd.services.common.BndCommonService">
		<property name="persistenceService" ref="persistenceService" />
		<property name="objectTypeService" ref="objectTypeService"/>
	 	<property name="objectHistoryService" ref="objectHistoryService"/>
	 	<property name="registrationTypeServiceMap">
	 		<map>
        	<entry>
            	 <key>
                	<value>BirthRegistrationService</value>
           		 </key>
            	<ref bean="birthRegistrationService" />
       		 </entry>
       		<entry>
            	 <key>
                	<value>DeathRegistrationService</value>
           		 </key>
            	<ref bean="deathRegistrationService" />
       		 </entry>
        </map>
        </property>
	</bean>
	
	<bean id="regKeyService" class="org.egov.bnd.services.masters.RegKeyService" parent="persistenceService">
	    <property name="type" value="org.egov.bnd.model.RegKeys"/>
	</bean>
	
	<bean id="numberGenerationService" class="org.egov.bnd.services.common.NumberGenerationService">
		<property name="sequenceGenerator" ref="sequenceGenerator"/>
		<property name="regKeyService" ref="regKeyService"/>
		<property name="bndCommonService" ref="bndCommonService"/>
	</bean>
	
	 <bean id="adoptionService" class="org.egov.infstr.services.PersistenceService" parent="persistenceService">
	    <property name="type" value="org.egov.bnd.model.AdoptionDetails"/>
	 </bean>
	 
	 <bean id="statusChangeService" class="org.egov.infstr.services.PersistenceService" parent="persistenceService">
	    <property name="type" value="org.egov.commons.EgwSatuschange"/>
     </bean>

	<bean id="birthRegistrationWorkflowService" class="org.egov.infra.workflow.service.SimpleWorkflowService" lazy-init="false" scope="prototype">
		<constructor-arg ref="persistenceService"/>
	</bean>
	
	 <bean id="generateCertificateService" class="org.egov.bnd.services.common.GenerateCertificateService" >
	     <property name="birthRegistrationService" ref="birthRegistrationService"/>
	     <property name="bndCommonService" ref="bndCommonService"/>
	     <property name="deathRegistrationService" ref="deathRegistrationService"/>
	     <property name="persistenceService" ref="persistenceService"/>
	     <property name="nonAvailableRegService" ref="nonAvailableRegService"/>
	     <property name="reportService" ref="reportService"/>
	 </bean>
	
	 <bean id="birthRegistrationService" class="org.egov.bnd.services.registration.BirthRegistrationService" parent="persistenceService">
	    <property name="type" value="org.egov.bnd.model.BirthRegistration"/>
	    <property name="adoptionService" ref="adoptionService"/>
	    <property name="statusChangeService" ref="statusChangeService"/>
	    <property name="birthRegistrationWorkflowService" ref="birthRegistrationWorkflowService"/>
	    <property name="bndCommonService" ref="bndCommonService"/>
	 </bean>
	 
     <bean id="searchService" class="org.egov.bnd.services.search.SearchService" parent="persistenceService" >
		<property name="type" value="org.egov.bnd.model.Registration" />  
		<property name="persistenceService" ref="persistenceService"/>
		<property name="bndCommonService" ref="bndCommonService"/>
	 </bean>
	
	 <bean id="objectHistoryService" class="org.egov.bnd.services.common.ObjectHistoryService" parent="persistenceService">
	 	  <property name="type" value="org.egov.commons.ObjectHistory"/>
	</bean>	
	
	<bean id="objectTypeService" class="org.egov.bnd.services.common.ObjectTypeService" parent="persistenceService">
	 	  <property name="type" value="org.egov.commons.ObjectType"/>
	 	  <property name="persistenceService" ref="persistenceService"/>
	</bean>	
	
    <bean id="deathRegistrationWorkflowService" class="org.egov.infra.workflow.service.SimpleWorkflowService" lazy-init="false" scope="prototype">
		<constructor-arg ref="persistenceService"/>
	</bean>
	
    <bean id="deathRegistrationService" class="org.egov.bnd.services.registration.DeathRegistrationService" parent="persistenceService">
 	    <property name="type" value="org.egov.bnd.model.DeathRegistration"/>
 	    <property name="bndCommonService" ref="bndCommonService"/>
	    <property name="deathRegistrationWorkflowService" ref="deathRegistrationWorkflowService"/>
	</bean>	
	
    <bean id="registrationUnitService" class="org.egov.bnd.services.masters.RegistrationUnitService" parent="persistenceService">
	    <property name="type" value="org.egov.bnd.model.RegistrationUnit"/>
	 </bean>
	 
     <bean id="establishmentService" class="org.egov.bnd.services.masters.EstablishmentService" parent="persistenceService">
	    <property name="type" value="org.egov.bnd.model.Establishment"/>
	 </bean>
	 
	 <bean id="adoptionInstituteService" class="org.egov.bnd.services.masters.AdoptionInstituteService" parent="persistenceService">
	    <property name="type" value="org.egov.bnd.model.AdoptionInstitute"/>
	 </bean>
	  <bean id="registrarService" class="org.egov.bnd.services.masters.RegistrarService" parent="persistenceService">
	    <property name="type" value="org.egov.bnd.model.Registrar"/>
	 </bean>
	 <bean id="nonAvailableRegService" class="org.egov.bnd.services.registration.NonAvailabilityRegistrationService" parent="persistenceService">
    <property name="type" value="org.egov.bnd.model.NonAvailability"/>
    <property name="numberGenerationService" ref="numberGenerationService"/>
     <property name="persistenceService" ref="persistenceService"/>
    </bean>
    
    <bean id="sideLetterService" class="org.egov.bnd.services.registration.SideLetterService" parent="persistenceService">
    <property name="type" value="org.egov.bnd.model.SideLetter"/>
    <property name="numberGenerationService" ref="numberGenerationService"/>
    </bean>
    
     <bean id="viewReportService" class="org.egov.bnd.services.reports.ReportService" parent="persistenceService">
    	<property name="type" value="org.egov.bnd.model.ViewBirthDeathRegistration"/>
        <property name="bndCommonService" ref="bndCommonService"/>
     </bean>
    
    
     <bean id="searchByReceiptService" class="org.egov.bnd.services.search.SearchByReceiptService" parent="persistenceService" >
		<property name="type" value="org.egov.bnd.model.Registration" />
		<property name="persistenceService" ref="persistenceService"/>
	 </bean>
	  <bean id="paymentReportService" class="org.egov.bnd.services.reports.PaymentReportService" parent="persistenceService">
    	<property name="type" value="org.egov.bnd.model.BndPaymentReport"/>
        <property name="bndCommonService" ref="bndCommonService"/>
    </bean>
</beans>
