@charset "UTF-8";

.Accordion {
	overflow: hidden;
	}

.AccordionPanel {
	margin: 0px;
	padding: 0px;
	}

.AccordionPanelTab {
	background-color: #CCCCCC;
	border-top: solid 1px #64B8ED;
	border-bottom: solid 1px gray;
	margin: 0px;
	padding: 4px;
	cursor: pointer;
	-moz-user-select: none;
	-khtml-user-select: none;
	background-image: url(../image/thbg.gif);
	background-repeat: repeat-x;
	}

.AccordionPanelContent {
	overflow: auto;
	margin: 0px;
	padding: 0px;
	height: 250px;
	}

.AccordionPanelOpen .AccordionPanelTab {
	background-color: #BEBEBE;
	}

.AccordionPanelTabHover {
	color: #555555;
	}
	
.AccordionPanelOpen .AccordionPanelTabHover {
	color: #555555;
	}

.AccordionFocused .AccordionPanelTab {
	background-color: #416A9C;
	}

.AccordionFocused .AccordionPanelOpen .AccordionPanelTab {
	background-color: #72A3CC;
	}