<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
	default-lazy-init="true">	
		
	<bean id="contractorService" class="org.egov.works.services.ContractorService" parent="persistenceService">
		<property name="type" value="org.egov.works.models.masters.Contractor"/>
		<property name="commonsService" ref="commonsService" />
		<property name="contractorGradeService" ref="contractorGradeService" />
		<property name="departmentService" ref="departmentService" />
		<property name="worksService" ref="worksService" />
		<property name="contractorDetailService" ref="contractorDetailService" />
	</bean>
   
   <bean id="fundingAgencyService" class="org.egov.egf.masters.services.FundingAgencyService" parent="persistenceService" >
      <property name="type" value="org.egov.egf.masters.model.FundingAgency"/>
   </bean>
	
	<bean id="projectCodeService" class="org.egov.works.services.ProjectCodeService" parent="persistenceService">
		<property name="type" value="org.egov.works.models.estimate.ProjectCode"/>
	</bean>
	
	<bean id="depositCodeService" class="org.egov.works.services.DepositCodeService" parent="persistenceService">
		<property name="type" value="org.egov.works.models.masters.DepositCode"/>
	</bean>
	
	 <bean id="contractorGradeService" parent="persistenceService">
		<property name="type" value="org.egov.commons.ContractorGrade" />
	</bean>
	    
     <bean class="org.egov.works.services.WorksService" id="worksService" scope="prototype">
		<property name="genericHibDao" ref="genericHibDao"/>
		<property name="employeeService" ref="employeeService"/>		
		<property name="commonsService" ref="commonsService" /> 
	</bean>
	
	<bean class="org.egov.works.services.qualityControl.JobHeaderService" id="jobHeaderService" parent="persistenceService">
               <property name="type" value="org.egov.works.models.qualityControl.JobHeader" />
    </bean>
    
	<bean id="contractorDetailService" parent="persistenceService">
		<property name="type" value="org.egov.works.models.masters.ContractorDetail" />
	</bean>
	
	 <bean id="genericHibDao" class="org.egov.infstr.commons.dao.GenericHibernateDaoFactory" scope="prototype"/>
			 	
</beans>

