<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<meta name="description" content="Neon Admin Panel" />
		<meta name="author" content="" />
		
		<title>eGov Urban Portal</title>
		
		<link rel="stylesheet" href="../css/bootstrap/bootstrap.css">
		<link rel="stylesheet" href="../css/font-icons/entypo/css/entypo.css">
		<link rel="stylesheet" href="../css/egov/custom.css">
		<link rel="stylesheet" href="../css/egov/header-custom.css">
		<script src="../js/jquery/jquery.js"></script>
		
		<!--[if lt IE 9]><script src="resources/js/ie8-responsive-file-warning.js"></script><![endif]-->
		
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
		
		
	</head>
	<body class="page-body login-page ">
		<div class="page-container">
			
			<header class="navbar navbar-fixed-top"><!-- set fixed position by adding class "navbar-fixed-top" -->
				
				<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
					<div class="container-fluid">
						<div class="navbar-header col-md-10 col-xs-10">
							<a class="navbar-brand" href="javascript:void(0);">
								<img src="../images/chennai_logo.jpg" height="60">
								<div>
									
									<span class="title2">Chennai Municipal Corporation</span>
								</div>
							</a>
						</div>
						
						<div class="nav-right-menu col-md-2 col-xs-2">
							<ul class="hr-menu text-right">
								<li class="ico-menu">
									<a href="javascript:void(0);">
										<img src="../images/logo@2x.png" title="Powered by eGovernments" height="20px">
									</a>
								</li>
								
							</ul>
						</div>
						
					</div>
				</nav>
				
			</header>
			<div class="main-content login-page">
				<div class="main-before-footer">
					<div class="login-content login-content-margin">
						<div class="login-header">
							<a href="signin.html" class="logo">
								<img src="../images/egov_logo_tr_h.png" alt="" height="37"/>
							</a>
							<h4 class="header-description">Recover Password</h4>
						</div>
						<div class="login-body">
							<form method="post" role="form" id="">
								
								<div class="form-group">
									
									<div class="input-group">
										<div class="input-group-addon">
											<i class="entypo-mail theme-color"></i>
										</div>
										
										<input type="text" class="form-control" name="email" id="email" placeholder="Email or Mobile number" autocomplete="off" />
									</div>
									
								</div>
								<div class="form-group">
									<div class="row">
										<div class="col-md-6 col-xs-6 text-left">
											<a href="signin.html" >Log In Now
											</a>
										</div>
										<div class="col-md-6 col-xs-6 text-right">
											<button type="submit" class="btn btn-primary btn-login">
												<i class="entypo-check"></i>
												Recover
											</button>
										</div>
									</div>
								</div>
							</form>
						</div>
						
					</div>
				</div>
				
				<footer class="main">
					
					Powered by <a href="http://eGovernments.org" target="_blank">eGovernments Foundation</a>
					
				</footer> 
				
			</div>
			
			
		</div>
		
		
		
		
		<script src="../js/bootstrap/bootstrap.js"></script>
	</body>
</html>										