<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd"
       default-lazy-init="true">
	   
       <bean id="employeeService" class="org.egov.pims.service.EmployeeServiceImpl"></bean>

       <bean id="eisLeaveService" class="org.egov.pims.empLeave.service.EmpLeaveServiceImpl"></bean>

       <bean id="eisPayrollService" class="org.egov.payroll.services.payslip.PayRollServiceImpl"></bean>

	   <bean id="employeePnsnServicer" class="org.egov.pims.empPension.service.EmpPensionServiceImpl"></bean>
	  
	   <bean id="pensionService" class="org.egov.payroll.services.pension.PensionServicImple"></bean> 
	   
	   <bean id="payrollService" class="org.egov.payroll.services.payslip.PayRollServiceImpl"></bean>
	   
	   <bean id="eiscommonsService" class="org.egov.pims.commons.service.EisCommonsServiceImpl"> </bean>
	
</beans>