body {
  font-family: 'Times New Roman';
  font-size: 12pt;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  color: Black;
  background-color: White;
  text-transform: none;
}
p {
  margin-top: 0pt;
  margin-right: 0pt;
  margin-bottom: 0pt;
  margin-left: 0pt;
  text-indent: 0pt;
  text-align: left;
  line-height: normal;
}
.ts0 {
  font-family: Arial;
  font-size: 16pt;
}
.ts1 {
  font-family: Arial;
  font-size: 13pt;
  font-weight: bold;
}
.ts2 {
  font-family: Arial;
  font-size: 11pt;
}
.ts3 {
  font-family: Arial;
  font-size: 11pt;
  text-decoration: underline;
  color: Blue;
}
.ts4 {
  font-family: Verdana;
  font-size: 16pt;
}
.ts5 {
  font-family: Verdana;
  font-size: 10pt;
  font-weight: bold;
}
.ts6 {
  font-family: Verdana;
  font-size: 10pt;
  color: Black;
}
.ts7 {
  font-family: Verdana;
  font-size: 8pt;
}
.ts8 {
  font-family: Arial;
  font-size: 10pt;
}
.ts9 {
  font-family: Arial;
}
.ts10 {
  font-family: Verdana;
  font-size: 8pt;
  font-style: italic;
}
.ts11 {
  font-size: 4pt;
}
.ts12 {
  font-family: Verdana;
  font-size: 10pt;
}
.ts13 {
  font-family: Verdana;
  font-size: 16pt;
  color: Black;
}
.ts14 {
  font-family: Verdana;
  font-size: 16pt;
}
.ts15 {
  font-family: Verdana;
  font-size: 10pt;
}
.ts16 {
  font-family: Verdana;
  font-size: 10pt;
  font-weight: bold;
  color: Black;
}
.ts17 {
  font-family: Verdana;
  font-size: 10pt;
  font-weight: bold;
}
.ts18 {
  font-family: Verdana;
  font-size: 10pt;
  font-weight: bold;
  font-style: italic;
  color: Black;
}
.ts19 {
  font-family: Verdana;
  font-size: 10pt;
}
.ts20 {
  font-family: Verdana;
  font-size: 10pt;
  font-style: italic;
  color: Black;
}
.hs0 {
  font-family: Verdana;
  font-size: 8pt;
  font-style: italic;
  text-decoration: underline;
  color: Blue;
}
a.hs0:hover {
  color: Red;
}
.hs1 {
  font-family: Verdana;
  font-size: 10pt;
  font-style: italic;
  text-decoration: underline;
  color: Blue;
}
.hs2 {
  font-family: Verdana;
  font-size: 10pt;
  text-decoration: underline;
  color: Blue;
}
.ps0 {
  margin-bottom: 1pt;
  text-align: center;
}
.ps1 {
  margin-bottom: 1pt;
}
.ps2 {
  margin-top: 5px;
}
.ps3 {
  text-align: right;
}
.ps4 {
  margin-bottom: 0.04cm;
}
.ps5 {
  margin-left: 7.9375mm;
  text-indent: -3.70416666666667mm;
}
.ps6 {
  margin-bottom: 1pt;
  margin-left: 7.9375mm;
  text-indent: -3.70416666666667mm;
}
.ps7 {
  margin-left: 2mm;
  text-indent: 2mm;
}
.ps8 {
  margin-bottom: 1pt;
  margin-left: 2mm;
  text-indent: 2mm;
}
.ps9 {
  margin-left: 10.31875mm;
  text-indent: -6.08541666666667mm;
}
.ps10 {
  margin-left: 12.7mm;
  text-indent: -8.46666666666667mm;
}
.ps11 {
  margin-bottom: 1pt;
  margin-left: 48px;
}
.ps12 {
  margin-bottom: 1pt;
  margin-left: 10.31875mm;
  text-indent: -6.08541666666667mm;
}
.ps13 {
  margin-left: 12mm;
  text-indent: 10mm;
}
.ps14 {
  margin-bottom: 1pt;
  margin-left: 12mm;
  text-indent: 10mm;
}
.ps15 {
  text-indent: 10mm;
}
.ps16 {
  margin-bottom: 1pt;
  text-indent: 10mm;
}
.ps17 {
  margin-top: 1pt;
  margin-bottom: 1pt;
  margin-left: 22.225mm;
}
.ps18 {
  margin-top: 1pt;
  margin-bottom: 1pt;
  margin-left: 15.08125mm;
}
.ps19 {
  margin-left: 36.75pt;
  text-indent: 18pt;
}
.ps20 {
  margin-left: 76.5pt;
  text-indent: -21.75pt;
}
.ps21 {
  margin-top: 1pt;
  margin-bottom: 1pt;
  margin-left: 40px;
  text-indent: 25px;
}
.ps22 {
  margin-left: 20mm;
}
.ps23 {
  margin-left: 26.9875mm;
  text-indent: -6.87916666666667mm;
}
.ps24 {
  margin-left: 26.9875mm;
  text-indent: -5.02708333333333mm;
  text-align: justify;
}
.ps25 {
  margin-left: 22.225mm;
  text-indent: -9.525mm;
}
.ps26 {
  margin-left: 26.9875mm;
}
.ps27 {
  margin-left: 91.28125mm;
  text-indent: -69.05625mm;
}
.ps28 {
  margin-left: 86.51875mm;
  text-indent: -64.29375mm;
}
.ps29 {
  margin-bottom: 1pt;
  margin-left: 84.1375mm;
  text-indent: -61.9125mm;
}
.ps30 {
  margin-left: 25.9291666666667mm;
  text-indent: -6.08541666666667mm;
}
.ps31 {
  margin-bottom: 1pt;
  margin-left: 25.9291666666667mm;
  text-indent: -6.08541666666667mm;
}
.ps32 {
  margin-bottom: 0.04cm;
  margin-left: 25.9291666666667mm;
  text-indent: -6.08541666666667mm;
}
.ps33 {
  margin-bottom: 1pt;
  margin-left: 10.31875mm;
}
.ps34 {
  margin-left: 25.9291666666667mm;
  text-indent: -2.38125mm;
}
.ps35 {
  margin-bottom: 1pt;
  margin-left: 25.9291666666667mm;
  text-indent: -2.38125mm;
}
.ps36 {
  margin-bottom: 1pt;
  margin-left: 3px;
  text-indent: 36px;
}
.ps37 {
  margin-left: 10.31875mm;
  text-indent: -2.38125mm;
}
.ps38 {
  margin-left: 2.11666666666667mm;
  text-indent: 5.82083333333333mm;
}
.ps39 {
  margin-bottom: 1pt;
  margin-left: 12.7mm;
  text-indent: -8.46666666666667mm;
}
.ps40 {
  margin-bottom: 1pt;
  margin-left: 12px;
  text-indent: 36px;
}
.ps41 {
  margin-left: 12.9645833333333mm;
  text-indent: 10mm;
}
.ps42 {
  margin-bottom: 1pt;
  margin-left: 12.9645833333333mm;
  text-indent: 10mm;
}
.ps43 {
  margin-left: 23.8125mm;
  text-indent: -1.85208333333333mm;
}
.ps44 {
  margin-left: 50.8mm;
  text-indent: -28.8395833333333mm;
}
.ps45 {
  margin-top: 1pt;
  margin-bottom: 1pt;
  margin-left: 36.5125mm;
  text-indent: -9.525mm;
}
.ps46 {
  margin-left: 43.65625mm;
  text-indent: -21.6958333333333mm;
}
.ps47 {
  margin-bottom: 1pt;
  margin-left: 36.5125mm;
  text-indent: -14.5520833333333mm;
}
.ps48 {
  margin-bottom: 1pt;
  margin-left: 39px;
}
.ps49 {
  text-indent: 2.38125mm;
}
.ps50 {
  margin-bottom: 1pt;
  text-indent: 2.38125mm;
}
.ps51 {
  margin-left: 26.9875mm;
  text-indent: -5.02708333333333mm;
}
.ps52 {
  margin-bottom: 1pt;
  margin-left: 26.9875mm;
  text-indent: -5.02708333333333mm;
}
.ps53 {
  margin-top: 1pt;
  margin-bottom: 1pt;
  margin-left: 26.9875mm;
  text-indent: -5.02708333333333mm;
}
.ps54 {
  margin-left: 12.9645833333333mm;
  text-indent: -2.64583333333333mm;
}
.ps55 {
  margin-left: 11.1125mm;
  text-indent: -1.05833333333333mm;
}
.ps56 {
  margin-bottom: 1pt;
  margin-left: 11.1125mm;
  text-indent: -1.05833333333333mm;
}
.ps57 {
  margin-bottom: 1pt;
  margin-left: 2.11666666666667mm;
  text-indent: 2.11666666666667mm;
}
.ps58 {
  margin-bottom: 1pt;
  text-indent: 39px;
}
.ps59 {
  margin-top: 1pt;
  margin-bottom: 1pt;
}
.ps60 {
  margin-bottom: 1pt;
  margin-left: 9.525mm;
  text-indent: -5.29166666666667mm;
}
.ps61 {
  margin-left: 26.19375mm;
  text-indent: -4.23333333333333mm;
}
.ps62 {
  margin-bottom: 1pt;
  margin-left: 26.19375mm;
  text-indent: -4.23333333333333mm;
}
.ps63 {
  margin-left: 12.9645833333333mm;
  text-indent: -5.02708333333333mm;
}
.ps64 {
  margin-bottom: 1pt;
  margin-left: 12.9645833333333mm;
  text-indent: -5.02708333333333mm;
}
.ps65 {
  margin-left: 2.11666666666667mm;
  text-indent: 2.11666666666667mm;
}
.ps66 {
  margin-bottom: 0.04cm;
  margin-left: 26.9875mm;
  text-indent: -5.02708333333333mm;
}
.ps67 {
  margin-bottom: 0.04cm;
  margin-left: 12mm;
  text-indent: 10mm;
}
.ps68 {
  margin-top: 1pt;
  margin-bottom: 1pt;
  margin-left: 10.31875mm;
  text-indent: -6.08541666666667mm;
}
.ps69 {
  margin-top: 0.04cm;
  margin-bottom: 0.04cm;
  margin-left: 12mm;
  text-indent: 10mm;
}
.ps70 {
  margin-top: 0.04cm;
  margin-bottom: 0.04cm;
  margin-left: 26.9875mm;
  text-indent: -5.02708333333333mm;
}