body {
  font-family: 'Times New Roman';
  font-size: 12pt;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  color: Black;
  background-color: White;
  text-transform: none;
}
p {
  padding-top: 0pt;
  padding-right: 0pt;
  padding-bottom: 0pt;
  padding-left: 0pt;
  text-indent: 0pt;
  text-align: left;
  line-height: normal;
  margin: 0px;
}
.ts0 {
  font-family: Verdana;
  font-size: 8pt;
}
.ts1 {
  font-family: Verdana;
  font-size: 8pt;
  font-style: italic;
}
.ts2 {
  font-family: Arial;
  font-size: 10pt;
}
.ts3 {
  font-size: 4pt;
}
.ts4 {
  font-family: Arial;
  font-size: 16pt;
  font-weight: bold;
}
.ts5 {
  font-family: Arial;
  font-size: 13pt;
  font-weight: bold;
}
.ts6 {
  font-family: Arial;
  font-size: 11pt;
  font-weight: bold;
}
.ts7 {
  font-family: Arial;
  font-size: 11pt;
  text-decoration: underline;
  color: Blue;
}
.ts8 {
  font-family: Verdana;
  font-size: 16pt;
}
.ts9 {
  font-family: Verdana;
  font-size: 10pt;
  font-weight: bold;
}
.ts10 {
  font-family: Verdana;
  font-size: 10pt;
  color: Black;
}
.ts11 {
  font-family: Verdana;
  font-size: 10pt;
}
.ts12 {
  font-family: Verdana;
  font-size: 14pt;
  color: Black;
}
.ts13 {
  font-family: Verdana;
  font-size: 14pt;
}
.ts14 {
  font-family: Verdana;
  font-size: 16pt;
  color: Black;
}
.ts15 {
  font-family: Verdana;
  font-size: 16pt;
}
.ts16 {
  font-family: Verdana;
  font-size: 10pt;
  font-weight: bold;
  color: Black;
}
.ts17 {
  font-family: Verdana;
  font-size: 10pt;
}
.ts18 {
  font-family: Verdana;
  font-size: 10pt;
  color: Black;
}
.ts19 {
  font-family: Webdings;
  font-size: 9pt;
  color: Black;
}
.ts20 {
  font-family: Verdana;
  font-size: 10pt;
}
.ts21 {
  font-family: Verdana;
  font-size: 14pt;
}
.ts22 {
  font-family: Verdana;
  font-size: 10pt;
  font-style: italic;
}
.ts23 {
  font-family: Verdana;
  font-size: 10pt;
  font-weight: bold;
  font-style: italic;
  color: Black;
}
.ts24 {
  font-family: Verdana;
  font-size: 10pt;
  font-weight: bold;
  color: Black;
}
.ts25 {
  font-family: Verdana;
  font-size: 10pt;
  font-weight: bold;
}
.ts26 {
  font-family: 'Courier New';
  font-size: 10pt;
}
.ts27 {
  color: Black;
}
.ts28 {
  font-family: Verdana;
  font-size: 11pt;
  font-weight: bold;
}
.ts29 {
  font-family: Verdana;
  font-size: 10pt;
  font-style: italic;
  color: Black;
}
.ts30 {
  font-family: Arial;
  font-size: 10pt;
  font-weight: bold;
  color: Black;
}
.ts31 {
  font-family: Arial;
  font-size: 10pt;
  color: Black;
}
.ts32 {
  font-family: Arial;
  font-size: 10pt;
}
.ts33 {
  font-family: Wingdings;
  font-size: 10pt;
  color: Black;
}
.ts34 {
  font-family: 'Arial Bold';
  font-weight: bold;
  color: #007cc3;
}
.ts35 {
  font-family: Arial;
  text-decoration: underline;
  color: Blue;
}
.ts36 {
  font-family: Arial;
  font-size: 10pt;
  color: Black;
  background-color: White;
}
.ts37 {
  font-family: Verdana;
  font-size: 10pt;
  font-style: italic;
}
.hs0 {
  font-family: Verdana;
  font-size: 8pt;
  font-style: italic;
  text-decoration: underline;
  color: Blue;
}
a.hs0:hover {
  color: Red;
}
.hs1 {
  font-family: Verdana;
  font-size: 10pt;
  text-decoration: underline;
  color: Blue;
}
.ps0 {
  padding-top: 5px;
}
.ps1 {
  text-align: right;
}
.ps2 {
  text-align: center;
}
.ps3 {
  padding-bottom: 1pt;
  text-align: center;
}
.ps4 {
  padding-bottom: 1pt;
}
.ps5 {
  padding-left: 1.27cm;
  text-indent: -0.64cm;
}
.ps6 {
  padding-left: 2mm;
  text-indent: 2mm;
}
.ps7 {
  padding-left: 10.31875mm;
  text-indent: -6.08541666666667mm;
}
.ps8 {
  padding-bottom: 1pt;
  padding-left: 2mm;
  text-indent: 2mm;
}
.ps9 {
  padding-bottom: 1pt;
  padding-left: 10.31875mm;
  text-indent: -6.08541666666667mm;
}
.ps10 {
  padding-left: 12mm;
  text-indent: 10mm;
}
.ps11 {
  padding-bottom: 1pt;
  padding-left: 12mm;
  text-indent: 10mm;
}
.ps12 {
  text-indent: 7.9375mm;
}
.ps13 {
  padding-left: 7.9375mm;
  text-indent: -3.70416666666667mm;
}
.ps14 {
  padding-left: 26.9875mm;
  text-indent: -5.02708333333333mm;
}
.ps15 {
  padding-left: 26.9875mm;
}
.ps16 {
  padding-left: 7.9375mm;
}
.ps17 {
  padding-left: 10.31875mm;
}
.ps18 {
  padding-left: 38.89375mm;
  text-indent: -2.91041666666667mm;
}
.ps19 {
  padding-left: 24.60625mm;
  text-indent: -24.60625mm;
}
.ps20 {
  padding-left: 24.60625mm;
}
.ps21 {
  padding-left: 26.9875mm;
  text-indent: -26.9875mm;
}
.ps22 {
  padding-left: 55.5625mm;
  text-indent: -33.6020833333333mm;
}
.ps23 {
  padding-left: 15.75pt;
  text-indent: 6.75pt;
}
.ps24 {
  padding-top: 6pt;
  text-align: center;
}
.ps25 {
  padding-left: 8.20208333333333mm;
  text-indent: -3.96875mm;
}
.ps26 {
  padding-left: 10.5833333333333mm;
}
.ps27 {
  padding-top: 6pt;
  padding-left: 2mm;
  text-indent: 2mm;
}
.ps28 {
  padding-top: 6pt;
  padding-left: 1.03cm;
  text-align: center;
}
.ps29 {
  padding-top: 6pt;
  padding-left: 10.31875mm;
}
.ps30 {
  padding-top: 6pt;
  padding-left: 10.31875mm;
  text-indent: -6.08541666666667mm;
}
.ps31 {
  padding-top: 6pt;
}
.ps32 {
  padding-left: 29.25pt;
}
.ps33 {
  text-align: justify;
  line-height: 150%;
}
.ps34 {
  padding-left: 7.9375mm;
  text-indent: 2.38125mm;
}
.ps35 {
  padding-left: 22.5pt;
}
.ps36 {
  padding-left: 12.9645833333333mm;
  text-indent: 10mm;
}
.ps37 {
  padding-left: 26.9875mm;
  text-indent: -3.96875mm;
}
.ps38 {
  padding-left: 10.31875mm;
  text-indent: -2.38125mm;
}
.ps39 {
  padding-left: 36.5125mm;
  text-indent: -14.5520833333333mm;
}
.ps40 {
  padding-left: 26.9875mm;
  text-indent: -16.66875mm;
}
.ps41 {
  padding-left: 24.8708333333333mm;
  text-indent: -2.91041666666667mm;
}
.ps42 {
  padding-left: 8.20208333333333mm;
}
.ps43 {
  text-indent: 10.31875mm;
}
.ps44 {
  padding-top: 2pt;
  padding-bottom: 6pt;
  text-align: justify;
}
.ps45 {
  padding-top: 2pt;
  padding-bottom: 6pt;
}
.ps46 {
  padding-top: 2pt;
  padding-bottom: 6pt;
  padding-left: 54pt;
  text-indent: -18pt;
}
.ps47 {
  padding-left: 54pt;
  text-indent: -18pt;
}
.ps48 {
  padding-left: 18pt;
}