<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<meta name="description" content="Neon Admin Panel" />
		<meta name="author" content="" />
		
		<title>eGov Urban Portal</title>
		
		<link rel="stylesheet" href="../css/bootstrap/bootstrap.css">
		<link rel="stylesheet" href="../css/font-icons/entypo/css/entypo.css">
		<link rel="stylesheet" href="../css/egov/custom.css">
		
		<!--[if lt IE 9]><script src="resources/js/ie8-responsive-file-warning.js"></script><![endif]-->
		
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
		
		
	</head>
	<body  class="page-body">
		<div class="page-container">	
			<div class="main-content">
				<div class="page-error-404">
					
					
					<div class="error-symbol">
						<i class="entypo-attention"></i>
					</div>
					
					<div class="error-text">
						<h2>404</h2>
						<p>Page not found!</p>
					</div>
				
				<hr />
				
			</div>
		</div>
	</div>
</body>
</html>